<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/beautiful">--><a [routerLink]="['/beautiful']"><img src="assets/images/lyfehairhand-bodyleftblockimg1.png" alt="#"></a>
      <!--<a href="/hairhandsnailsfeet">--><a [routerLink]="['/hairhandsnailsfeet']"><img src="assets/images/lyfehairhand-bodyleftblockimg2.png" alt="#"></a>
      <!--<a href="/home_beauty_remedies">--><a [routerLink]="['/homebeautyremedies']"><img src="assets/images/lyfehairhand-bodyleftblockimg3.png" alt="#"></a>
      <!--<a href="/newmomsguide">--><a [routerLink]="['/newmomsguide']"><img src="assets/images/lyfehairhand-bodyleftblockimg4.png" alt="#"></a>
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/lyfehairhand-bodyleftblockimg5.png" alt="#"></a>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 homebeauty-bodyrightblock">

      <img src="assets/images/homebeauti-bodyrightblockimg1.png" class="homebeauti-bodyrightblockimg1" alt="#">
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon1 lyfehairhandhead">
              <h1>Pineapple Papaya Facial</h1>
            </div>

            <div class="lyfehairhand-bodyrightblockcon1content lyfehairhandcontent">
              <h1>Pineapple Papaya Facial Mask</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">

                    <h2>The last time I had a facial my aesthetician told me I had a lot of sunspots<br><br>

                      on my cheeks and recommended laser treatment to remove them.</h2>
                    <h2>Before signing up for lasers I did a little online research and found a<br>
                      lovely all natural solution to minimize those blotches and freckles.</h2>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h3>Why Pineapple & Papaya?</h3>
                    <ul>
                      <li><span>Unripe papaya contains natural alpha-hydroxy acids and high   levels of papain, an enzyme that helps dissolve dead skin cells.</span></li>
                      <li><span>Pineapple has lots of the enzyme bromelain, which helps remove the outer layers of skin to reduce age spots and wrinkles.<span></span></span></li>
                      <li><span>Used together, the enzymes and AHAs in papaya and
pineapple naturally exfoliate and lighten skin color.</span></li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon1contentneedblock">
                    <h3>You’ll need:</h3>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">

                          <h4>1/2 fresh papaya, peeled and seeded</h4>
                          <h4>1 cup fresh pineapple</h4>
                          <h4>1 tablespoon honey (optional)</h4>
                        </div>
                        <div class=" col-lg-4 col-md-3 col-sm-12 col-xs-12">
                          <img src="assets/images/homebeauty-bodyrightblockcon1contentimg1.png" class="homebeauty-bodyrightblockcon1contentimg1" alt="#">
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon1contentintroblock">
                    <h3>Instructions:</h3>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">


                          <h4>1. Juice papaya and pineapple in a juicer if you have one. If you don’t have a juicer, you can mash the fruit together or put it in a blender. Strain out the pulp with fine mesh strainer or cheesecloth.</h4>
                          <h4>2. Gently wash your chest, neck and face.</h4>
                          <h4>3. Use a cotton ball to apply juice to chest, neck and face. Avoid the eye area - yeah, it stings. You can also do the backs of your hands at the same time.</h4>
                        </div>
                        <div class="clearfix"></div>
                      </div>

                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon1contentintroblockbtm">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4>4. Lie down and let it work for 10-15 minutes. It will tingle and itch. This is the AHAs working so try not to scratch.</h4>
                          <h4>5. Rinse with warm water and moisturize. Again, I highly recommend coconut oil.</h4>
                          <h4>You can do this mask 1-2 times a week. And if you have extra juice, it will keep in the refrigerator in a closed
                            container for a week.</h4>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3>To create a simple acne facial mask, you'll need the following:</h3>
                      </div>
                    </div>
                  </div>
                  <div class="container lyfehairhand-bodyrightblockcon1contentbtmbg">

                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-12 col-sm-offset-0 col-xs-6 col-xs-offset-6">
                        <ul>
                          <li><span>1  tablespoon of honey (for it's antibacterial and antioxidant
   properties)</span></li>
                          <li><span>1  tablespoon of baking soda (for its exfoliating properties)<br><br> 2  tablespoon of water (purified or distilled)</span></li>
                          <li><span>4  to 6 drops of Tea Tree Oil (to lessen inflammation and dry up acne) </span></li>
                        </ul>
                        <h3>Option: add lemon essence to lessen pigmentation
                          from the acne scars.</h3>
                        <h4>1  Mix all ingredients in a sanitized bowl.</h4>
                        <h4>2  Cleanse skin with your favorite acne facial wash and toner.</h4>
                        <h4>3  Apply the mixture with a clean spatula all over your face,
                          avoiding eye area and corners of the lips. </h4>
                        <h4>4  Leave it on for 20 to 30 minutes or until it looks dry.</h4>
                        <h4>5  Wash mask with tepid or lukewarm water. Use a towelette to
                          easily remove the mask but be very gentle.</h4>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="container homebeauty-pappablock">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="assets/images/homebeauty-pappaimg.png" alt="#" class="homebeauty-pappaimg">
                        <img src="assets/images/homebeauty-pappatext.png" alt="#" class="homebeauty-pappatext">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon2 lyfehairhandhead">
              <h1>detox bath</h1>
            </div>

            <div class="lyfehairhand-bodyrightblockcon2content lyfehairhandcontent">
              <h1>Vinegar soothes and softens skin</h1>
              <div class="container">
                <div class="row">

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homebeuty-bathoption">
                    2 cups of Epsom salt

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homebeuty-bathoption">
                    1 tbs of ground ginger
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homebeuty-bathoption">
                    2 cups of Baking soda
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homebeuty-bathoption">
                    1 cup of Vinegar
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homebeuty-bathoption">
                    2 cups of Sea salt
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homebeuty-bathoption">
                    A few drops of oil
                  </div>


                </div>

              </div>

              <div class="clearfix"></div>
              <div class="container lyfehairhand-bodyrightblockcon2contentbtm">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon2contentbtmcon">
                    <h2>Benefits:</h2>
                    <ul>
                      <li><span>Epsom salt draws toxins from the body, relieving aches and pains.</span></li>
                      <li><span>Baking soda balances an overly-acidic system, refreshing, energizing, and softening the skin.</span></li>
                      <li><span>Sea salt soothes, healing open sores and blemishes.</span></li>
                      <li><span>Ground ginger helps circulation.</span></li>
                      <li><span>Vinegar soothes and softens skin.</span></li>
                    </ul>
                    <h2>Directions:</h2>
                    <p>Combine dry ingredients, sorting in a dry container. At bath time add one cup of dry ingredient mix and one cup vinegar to running hot water. Adding your favorite oil is optional. Enjoy the premium detox bath.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>


      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon3 lyfehairhandhead">
              <h1>Cucumber bath</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon3content lyfehairhandcontent">
              <h1>Cool as a Cucumber Soak</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2>Everyone knows cucumber slices make great eye
                      soothers, but who knew that they also worked on
                      sunburned skin?   Cucumbers and milk are natural
                      anti-inflammatory
                      ingredients.</h2>
                    <ul>
                      <li>6 large cucumbers, skin removed</li>
                      <li>pureed in a blender</li>
                      <li>2 c. powdered milk</li>
                      <li>2 tsp. Dried lavender flowers, if available (don’t use lavender oil)</li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p>Mix the ingredients and pour into a clean bottle.   Apply directly to skin or add 1 c. of the mixture
                      to a lukewarm bath and
                      soak for 20 minutes. </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 homebeauty-cucumberimg">
                    <img src="assets/images/homebeauty-cucumberimg.png" alt="#">
                  </div>
                </div>


              </div>
              <div class="clearfix"></div>
            </div>


          </div>
        </div>
      </div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon4 lyfehairhandhead">
              <h1>Dry, Itchy Skin</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon4content lyfehairhandcontent">
              <h1>Home Remedies for Dry, Itchy Skin</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>If you hate dry, itchy skin as much as I do, and feel like you have tried every kind of lotion available and nothing seems to do the trick, be sure to try out some of these home remedies for dry, itchy skin and see if any of them work for you.</h2>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ul>
                      <li><span>Add a cup of baking soda to your bath and soak for about 30 mins.  Does wonders.</span></li>
                      <li><span>You can also add a couple cups of oatmeal to your bath and let sit on your irritated skin.</span></li>
                      <li><span>Squeeze some gel directly from an aloe vera plant directly onto an especially irritated area of skin.</span></li>
                      <li><span>Rub coconut milk on your skin and allow to sit overnight.</span></li>
                      <li><span>Apple Cider Vinegar can be applied to a small area with a cotton ball, or added to your bath water for overall relief from itchy, dry skin.</span></li>
                      <li><span>Rub a lemon directly to your itchy irritated skin for instant relief.</span></li>
                      <li><span>Lightly heat some honey and let sit on the irritated area of skin for about 15 minutes.</span></li>
                      <li><span>Drinking more water will keep the skin more hydrated, hopefully taking away some of the dryness.</span></li>


                    </ul>

                    <div>
                      <div class="clearfix"></div>
                    </div>


                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon5 lyfehairhandhead">
              <h1>foot Scrub</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon5content lyfehairhandcontent">
              <h1>Soothing Sole Scrubber</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                      <li>We recommend the following for callused feet.</li>
                      <li>1/2 cup uncooked cornmeal</li>
                      <li>1/2 cup chilled sour cream</li>
                      <li>2 tablespoons olive oil</li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>


              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon5contentimg1con">
                    <img src="assets/images/homebeauty-footscrubimg1.png" alt="#">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon5contenttextcon">
                    <p>After showering, towel dry feet. Rub cornmeal onto feet (pay special
                      attention to dry patches on heels and toes) and rinse. Combine sour cream and olive oil in a bowl and massage mixture onto feet and calves. Sour cream contains natural softening agents and the olive oil leaves the skin looking radiant.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>




            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon6 lyfehairhandhead">
              <h1>Banana Shine Booster</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon6content lyfehairhandcontent">
              <h1>Banana Shine Booster</h1>
              <h2>Too much chlorine and sun can leave hair dry and broken. The best shine that nature can provide.</h2>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4>1/2 ripe banana,</h4>
                    <h4>1/2 avocado</h4>
                    <h4>1 heaping teaspoon plain yogurt</h4>
                    <h4>1 tablespoon olive oil</h4>

                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                    <p>After shampooing towel dry hair combine ingredients in a bowl or blender.  Work mixture into hair, coating the ends.  Those of you with oily scalps should section the hair and create four ponytails - top, back and one on each side and apply the mixture to the ponytails only.   Comb through. Cover head with a shower cap, plastic wrap or
                      warm towel. Allow mixture to sit for
                      25 minutes. Rinse with warm
                      water and shampoo.</p>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-lg-offset-3 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <img src="assets/images/homebeauty-bananaimg.png" class="homebeauty-bananaimg" alt="#">



                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="container lyfehairhand-bodyrightblock2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

              <div class="lyfehairhand-bodyrightblockcon7 lyfehairhandhead">
                <h1>Whiter Nails</h1>
              </div>
              <div class="lyfehairhand-bodyrightblockcon7content lyfehairhandcontent">
                <h1>How to Get Whiter Nails</h1>
                <h2>Lightly buff the top of your nails.</h2>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                      <ul>
                        <li>1/2 cup of HOT water in a bowl.</li>
                        <li>4 tablespoons baking soda and stir until mostly dissolved.</li>
                        <li>2 tablespoons of peroxide.</li>
                        <li>Soak nails in the solution for about a minute</li>
                        <li>(You can soak them longer if you
                          have the patience, I don't! It
                          works quickly though.)</li>

                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h3><span>The</span>baking soda will not dissolve fully, </h3>
                      <p>you can use the excess to gently exfoliate your nails while they are submerged in the solution. Repeat until your desired whiteness.
                        This only works on natural nails. This also works to whiten teeth!</p>

                    </div>
                    <div class="clearfix"></div>




                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="clearfix"></div>
<!--
<div class="container-fluid lyfehairhand-bodybottomwrapper">
<div class="row">
<div class="col-lg-6 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomwrappercon">
<img src="system/themes/lyfeperformance/images/lyfehairhand-epiclogo.png" alt="#" />
<h1>Join us and build your own Epic Lyfe today!</h1>
</div>
<div class="clearfix"></div>
</div>
</div>

<div class="container-fluid lyfehairhand-bodybottomcontent">
<div class="row">
<div class="col-lg-4 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomman">
<img src="system/themes/lyfeperformance/images/lyfehairhand-bodybottomman.png" alt="#" />
</div>
<div class="col-lg-7 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomtext">
<h1>create your own</h1>
<h2>epic lyfe</h2>
<h3>We are the relationship marketing company<br />
for the new millennium.</h3>
<div class="clearfix"></div>
<div class="distribute">
<a href="#">Join as a Distributor Today!</a>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>


<div class="container lyfehairhand-footerwrapper">
<div class="row">
<div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
<a href="#">Home</a><span>|</span>
<a href="#">Login</a><span>|</span>
<a href="#">Contact Us</a><span>|</span>
<a href="#">Terms & Conditions</a><span>|</span>
<a href="#">Privacy Policy</a>
</div>
<div class="col-lg-3 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
<p>Copyright © Epic Lyfe 2015</p>
</div>
</div>
</div>
-->




<script>
    $(document).ready(function(){
      /*
       $( "#lyfehairhand-bodyrightblockcon1" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon1content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon2" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon2content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon3" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon3content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon4" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon4content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon5" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon5content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon6" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon6content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon7" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon7content" ).toggle( ).delay( 3000 );
       });

       */

      /*$('.lyfehairhandhead').click(function(){
       if($(this).next('.lyfehairhandcontent').is(':hidden')){
       $('.lyfehairhandcontent').slideUp();
       $(this).next('.lyfehairhandcontent').slideDown();
       }else{
       $(this).next('.lyfehairhandcontent').slideUp();
       }

       $('html,body').animate({scrollTop:$(this).offset().top},'slow');

       });*/

        $('.lyfehairhandhead').click(function(){
            var curhead = $(this);
            if($(this).next('.lyfehairhandcontent').is(':hidden')){
                $('.lyfehairhandcontent').slideUp();
                $(this).next('.lyfehairhandcontent').slideDown('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });

            }else{
                $(this).next('.lyfehairhandcontent').slideUp('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });
            }
        });


    });



</script>