<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 table-responsive">
      <h4>View Logout Details</h4>
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Mail Id</th>
            <th>Ip Address</th>
            <th>Date</th>
            <th>Set Out Time</th>
          </tr>

          <tr *ngFor="let item of itemdetails; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.firstname}} {{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.Userlogindata.ipaddress}}</td>
            <td>{{item.Userlogindata.time*1000 | date:"MM/dd/yyyy"}}</td>
            <td><input type="button" value="Set Out Time" data-toggle="modal"  (click)="details(item.Userlogindata._id, item._id)"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog"  id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
        <div class="dashboard_right_wrapper">
          <div class="dashboard1_div1 table-responsive">
            <h4></h4>
        <!--    <table *ngIf="data" width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr>
                  <td>Name: </td>
                  <td>{{data[0].firstname}}{{data[0].lastname}}</td>
                  </tr>
                <tr>
                  <td>Logout Date</td>
                  <td>{{data[0].Userlogindata.time*1000 | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                </tr>
                <tr>
                  <td>Logout Time</td>
                  <td>{{data[0].Userlogindata.time*1000 | date:"h:mma"}}</td>
                </tr>

              </table>-->


            <div *ngIf="data">
              <div>{{data[0].firstname}}{{data[0].lastname}}</div>
              <div>
                <label>Date</label>
                <input type="text" [(ngModel)]="indate"></div>
              <div>
                <label>Time</label>
                <input type="text" [(ngModel)]="intime"></div>
            </div>
            <input type="submit" value="Set Logout Time" class="loginbtn2" (click)="submitvalue()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>