<div class="topcontain">

  <div class="mainwrapper">

    <div class="logo"><a href="/home"><img src="assets/images/logo.png"></a> </div>



    <div class="toprightpart">

      <div class="topmenu">

        <div class="menulink">MENU&#9776;</div>



        <div class="menulist">



          <a href="/home" >Home</a>
          <a href="/party"  >Party lyfe </a>
          <a href="/fit-lyfe"  >Fit Lyfe </a>
          <!--<a href="/beautiful">Beautiful lyfe </a>-->
          <a href="/home_beauty_remedies"  >Beautiful lyfe </a>
          <a href="/millennials"   >Millennials  </a>
          <!-- <a href="/heart" >Heart Health   </a>-->
          <a href="/heart_health"  >Heart Health   </a>
          <a href="/fitness"  >Fitness Challenge </a>
          <a href="http://epicsuccess.epiclyfe.com/opportunity?ai_bypass=true" class="lyfe_performance_class" target="_blank" >Opportunity </a>
          <a href="#" class="shop_class" target="_blank">Shop  </a>



        </div>

      </div>



      <div class="topsearchcontain" style="display:none;">



        <input type="text" placeholder="Search" class="searchinput">



        <input type="submit" class="searchbtn" value="">



        <div class="clear"></div>



      </div>









    </div>







    <div class="clear"></div>





  </div>





</div>