<div class="footerbody">

  <div class="mainwrapper">

    <div class="footertext">

      <div class="div1">
        <a href="#" target="_blank"> Corporate</a>
        <br/>
        <a href="#" target="_blank"> Shop</a> <br/>
        <a href="http://<?php echo $user_url?>epiclyfe.com/contact" target="_blank"> Contact Us</a> <br/>
        <a href="http://<?php echo $user_url?>epiclyfe.com/login" target="_blank"> Login</a>

      </div>
      <div class="border1"></div>
      <div class="div2">


        <a href="http://<?php echo $user_url?>epiclyfe.com/terms" target="_blank">  Terms and Conditions</a> <br/>
        <a href="http://<?php echo $user_url?>epiclyfe.com/privacy" target="_blank"> Privacy Statement</a>
      </div>

      <div class="clear"></div>

    </div>
  </div>

</div>