<!--
<p>
  perfect-posture works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
      <!--<a href="/bridal_massage">--><a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

      <div class="perfect_body">

        <img src="assets/images/perfect_posture_img2.png" alt="#" class="perfect_posture_img2">

        <img src="assets/images/perfect_posture_img1.png" alt="#" class="perfect_posture_img1">

        <div class="perfect_block1">

          <h2>Perfect Posture: Standing tall and proud makes a bride look slim and in control. Have a look at our posture building
          </h2>



          As a bride to be, chances are good that you will spend a tremendous amount of time, money, and effort to look your best for your wedding day. Weddings can cause you to stress over your appearance, often times embarking on terribly restrictive and unhealthy lifestyle choices in order to ensure a slimmer, trimmer more toned figure for that amazing day.<br>
          <br>


          Unfortunately, most brides totally neglect the single most important factor that will decide whether they truly look their best; posture. A recent study of bride photos proved conclusively that viewers judged the most beautiful brides to be the ones that did not exhibit one of the two major posture errors: the forward head tilt or the extended belly look. If you need more proof simply look at a handful of bride photos in a popular bride magazine, and the model’s posture skills will leap off the photos.<br>
          <br>


          So how do you ensure that you’ll look great to everyone and the camera on that most memorable day? With exercise and practice, you can make sure that your posture is great and you will look your best in that incredible dress! Here are three exercises that will ensure good, natural posture.

        </div>

        <div class="perfect_block2">
          <img src="assets/images/perfect_posture_img5.png" alt="#" class="perfect_posture_img5">

          <div class="perfect_listdiv1">
            <ul>

              <li>Lie flat on your back with your hands behind your head.</li>
              <li>Bend your knees and keep your feet flat on the floor.</li>
              <li>Press your lower back onto the floor while pulling up and in    with the muscles of the lower abdomen.</li>
              <li>Hold the contracted position for 5 seconds, relax and rest 10 seconds.</li>
              <li>Perform 10 repetitions</li>
              <li>As you master this technique and strengthen your abs and glutes, try completing the exercise with less bend in your knees. Masters will be able to perform this highly,
                effective strengthening exercise with their legs totally straight.</li>
            </ul>

          </div>

        </div>


        <div class="perfect_block3">
          <img src="assets/images/perfect_posture_img6.png" alt="#" class="perfect_posture_img6">

          <div class="perfect_listdiv2">
            <ul>

              <li>Lie face down on the floor</li>
              <li>Keep your arms at your sides and your palms up.</li>
              <li>Tuck your chin in and squeeze your glutes together.</li>
              <li>Lift your head and shoulders off the floor (keep your chin tucked) and squeeze shoulder blades together.</li>
              <li>Externally rotate your hands outward until your thumbs point upward.</li>
              <li>Hold that position for 10 seconds and relax for ten seconds.</li>
              <li>Perform 10 repetitions.</li>
              <li>Increase the total number of repetitions and decrease the rest time between repetitions as time passes.</li>
            </ul>

          </div>

        </div>


        <div class="clearfix"></div>



        <div class="perfect_block4">
          <img src="assets/images/perfect_posture_img7.png" alt="#" class="perfect_posture_img7">

          <div class="perfect_listdiv3">
            <ul>

              <li>   Lie face down on the floor.</li>
              <li> Your arms should be extended along side of your body.</li>
              <li> Tuck your chin in and squeeze your glutes (buttocks) together.</li>
              <li> Raise your right arm and your left leg simultaneously as high as you can.</li>
              <li> Hold for a count of 10 and relax for a count of 10.</li>
              <li> Perform the same movement using your left arm and right legs.</li>
              <li> Perform 10 repetitions on each side.</li>
            </ul>

          </div>


          <img src="assets/images/perfect_posture_img4.png" alt="#" class="perfect_posture_img4">
        </div>



        <div class="clearfix"></div>

        <div class="perfect_block5">Practice these exercises daily in your free time and you will find that
          perfect poised posture will become second nature to you. </div>




      </div>

    </div>


    <div class="clearfix"></div>
  </div>
</div>					