<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 table-responsive">
      <h4>Employee List</h4>


      <div style=" padding-bottom: 10px; width: 100%;">
        <div class="adminserchdiv">
          <label>Search :</label><input type="text" #listFilter (keyup)="0">
        </div>
        <a [routerLink]="['/addemployee']" class="adadminlink">Add Employee</a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>#</th>
            <th>Name<b [ngClass]="getSortClass('firstname')" (click)="manageSorting('firstname')" ></b></th>
            <th>Email<b [ngClass]="getSortClass('email')" (click)="manageSorting('email')" ></b></th>
            <th>Designation</th>
            <th>Note</th>
            <th>Action</th>
          </tr>

          <tr *ngFor="let item of datalist| orderBy:orderbyquery:orderbytype|usersearch:listFilter.value ; let i = index">
            <td id={{item._id}}>{{i+1}}</td>
            <td>{{item.firstname}} {{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.designation}}</td>
            <td><div [innerHTML]="_sanitizer.bypassSecurityTrustHtml(item.note)" ></div></td>


            <td>
              <a [routerLink]="['/editemployee',item._id]">Edit</a>
              <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="delConfirm(item._id)">Delete</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog"  id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this admin?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="employeedel()">Yes</button>
      </div>
    </div>
  </div>
</div>
