<div class="fitlyfe-bannerwrapper">
  <img src="assets/images/fitlyfe-bannerbg.png" alt="#">
</div>
<div class="fitlyfe-bodywrapper">
  <div class="mainwrapper">
    <div class="fitlyfe-block1left">
      <h2>There are over a hundred million men, women and children of different ages, genders, backgrounds and lifestyles, in the US alone, that need direction and support in looking and feeling their best. The main problem in helping them achieve results is that it is rarely straight forward or easy. Weight issues, health issues and appearance issues are all related in some fashion. For example, many people have injuries or joint problems which cause weight gain and sadly, a loss of an ideal image. Others have health issues that cause weight gain and lost appearance. Still others have psychological or personal issues that cause both weight gain, self-esteem and health issues. Some of these problems are related to aging, others to genetic predispositions, while others are from lifestyle precipitating factors...and so on.</h2><br>
      <h2>The one thing that runs through all of this is that people are either uninformed, or worse, misinformed. The fix for this is straightforward, honest information. The kind of information you will get here from me and my team of prestigious scientists and medical professionals. I'm a certified personal trainer and have been manufacturing the products for the last ten years.
      </h2>
    </div>
    <div class="fitlyfe-block1mddle">
      <h2>Another concern we have is that while most everyone WANTS information, most lack the attention spans to integrate it and utilize it. They want it packaged so that it comes at them fast, captures their attention, entertains, is on-demand and is even interactive. The day of the static message is dying fast. The bottom line is that today people want to be entertained. Entertainment without a message where a person can follow procedures to learn skills to change their lives is, well, just entertainment. It's just fun…like clowns at the circus....please pass me the cotton candy. For example, one hundred million people might sit and watch THE <span>WORLD'S BIGGEST LOSER</span> on <span>NBC</span> but half of those people have a plate of cookies in front of them. While its great entertainment; they won't lose weight.</h2><br>
      <h2>Every beanstalk begins with a seed and the seed for those looking to feel better and reach the peak in their lives begins here at Team Sadie. Remember, it takes teamwork to make the dream work. So over the coming weeks and months I will create a multimedia content library. Some of it will be created by us while other information will be donated by you. Our attempt will be to become a real life, multi-media encyclopedia of health, fitness and beauty; one that is fun to learn from; and filled with purpose.</h2>
    </div>
    <div class="fitlyfe-block1right">
      <!--<a href="/exercise">--><a [routerLink]="['/exercise']"><img src="assets/images/fitlyfe-img1.png" alt="#">
        <p class="blocknote">exercise</p></a>
    </div>
    <div class="clear"></div>
    <div class="fitlyfe-block2">
      <div class="fitlyfe-block2left">
        <!--<a href="/nutrition">--><a [routerLink]="['/nutrition']"><img src="assets/images/fitlyfe-img2.png" class="fitlyfe-block2leftimg" alt="#">
          <p class="blocknote">NUTRITION</p></a>
      </div>
      <div class="fitlyfe-block2right">
        <a href="#"><img src="assets/images/fitlyfe-img3.png" class="fitlyfe-block2rightimg" alt="#">
          <p class="blocknote">mental health</p></a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="fitlyfe-block3">
      <div class="fitlyfe-block3left">
        <a href="#"><img src="assets/images/fitlyfe-img4.png" class="fitlyfe-block3leftimg" alt="#">
          <p class="blocknote">tools and tips</p></a>
      </div>
      <div class="fitlyfe-block3right">
        <a href="#"><img src="assets/images/fitlyfe-img5.png" class="fitlyfe-block3rightimg" alt="#">
          <p class="blocknote">SUPPLEMENTS</p></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>					