<!--
<p>
  scents-relaxation works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
      <!--<a href="/bridal_massage">--><a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">


      <div class="scents_relaxation_body">

        <div class="scents_relaxation_block1">

          <h2>Do it Yourself Scents <br>

            for Relaxation</h2>

          <div class="scents_relaxation_text1">All through school I was fascinated at the work that was <br>

            accumulated mapping the human gene system. Back then it <br>
            was in its infancy but as an adult I paid attention when it was finally <br>
            cracked. I had a good idea like many other biochemists and <br>
            neurophysiologists, etc. where the main number of genes were attached to.<br>
            I had my top ten areas as everyone did...led by Immune Function first of course. <br>
            Well my top 10 was intact (no shock) as were others with <span>ONE HUGE EXCEPTION.</span><br>
            The second largest number of genes in the human body belong to the sense of SMELL!! What? When that was announced, it was met with shock and disbelief and then suddenly a great many biochemists began changing their
            orientation to chase olfactory research. Personally, I was floored. I immediately grabbed my nebulizers and headed to the horse barn to experiment. Lo and behold, I found that certain smells could induce a calm relaxed behavior in a horse, other smells could elicit excitement and fidgeting. Still others could elicit changes in hormones and chemicals in the blood stream. Mind you, these were horses not subject to any placebo effects. Based on that research we moved our studies into the human area. </div>

          <div class="scents_relaxation_text2">

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody><tr>
                <th colspan="3">Click the following three major scents for relaxation to learn more:</th>

              </tr>

              <tr>
                <td>Lavander Oil</td>
                <td>Cinnamon</td>
                <td>Vanilla Bean</td>
              </tr>
              </tbody></table>


          </div>


        </div>

        <div class="scents_relaxation_block2">

          <div class="scents_relaxation_text3">
            Surrounding yourself with these scents, will help you feel better, <br>

            function better and ultimately look better during the whole bridal process.</div>

          <img src="assets/images/scents_relaxationbg2.png" alt="#" class="scents_relaxationbg2">
        </div>


      </div>



    </div>


    <div class="clearfix"></div>
  </div>
</div>					