<!--
<p>
  admin-testform works!
</p>
-->
<head></head>
<body bgcolor="#FAF4E5">
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 ">
      <h4> Transfer Money</h4>
      <div class="dashboard1form">
        <form>
          <div class="form-group">
            <label> Source account :</label>
            <select>
              <option>200.00000</option>
              <option>200.00000</option>
              <option>200.00000</option>
              <option>200.00000</option>
            </select>
          </div>
          <div class="form-group">
            <label> Account number :</label>
            <select>
              <option>200.00000</option>
              <option>200.00000</option>
              <option>200.00000</option>
              <option>200.00000</option>
            </select>
          </div>
          <div class="form-group">
            <label> Instructed amount </label>
            <input type="text">
          </div>
          <div class="form-group">
            <label> Reference </label>
            <textarea></textarea>
          </div>
          <input type="submit" value="Transfer Money" class="loginbtn2">
          <div class="clearfix"></div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</body>