<!--
<p>
  index2 works!

 <a [routerLink]="['/about']">Goto About</a>
<a [routerLink]="['/exercise']">Go to Exercise</a>
 &lt;!&ndash;<a [routerLink]="['/exercise']"> <div class="bigimag">Click</div></a>&ndash;&gt;
</p>
-->
<style>
.loderbody{
position: relative;

width:100%;
height:100vh;
}
.loderbody_wrapper{

text-align:center;

height:100%;
display: table;
width: 100%;
}

.loderbody_wrapper span {
vertical-align:middle;
display: table-cell;
}

.loaderanimation {
border: 16px solid #9b9a9a;
border-radius: 50%;
border-top: 16px solid #cc1559;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite; margin:0 auto;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
</style>

<div class="loderbody hide">
    <div class="loderbody_wrapper">
     <span>
         <div class="loaderanimation"><img src="assets/images/favicon.png" alt=""></div>

     </span>
    </div>

</div>


<div class="homebannertop-wrapper">
    <h1>A Bold Adventure Into The New Accelerated Science of Wellness - Achieving Total Body Health</h1>
</div>
<div class="homebanner-wrapper">


    <ul class="rslides" id="slider1">
        <li><img src="assets/images/banner1.png" alt=""></li>
        <li><img src="assets/images/banner2.png" alt=""></li>
        <li><img src="assets/images/banner3.png" alt=""></li>
        <li><img src="assets/images/banner4.png" alt=""></li>
        <li><img src="assets/images/banner5.png" alt=""></li>



    </ul>

</div>
<div class="homebanner-bottom">
    <img src="assets/images/homebanner-bottomimg.png" alt="#">
</div>
<div class="mainwrapper">
    <div class="home-block1">

        <a [routerLink]="['/party']" class="" style="opacity: 1;">
            <!--<a href="/party" class="" style="opacity: 1;">-->
            <div class="home-blok1left">
                <img src="assets/images/hblck1-left.png" class="hblck1-leftimg" alt="#">
                <img src="assets/images/hblck1-leftresponsive.png" class="hblck1-leftimgresponsive" alt="#">
                <h3>We would love to have you join one of our Party Lyfe gatherings or even hold your own!</h3>
                <h1>Distributors of Epic Lyfe</h1>
                <h4>are holding them all over the country. Are you in?</h4>
            </div>
        </a>
        <a [routerLink]="['/fitness']" class="" style="opacity: 1;">
        <!--<a href="/fitness" class="" style="opacity: 1;">-->
            <div class="home-blok1right">
                <img src="assets/images/hblck1-right.png" class="hblck1-rightimg" alt="#">
                <img src="assets/images/hblck1-rightresponsive.png" class="hblck1-rightimgresponsive" alt="#">
                <h2>Check out our <span>fitness Challenges</span> and let' shape up! We will be adding new challenges every month. Please click here to learn more now and get fit this week!</h2>
            </div>
        </a>
        <div class="clear"></div>
    </div>

    <div class="home-block2">
        <div class="home-block2-content">
            <div class="hblock2-leftcontent">
                <h1>Design</h1>
                <h2>your</h2>
                <h3>DESTINY!</h3>
            </div>
            <div class="hblock2-rightcontent">
                <!--<img src="system/themes/lyfeperformance/images/epiclogo.png" alt="#" />-->
                <h4>Spend some time with our VP Sadie and her team to Educate Yourself and learn more about our Visionary focus in health, Wellness and living an Epic Lyfe.</h4>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="himg-gellary">
        <!--<a href="/fit-lyfe"--><a [routerLink]="['/fitlyfe']" class="" style="opacity: 1;" target=""><img src="assets/images/himg-gellary1.png" alt="#"></a>
        <!--<a href="/beautiful"--><a [routerLink]="['/beautiful']" class="" style="opacity: 1;" target=""><img src="assets/images/himg-gellary2.png" alt="#"></a>
        <a href="#" class="" style="opacity: 1;"><img src="assets/images/himg-gellary3.png" alt="#"></a>
        <!--<a href="/heart_cholesterol"--><a [routerLink]="['/heartcholesterol']" class="" style="opacity: 1;" target=""><img src="assets/images/himg-gellary4.png" alt="#"></a>
        <!--<a href="/millennials"--><a [routerLink]="['/millennials']" class="" style="opacity: 1;" target=""><img src="assets/images/himg-gellary5.png" alt="#"></a>
        <a href="#" class="" style="opacity: 1;"><img src="assets/images/himg-gellary6.png" style="margin-right:0px;" alt="#"></a>
    </div>
    <div class="hbottom-wrapper">
        <div class="hbottom-left">
            <!--<img src="assets/images/homebody-bottomleft.png" alt="#" />-->
            <a href="javascript:void(0);" onclick="view_more()" class="viewmore" style="opacity: 1;" target="">VIEW MORE</a>
        </div>
        <div class="hbottom-right">
            <!--<img src="assets/images/homebody-bottomright.png" alt="#" />-->
            <a href="javascript:void(0);" onclick="shop_now()" class="viewmore" style="opacity: 1;">Shop Now</a>
        </div>
        <div class="clear"></div>
    </div>
</div>