@font-face {
	font-family:'PoetsenOne-Regular';
	src: url('/assets/fonts/PoetsenOne-Regular_gdi.eot');
	src: url('/assets/fonts/PoetsenOne-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/PoetsenOne-Regular_gdi.woff') format('woff'),
		url('/assets/fonts/PoetsenOne-Regular_gdi.ttf') format('truetype'),
		url('/assets/fonts/PoetsenOne-Regular_gdi.svg#PoetsenOne-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}


@font-face {
	font-family:'DistantStroke-Regular';
	src: url('/assets/fonts/DistantStroke_gdi.eot');
	src: url('/assets/fonts/DistantStroke_gdi.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/DistantStroke_gdi.woff') format('woff'),
		url('/assets/fonts/DistantStroke_gdi.ttf') format('truetype'),
		url('/assets/fonts/DistantStroke_gdi.svg#DistantStroke-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}

@font-face {
	font-family:'Elbaris-Regular';
	src: url('/assets/fonts/Elbaris_gdi.eot');
	src: url('/assets/fonts/Elbaris_gdi.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Elbaris_gdi.woff') format('woff'),
		url('/assets/fonts/Elbaris_gdi.ttf') format('truetype'),
		url('/assets/fonts/Elbaris_gdi.svg#Elbaris-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-20AC;
}


@font-face {
	font-family:'ArnoPro-SmText';
	src: url('/assets/fonts/ArnoPro-SmText_gdi.eot');
	src: url('/assets/fonts/ArnoPro-SmText_gdi.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ArnoPro-SmText_gdi.woff') format('woff'),
		url('/assets/fonts/ArnoPro-SmText_gdi.ttf') format('truetype'),
		url('/assets/fonts/ArnoPro-SmText_gdi.svg#ArnoPro-SmText') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}




.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .exerciseblockheading{position:relative; background:url(/assets/images/nmg_exercise.png) no-repeat center top; background-size:100%; text-align:center;  cursor:pointer; border:1px solid #f3f3f3;}

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .exerciseblockheading h1{font-family:'CenturySchoolbook-Regular'; font-size:40px; font-style:italic; color:#a1a9ae; text-transform:uppercase; line-height:110px; margin:0px; text-shadow:0px 6px 8px rgba(0, 0, 0, 0.3);}


.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .weightlossheading{position:relative; background:url(/assets/images/nmg_weightloss.png) no-repeat center top; background-size:100%; text-align:center;  cursor:pointer; border:1px solid #f3f3f3;}

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .weightlossheading h1{font-family:'CenturySchoolbook-Regular'; font-size:40px; font-style:italic; color:#65a4c2; text-transform:uppercase; line-height:110px; margin:0px; text-shadow:0px 6px 8px rgba(0, 0, 0, 0.3);}



.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .sleeptipsheading{position:relative; background:url(/assets/images/nmg_sleeptips.png) no-repeat center top; background-size:100%; text-align:center;  cursor:pointer; border:1px solid #f3f3f3;}

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .sleeptipsheading h1{font-family:'CenturySchoolbook-Regular'; font-size:40px; font-style:italic; color:#f10076; text-transform:uppercase; line-height:110px; margin:0px; text-shadow:0px 6px 8px rgba(0, 0, 0, 0.3);}


.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .facialmasksheading{position:relative; background:url(/assets/images/nmg_facialmasks.png) no-repeat center top; background-size:100%; text-align:center;  cursor:pointer; border:1px solid #f3f3f3;}

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .facialmasksheading h1{font-family:'CenturySchoolbook-Regular'; font-size:40px; font-style:italic; color:#241f00; text-transform:uppercase; line-height:110px; margin:0px; text-shadow:0px 6px 8px rgba(0, 0, 0, 0.3);}


.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .eyesheading{position:relative; background:url(/assets/images/nmg_eyes.png) no-repeat center top; background-size:100%; text-align:center;  cursor:pointer; border:1px solid #f3f3f3;}

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .eyesheading h1{font-family:'CenturySchoolbook-Regular'; font-size:40px; font-style:italic; color:#020202; text-transform:uppercase; line-height:110px; margin:0px; text-shadow:0px 6px 8px rgba(0, 0, 0, 0.3);}



.exerciseblock_wrapper{background:#7aecfe; border:solid 1px #b2ddea; margin-bottom:25px; display:none;}


.exerciseblock_wrapper .textpart1{ width:100%;}

.exerciseblock_wrapper .textpart1{ background:url(/assets/images/exercise_img1.png) no-repeat right top; }

.exerciseblock_wrapper  .textheading1{ background:#f02078; padding:14px; font-size:30px; color:#ffffff; font-family: 'MyriadPro-Regular'; display:inline-block;}

.exerciseblock_wrapper h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:0 20px 20px 0; font-size:22px; color:#232323; font-family: 'MyriadPro-Regular';     margin: 20px 0 0 -2px;}


.exerciseblock_wrapper .textblock1{ width:330px; margin:15px 20px; font-size:16px; color:#3c3c3b; font-family: 'MyriadPro-Regular'; padding-bottom:20px;}


.exerciseblock_wrapper .textpart2{ margin:10px 0;}

.exerciseblock_wrapper .textpart2 .textblock2{ width:100%; padding:15px 20px; font-size:16px; color:#3c3c3b; font-family: 'MyriadPro-Regular';}


.exerciseblock_wrapper .textpart2  img{ width:100%;  font-size:16px; color:#3c3c3b; font-family: 'MyriadPro-Regular';}


.textpart3{ background:url(/assets/images/exercise_img3.png) no-repeat right top;}


.exerciseblock_wrapper .textpart3 .textblock3{  width:420px; margin:15px 20px; font-size:16px; color:#3c3c3b; font-family: 'MyriadPro-Regular';}

.exercise_img4{ width:100%;}




.weightloss_wrapper{background:#c7d1dd; border:solid 1px #d8d8d8; margin-bottom:25px; font-size:16px; color:#3c3c3b; font-family: 'MyriadPro-Regular'; display:none;}

.weightloss_wrapper .weightloss_con1 {
    background: #fede2e;
    padding: 14px;
    font-size: 30px;
    color: #232323;
    font-family: 'MyriadPro-Regular';
    display: inline-block;
}

.weightloss_wrapper  .weightloss_con2{background:url(/assets/images/weightlos_img1.png) no-repeat right top; padding-right:400px;}

.weightloss_wrapper  .weightloss_con2 h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:0 20px 20px 0; font-size:22px; color:#232323; font-family: 'MyriadPro-Regular';     margin: 20px 0 0 -2px;}

.weightloss_wrapper  .weightloss_con2 p{ padding:0; margin:15px 20px; font-size:16px!important; color:#3c3c3b!important; }

.weightloss_wrapper .weightloss_con3{ padding:0 20px; margin:0; width:100%;}

.weightlos_img2{ width:100%;}

.weightloss_con4{ width:100%;}

.weightlos_img3{ width:408px; float:left;}

.weightloss4_wrapper{ width:516px; float:right;}

.weightloss4_wrapper h3{display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);

-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:20px; font-size:22px; color:#232323; font-family: 'MyriadPro-Regular';  }


.weightloss4_wrapper p{padding:0; margin:15px 20px; font-size:16px!important; color:#3c3c3b!important; }

.weightloss_wrapper  .weightloss_con5{ width:100%;}

.weightloss_wrapper  .weightloss_con5 h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:0 20px 20px 0; font-size:22px; color:#232323; font-family: 'MyriadPro-Regular';     margin: 20px 0 0 -2px;}

.weightloss_wrapper  .weightloss_con5 p{ padding:0; margin:15px 20px; font-size:16px!important; color:#3c3c3b!important; }


.weightloss_wrapper  .weightloss_con6{background:url(/assets/images/weightlos_img4.png) no-repeat right top; padding:0 590px 18px 0;}

.weightloss_wrapper  .weightloss_con6 h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:0 20px 20px 0; font-size:22px; color:#232323; font-family: 'MyriadPro-Regular';     margin: 20px 0 0 -2px;}

.weightloss_wrapper  .weightloss_con6 p{ padding:0; margin:15px 20px; font-size:16px!important; color:#3c3c3b!important; }


.weightloss_wrapper  .weightloss_con7{ width:100%;}

.weightloss_wrapper  .weightloss_con7 h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:0 20px 20px 0; font-size:22px; color:#232323; font-family: 'MyriadPro-Regular';     margin: 20px 0 0 -2px;}

.weightloss_wrapper  .weightloss_con7 p{ padding:0; margin:15px 20px; font-size:16px!important; color:#3c3c3b!important; }





.sleeptips_wrapper{background:#efd3d2; border:solid 1px #d6bdbf; margin-bottom:25px; font-size:16px; color:#3c3c3b; font-family: 'MyriadPro-Regular'; display:none;}

.sleeptips_wrapper .sleeptips_con1 {
    background: #b88a88;
    padding: 14px;
    font-size: 30px;
    color: #fff;
    font-family: 'MyriadPro-Regular';
    display: inline-block; margin-bottom:20px;
}

.sleeptips_wrapper .sleeptips_con2{ width:100%;}

.sleeptips_wrapper .sleeptips_con2 h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 15px; border-radius:0 20px 20px 0; font-size:22px; color:#302f2f; font-family: 'MyriadPro-Regular';     margin: 20px 0 0 -2px;}

.sleeptips_wrapper .sleeptips_con2 p{ padding:0; margin:15px 20px; font-size:16px!important; color:#3c3c3b!important; }

.sleeptips_wrapper_img1{ width:100%;}




.facialmasks_wrapper{background:#fef7cd url(/assets/images/facialmasks_wrapperbg.png) no-repeat center top; background-size:100%; margin-bottom:25px; display:none;}

.facialmasks_wrapper h1{margin:0px; background:#f4557d; font-family: 'MyriadPro-Regular'; font-size: 24px; color: #fff; width: 436px; padding: 12px 0; text-align: center;}

.facialmasks_wrapper > .container{width:100%;}

.facialmasks_wrapper .facialmasks_wrapperimgblock{margin-top:46%;}

.facialmasks_wrapper .facialmasks_wrapperimgblock .facialmasks_wrapperimg2{margin-top:51px;}

.facialmasks_wrapper .facialmasks_wrapperimgblockbtm{margin-top:-60px;}

.facialmasks_wrapper h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 20px; border-radius:0 20px 20px 0; font-size:24px; color:#302f2f; font-family: 'MyriadPro-Regular';     margin: 20px 0 20px -16px; width:400px;}

.facialmasks_wrapper h3{ font-family: 'MyriadPro-Regular'; font-size: 24px; color: #232323; text-align:left; line-height:24px;}


.facialmasks_wrapper p{ font-family: 'MyriadPro-Regular'; font-size: 16px; color: #232323; line-height:20px; padding-left:5px; width:96%;}

.facialmasks_wrapper p img{display:inline; margin:0 3px;}

.facialmasks_wrapper p span{margin-left:10px;}

.facialmasks_wrapper .facialmasks_wrapper-honeyblock{background:#fef4bb url(/assets/images/facialmasks_wrapperimg3.png) no-repeat right top;}

.facialmasks_wrapper .facialmasks_wrapper-honeyblock .facialmasks_wrapper-honeyblockmddletxt{width:90%;}

.facialmasks_wrapper .facialmasks_wrapper-honeyblock .strawberri{margin-top:38px;}

.facialmasks_wrapper .facialmasks_wrapperimg4{
  width:100%;
  }
  
.facialmasks_wrapper .facialmasks_wrapperimg4btm{margin-top:-64px;}


.eyes_wrapper{background: url(/assets/images/eyes_wrapperbg.png) no-repeat center top; background-size:100%; display:none;}

.eyes_wrapper > .container{width:100%;}

.eyes_wrapper h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 20px; border-radius:0 20px 20px 0; font-size:24px; color:#302f2f; font-family: 'MyriadPro-Regular';     margin: 20px 0 20px -16px; width:314px;}

.eyes_wrapper p{ font-family: 'MyriadPro-Regular'; font-size: 16px; color: #232323; line-height:20px; padding-left:5px; width:96%;}

.eyes_wrapper p img{display:inline; margin:0 3px;}

.eyes_wrapper p span{margin-left:10px;}


.eyes_wrapper .eyes_wrapperbtm{background: url(/assets/images/eyes_wrapperbtmbg.png) no-repeat center top; background-size:100%; margin-top:216px;}

.eyes_wrapper .container > .row > .container{width:100%;}

.eyes_wrapper .eyes_wrapperbtm h2{ display:inline-block; background:#f5ff5f; -webkit-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);
box-shadow: 0px 0px 5px 0px rgba(87,80,77,1);  padding:8px 20px; border-radius:0 20px 20px 0; font-size:24px; color:#302f2f; font-family: 'MyriadPro-Regular';     margin: 20px 0 20px -51px; width:160px;}

.eyes_wrapper .eyes_wrapperbtm .blackteatext{padding-left:50px;}

.eyes_wrapper .eyes_wrapperbtm h1{font-family:'PoetsenOne-Regular'; font-size:30px; line-height:30px; color:#434444; text-shadow:2px -1px 0px #fff; width:96%;}

.eyes_wrapper .eyes_wrapperbtm p{ font-family: 'MyriadPro-Regular'; font-size: 16px; color: #161616; line-height:24px; padding-left:5px; width:96%; padding:68px 0 65px 0;}

.eyes_wrapper .eyes_wrapperbtm p span{margin:0px;}


/*---------------------------------------------------------bridal_yoga------------------------------------------------------------------*/



.bridal_yoga_right_wrapper{background: url(/assets/images/bridal_yogabigimg.png) no-repeat center top; background-size:100%; box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);}

.bridal_yoga_right_wrapper > .container{width:100%; padding:0 25px;}

.bridal_yoga_right_wrapper h1{font-family:'DistantStroke-Regular'; font-size:150px; color:#262626; text-align:center;}

.bridal_yoga_right_wrapper h2{font-family:'Elbaris-Regular'; font-size:72px; color:#fff; text-align:center; text-shadow:0px 2px 4px rgba(0, 0, 0, 0.6); text-transform:uppercase;}

.bridal_yoga_right_wrapper p{font-family:'OpenSans-Regular'; font-size:16px; color:#171717; text-align:center; line-height:24px;}


.bridal_yoga_right_wrapper .bridal_yoga-block1{background:url(/assets/images/bridal_yoga-bodyblock1bg.png) no-repeat center top; background-size:100%;}

.bridal_yoga_right_wrapper .bridal_yoga-block1 .bridal_yoga_text2{
background:#f7fd7a url(/assets/images/bridal_yoga_img3.png) no-repeat center bottom; background-size:100%; position:relative; padding:12px 32px 30px 32px; font-size:16px; color:#1c1c1c; line-height:24px; font-family:'OpenSans-Regular'; text-align:center; width:100%; margin:0 auto; margin-top:59px;  box-shadow:0px 0px 7px rgba(0, 0, 0, 0.6);}


.bridal_yoga_right_wrapper .bridal_yoga-block1 .bridal_yoga_text2 .bridal_yoga_headingtext{  background:url(/assets/images/bridal_massage_img1.png) no-repeat center top; width:518px; height:82px; margin:0 auto; margin-top:-21px; margin-bottom:12px;}
 
 
 
.bridal_yoga_right_wrapper h3{     text-align: center;
    line-height: 76px;
    font-size: 30px;
    color: #1c1c1c;
    font-family: 'OpenSans-Regular';
    margin: 0;
    padding: 0;
	text-shadow:none;	
	}

.bridal_yoga_right_wrapper .bridal_yoga-block1 .bridal_yoga-block1btm{width:100%; margin-top:12px; text-align:left; line-height:24px; padding:0 10px;}

.bridal_yoga_right_wrapper .bridal_yoga-block1 .bridal_yoga-block1btm h5{margin:0 0 0 -10px; font-size:16px; color:#1c1c1c; line-height:24px; font-family:'OpenSans-Regular';}

.bridal_yoga_right_wrapper .bridal_yoga-block1 .bridal_yoga-block1btm h4{font-family:'OpenSans-Regular'; font-size:24px; color:#1c1c1c; padding:10px 26px;
  background: -webkit-radial-gradient(#aafe60, #85e133); 
  background: -o-radial-gradient(#aafe60, #85e133); 
  background: -moz-radial-gradient(#aafe60, #85e133); 
  background: radial-gradient(#aafe60, #85e133);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.4);
  margin:15px 0 15px -37px;
  width:190px;
  }

.bridal_yoga_right_wrapper .bridal_yoga-block1 .bridal_yoga-block1btm img{width:100%;}


.bridal_yoga_right_wrapper .bridal_yoga-block2{width:100%;}

.bridal_yoga_right_wrapper .bridal_yoga-block2 .bridal_yoga_text2{
background:#f7fd7a url(/assets/images/bridal_yoga_img3.png) no-repeat center bottom; background-size:100%; position:relative; padding:12px 32px 45px 32px; font-size:16px; color:#1c1c1c; line-height:24px; font-family:'OpenSans-Regular'; text-align:center; width:100%; margin:0 auto; margin-top:30px;  box-shadow:0px 0px 7px rgba(0, 0, 0, 0.6);}


.bridal_yoga_right_wrapper .bridal_yoga-block2 .bridal_yoga_text2 .bridal_yoga_headingtext{  background:url(/assets/images/bridal_massage_img1.png) no-repeat center top; width:518px; height:82px; margin:0 auto; margin-top:-21px; margin-bottom:12px;}
 
.bridal_yoga_right_wrapper .bridal_yoga-block2 .bridal_yoga_text2 span{margin-bottom:15px; display:block;} 
 
 
.bridal_yoga_right_wrapper .bridal_yoga-block3{width:100%; margin-top:-77px;}

.bridal_yoga_right_wrapper .bridal_yoga-block3 .bridal_yoga_text2{
background:#f7fd7a url(/assets/images/bridal_yoga_img3.png) no-repeat center bottom; background-size:100%; position:relative; padding:12px 32px 45px 32px; font-size:16px; color:#1c1c1c; line-height:24px; font-family:'OpenSans-Regular'; text-align:center; width:100%; margin:0 auto; margin-top:30px;  box-shadow:0px 0px 7px rgba(0, 0, 0, 0.6);}


.bridal_yoga_right_wrapper .bridal_yoga-block3 .bridal_yoga_text2 .bridal_yoga_headingtext{  background:url(/assets/images/bridal_massage_img1.png) no-repeat center top; width:518px; height:82px; margin:0 auto; margin-top:-21px; margin-bottom:12px;}
 
.bridal_yoga_right_wrapper .bridal_yoga-block3 .bridal_yoga_text2 span{margin-bottom:15px; display:block;} 
  
  
.bridal_yoga_right_wrapper .bridal_yoga-block4{width:100%;}

.bridal_yoga_right_wrapper .bridal_yoga-block4 .bridal_yoga_text2{
background:#f7fd7a url(/assets/images/bridal_yoga_img3.png) no-repeat center bottom; background-size:100%; position:relative; padding:12px 32px 45px 32px; font-size:16px; color:#1c1c1c; line-height:24px; font-family:'OpenSans-Regular'; text-align:center; width:100%; margin:0 auto; margin-top:30px;  box-shadow:0px 0px 7px rgba(0, 0, 0, 0.6);}


.bridal_yoga_right_wrapper .bridal_yoga-block4 .bridal_yoga_text2 .bridal_yoga_headingtext{  background:url(/assets/images/bridal_massage_img1.png) no-repeat center top; width:518px; height:82px; margin:0 auto; margin-top:-21px; margin-bottom:12px;}
 
.bridal_yoga_right_wrapper .bridal_yoga-block4 .bridal_yoga_text2 span{margin-bottom:15px; display:block;} 



.bridal_yoga-bodymddlbg {background:url(/assets/images/bridal_yoga-bodymddlbg.png) no-repeat center top 198px; background-size:100%; padding-bottom:326px;}

.bridal_yoga-bodymddlbg > .container{padding:0 25px;}

.bridal_yoga-bodybtmbg{background:url(/assets/images/bridal_yoga-bodybtmbg.png) no-repeat center top 12px; background-size:100%; padding-bottom:242px;}

.bridal_yoga-bodybtmbg > .container{padding:0 25px;}


.bridal_yoga-bodybtmimg{position:relative; margin-top:-356px;}



.stress_body{  background: #ffffff;
    box-shadow: 0 0 2px 0 rgba(136, 136, 136, 1);}


.stress_body .stressbg3{ width:100%;}

.stress_wrapper1{ width:100%; position:relative; background:url(/assets/images/stressbg1.png) no-repeat center top; height:560px;}

.stress_wrapper1 .stressbg2{ display:none;}

.stress_wrapper1 .stress_heading1{ background:url(/assets/images/stressheading1.png) no-repeat center top; width:518px; height:82px; display:block;  text-align:center; color:#929292; font-size:30px; font-family:'OpenSans-Regular'; padding:10px 0 0 0; position:absolute; left:192px; top:-9px; text-transform:capitalize;}


.stress_wrapper1 .stress_textcon1{ width:500px; margin:100px 0 0 30px; font-size:16px; color:#e3e3e3; font-family:'OpenSans-Regular'; line-height:24px;}



.stress_body  .stressbg4{ width:100%; margin-bottom:5px;}

.stress_body  .stressbg5{ width:100%; margin:0;}

.stress_wrapper2{ background:#e6e6e2; width:90%; margin:0 auto; padding:2%;  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 1); font-size:16px; color:#000000;  font-family:'OpenSans-Regular'; line-height:24px;}

.stress_wrapper3{background:url(/assets/images/stressbg9.png) no-repeat center bottom; padding:0px 0px 40px 0px; font-size:16px!important; color:#000000!important; font-family:'OpenSans-Regular'; line-height:24px;}

.stress_wrapper3 p{ padding:24px 24px 0 25px!important; font-size:16px!important;  color:#000000!important;}

.stress_wrapper3 span{ color:#e20243; font-family:'OpenSans-Semibold';}


.stress_wrapper3 .stress_heading2{ background: rgba(44,43,43,1);
background: -moz-linear-gradient(top, rgba(44,43,43,1) 0%, rgba(1,1,1,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,43,43,1)), color-stop(100%, rgba(1,1,1,1)));
background: -webkit-linear-gradient(top, rgba(44,43,43,1) 0%, rgba(1,1,1,1) 100%);
background: -o-linear-gradient(top, rgba(44,43,43,1) 0%, rgba(1,1,1,1) 100%);
background: -ms-linear-gradient(top, rgba(44,43,43,1) 0%, rgba(1,1,1,1) 100%);
background: linear-gradient(to bottom, rgba(44,43,43,1) 0%, rgba(1,1,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2b2b', endColorstr='#010101', GradientType=0 ); color:#aaa9a9; font-size:24px; font-family:'OpenSans-Semibold'; padding:12px; margin-top:25px; display:inline-block; padding-right:80px;}

.stress_wrapper3 .stress_imgcon3{ width:100%;  margin:0 auto; position:relative; }

.stress_wrapper3 .stress_imgcon3 img{ width:100%; margin:0 auto;}


.stress_wrapper3 .stress_imgcon3 .stress_heading4{ background:url(/assets/images/stressheading4.png) no-repeat left top; width:238px; height:65px; position:absolute; right:30px; top:2px; font-family:'CenturyGothic-Regular'; text-transform:uppercase; font-size:30px; color:#ffffff; text-align:center; line-height:55px;}


.stress_wrapper3 .wrapper3_text3{  background:url(/assets/images/stressbg8.png) no-repeat left top; width:429px; height:515px; float:right;position:relative; margin-right:24px;} 

.stress_wrapper3 .wrapper3_text3 .stress_heading3{ background:url(/assets/images/stressheading3.png) no-repeat left top; width:372px; height:56px; top:18px; position:absolute;  font-family:'OpenSans-Semibold'; font-size:24px; color:#ffffff!important; text-shadow:0 0 1px #000; text-shadow:0 0 1px;  padding:11px 0 0 20px;  }

.stress_wrapper3 .wrapper3_text3  p{ padding-top:80px!important;}

.stress_wrapper4{ background:url(/assets/images/stressbg6.png) no-repeat right bottom; padding:0 510px 20px 0; font-size:16px; color:#000000;  font-family:'OpenSans-Regular'; line-height:24px;}

.stress_wrapper4 span{ color:#ec0541;}


.stress_wrapper4  .stress_heading5{ background:url(/assets/images/stressheading2.png) no-repeat left top; width:288px; height:61px;  font-family:'OpenSans-Semibold'; text-transform:uppercase; font-size:24px; color:#000; text-align:center; line-height:48px; margin-bottom:10px;}

.stress_wrapper4 .stress_textcon5{ padding-left:24px;}



.perfect_body{ background:url(/assets/images/perfect_posture_bg.png) no-repeat center top; background-size:cover; position:relative;
    box-shadow: 0 0 2px 0 rgba(136, 136, 136, 1); padding-bottom:10px; padding-top:22px;}
	
	
	.perfect_body .perfect_posture_img2{ position:absolute; right:0; top:125px;}
	
	.perfect_posture_img1{ display:block; max-width:100%; margin:0 0 0 16px;}
	
	.perfect_block1{ width:520px; margin:25px 0 60px 16px; font-size:14px!important; color:#232323!important;  font-family:'OpenSans-Regular'!important; line-height:24px!important;}
	
		.perfect_block1 h2{ margin:0 0 14px 0; padding:14px; background:#ffea00; display:inline-block; font-size:18px; color:#151515; font-family:'OpenSans-Semibold'; line-height:26px!important;}
 
 
 .perfect_block2{ width:510px; padding:0 0 0 0; margin:0 0 0 16px;  font-size:14px!important; color:#232323!important;  font-family:'OpenSans-Regular'!important; line-height:24px!important;}
 
 
  .perfect_block2 .perfect_listdiv1{ background:url(/assets/images/perfect_posture_img8.png) no-repeat left top;  padding:26px 0 0 85px; margin:20px 0 0 16px;}
  
    .perfect_block2 .perfect_listdiv1 ul{ margin:0; padding:0;}
 
     .perfect_block2 .perfect_listdiv1 ul li{ margin:0 0 2px 0; padding:0 0 0 15px; list-style:none; background:url(/assets/images/perfect_posture_img11.png) no-repeat left 7px;} 
	 .perfect_posture_img5{ display:block; max-width:100%;}
	 
	 
	 .perfect_block3{ width:100%; background:url(/assets/images/perfect_posture_img3.png) no-repeat left center; margin-top:48px; padding:110px 40px 40px 450px;  font-size:14px!important; color:#232323!important;  c line-height:24px!important;}
	 
	 	 .perfect_posture_img6{ display:block; max-width:100%;}
	 
	 
	 
	 .perfect_block3 .perfect_listdiv2{ background:url(/assets/images/perfect_posture_img9.png) no-repeat right top;  padding:26px 85px 0 0; margin:20px 10px 0 0;}
  
    .perfect_block3 .perfect_listdiv2 ul{ margin:0; padding:0;}
 
     .perfect_block3 .perfect_listdiv2 ul li{ margin:0 0 2px 0; padding:0 0 0 15px; list-style:none; background:url(/assets/images/perfect_posture_img11.png) no-repeat left 7px;} 
	 
	 .perfect_block4{ width:880px; margin:0 auto; font-size:14px!important; color:#232323!important;  font-family:'OpenSans-Regular'!important; line-height:24px!important;}
	 
	  .perfect_posture_img7{ display:block; max-width:100%;}
	 
	 
	  .perfect_block4 .perfect_listdiv3{ background:url(/assets/images/perfect_posture_img10.png) no-repeat left top;  padding:26px 0 0 85px; margin:20px 10px 0 0;}
  
    .perfect_block4 .perfect_listdiv3 ul{ margin:0; padding:0;}
 
     .perfect_block4 .perfect_listdiv3 ul li{ margin:0 0 2px 0; padding:0 0 0 15px; list-style:none; background:url(/assets/images/perfect_posture_img11.png) no-repeat left 7px;} 
	 
	 
	 perfect_posture_img4{ display:block; max-width:100%; margin-top:30px;}
	 
	 .perfect_block5{ background: rgba(255,202,0,1);
background: -moz-linear-gradient(top, rgba(255,202,0,1) 0%, rgba(255,163,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,202,0,1)), color-stop(100%, rgba(255,163,0,1)));
background: -webkit-linear-gradient(top, rgba(255,202,0,1) 0%, rgba(255,163,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,202,0,1) 0%, rgba(255,163,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,202,0,1) 0%, rgba(255,163,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,202,0,1) 0%, rgba(255,163,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca00', endColorstr='#ffa300', GradientType=0 ); border: solid 5px #fff;     box-shadow: 0 0 2px 0 rgba(136, 136, 136, 1); width:94%; margin:25px auto; padding:20px 50px; font-family:'OpenSans-Semibold'; color:#fff; text-align:center; font-style:italic; border-radius:60px; font-size:24px; }


.blood_pressure_wrapper{ background:url(/assets/images/blood_pressurebg.png) no-repeat left top; background-size:cover;   box-shadow: 0 0 2px 0 rgba(136, 136, 136, 1);} 
	 
	 
.blood_pressure_block1{ padding:35px; padding-bottom:0px;}	 

.blood_pressure_block1 .blood_pressure1{ display:block; max-width:100%; margin-bottom:25px;}


.blood_pressure_text1{background:url(/assets/images/blood_pressure2.png) no-repeat right bottom; padding:0 490px 110px 0; font-size:18px; color:#2a2929; line-height:24px; font-family:'OpenSans-Regular'!important;}
 
 
 .blood_pressure4{ display:block; margin:0 auto; margin-top:-110px; width:90%;}
  .blood_pressure3{ display:block; margin:0 auto; margin-top:-110px; width:99%;}
  
  
  .scents_relaxation_body{ background:#fffcf7; background-size:cover;   box-shadow: 0 0 2px 0 rgba(136, 136, 136, 1);} 
  
  .scents_relaxation_block1{ background:url(/assets/images/scents_relaxationbg1.png) no-repeat right top; background-size:100%; overflow:hidden;}
  
    .scents_relaxation_block1 h2{ background:#f6ff00; display:inline-block; padding:26px 140px 26px 26px; margin:22px; 	font-family:'ArnoPro-SmText'; color:#202020; font-size:36px; line-height:36px; text-transform:uppercase; }
  
  .scents_relaxation_text1{ font-size:16px; color:#171717; line-height:24px; font-family:'OpenSans-Regular'!important; margin:22px; margin-top:0px;}
  
   .scents_relaxation_text1 span{ color:#d30101;}
   
   .scents_relaxation_text2{background:url(/assets/images/scents_relaxation3.png) no-repeat left center; height:380px; padding:20px 0 0 300px;}
   
      .scents_relaxation_text2 th{ background:#d83494; padding:16px; text-align:center; font-size:18px; color:#ffffff; font-family:'OpenSans-Bold';}
	  
	      .scents_relaxation_text2 td{ text-align:center; background:#8bb203; padding:28px; border:solid 1px #fff; border-right:none; font-size:24px; color:#ffffff; font-family:'OpenSans-Bold'; font-style:italic; text-shadow:0 0 2px #ccc;}
		  
.scents_relaxation_text3{ font-size:24px; color:#282828; line-height:36px; padding:30px;  font-family:'OpenSans-Regular'!important; position:relative; z-index:99;}		
.scents_relaxationbg2{ margin-top:-150px; width:100%;}  
  
 
/*----------------------------------------------------end-bridal_yoga------------------------------------------------------------------*/


/*-------media css--------------*/


@media screen and (max-width:991px){


    .scents_relaxation_block1 h2{ display:block; padding:26px; margin:22px; 	font-family:'ArnoPro-SmText'; color:#202020; font-size:36px; line-height:36px; text-transform:uppercase; text-align:center; }
  
   .scents_relaxation_text2{background:none; height:auto; padding:0 0 0 0; width:96%; margin:30px auto; }

  .scents_relaxation_text1{ text-align:center;}
.scents_relaxation_text3{ text-align:center; padding:10px;}


.blood_pressure_text1{background:url(/assets/images/blood_pressure2.png) no-repeat center bottom; background-size:300px; padding:0 0 330px 0; font-size:18px; color:#2a2929; line-height:24px; font-family:'OpenSans-Regular'!important; text-align:left;}
 
 
 .blood_pressure4{ display:block; margin:0 auto; margin-top:0px; width:90%;}
 
  .blood_pressure3{ display:block; margin:0 auto; margin-top:-40px; }
 

.perfect_body .perfect_posture_img2{ position:inherit; display:block; margin:0 auto; max-width:60%; top:0px;}

.perfect_posture_img1 {
    display: block;
    margin: 0 auto;
    max-width: 90%;}
	
	.perfect_block1{ width:100%; margin:0px auto; padding:5%;}
	
	.perfect_block2{ width:100%; margin:0px auto; padding:5%;}

.perfect_block3{ width:100%; margin:0px auto; padding:5%;  background:url(/assets/images/perfect_posture_img3.png) no-repeat top center; background-size:300px; padding-top:410px;}

	.perfect_block4{ width:100%; margin:0px auto; padding:5%;}
	
	.perfect_posture_img4{ max-width:90%; display:block; margin:0 auto;}


.stress_wrapper1{ width:100%; position:relative; height:auto; background-image:none; background: rgba(222,0,77,1);
background: -moz-linear-gradient(top, rgba(222,0,77,1) 0%, rgba(214,0,2,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,0,77,1)), color-stop(100%, rgba(214,0,2,1)));
background: -webkit-linear-gradient(top, rgba(222,0,77,1) 0%, rgba(214,0,2,1) 100%);
background: -o-linear-gradient(top, rgba(222,0,77,1) 0%, rgba(214,0,2,1) 100%);
background: -ms-linear-gradient(top, rgba(222,0,77,1) 0%, rgba(214,0,2,1) 100%);
background: linear-gradient(to bottom, rgba(222,0,77,1) 0%, rgba(214,0,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de004d', endColorstr='#d60002', GradientType=0 ); text-align:center;}

.stress_wrapper1 .stressbg2{ display:block; margin:5px auto;}

.stress_wrapper1 .stress_heading1{ background-image:none; width:100%; height:auto; display:block;  text-align:center; color:#929292; font-size:30px; font-family:'OpenSans-Regular'; padding:10px;   background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(44, 43, 43, 1) 0%, rgba(1, 1, 1, 1) 100%) repeat scroll 0 0; left:0; position:inherit;}

.stress_wrapper1 .stress_textcon1{ width:100%; margin:0 0 0 0; font-size:16px; color:#e3e3e3; font-family:'OpenSans-Regular'; line-height:24px; padding:0 20px 20px 20px;}



.stress_wrapper2{ text-align:center;}

.stress_wrapper3 .stress_heading2{ text-align:center; display:block; width:100%; padding:20px 10px;}

.stress_wrapper3 { text-align:center; background-image:none; background-color:#faf1e4;}


.stress_wrapper3 .wrapper3_text3{  background:none; width:100%; height:auto; float:none; position:relative; margin-right:0; } 

.stress_wrapper4{ background:none; background-color:#d9e2e7; padding:0 0 20px 0; background-size:100%; font-size:16px; color:#000000;  font-family:'OpenSans-Regular'; line-height:24px;}



.stress_wrapper3 .wrapper3_text3 .stress_heading3{ background-image:none; padding:10px; text-align:center; background-color:#e70031; width:100%; height:auto; top:0; margin-top:18px;}







.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .exerciseblockheading{
background: -webkit-linear-gradient(#657a8a, #121619);
  background: -o-linear-gradient(#657a8a, #121619);
  background: -moz-linear-gradient(#657a8a, #121619);
  background: linear-gradient(#657a8a, #121619); 
  }
  
.exerciseblock_wrapper .textpart1{background:#72ecfe;}
  
.exerciseblock_wrapper .textheading1{display:block; margin:0 auto; width:435px;}  

.exerciseblock_wrapper h2{text-align:center; display:block; margin:20px auto; width:90%; border-radius:20px;}

.exerciseblock_wrapper .textblock1{width:90%; margin:15px auto; text-align:center;}

.exerciseblock_wrapper .textpart2 .textblock2{width:90%; margin:15px auto; text-align:center;}

.textpart3{background:none; text-align:center;}

.exerciseblock_wrapper .textpart3 .textblock3{margin:15px auto; width:90%;}




.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .weightlossheading {
background: -webkit-linear-gradient(#012f43, #000203); 
  background: -o-linear-gradient(#012f43, #000203); 
  background: -moz-linear-gradient(#012f43, #000203);
  background: linear-gradient(#012f43, #000203); 
  }
  
.weightloss_wrapper .weightloss_con1{width:425px; margin:0 auto; display:block;}

.weightloss_wrapper .weightloss_con2{background:#cbd4e0; padding:0px;}

.weightloss_wrapper .weightloss_con2 h2{text-align:center; width:90%; margin:20px auto; display:block; border-radius:20px;}

.weightloss_wrapper .weightloss_con2 p{text-align:center; margin:15px auto; width:90%;}

.weightlos_img3{float:none; display:block; margin:0 auto;}

.weightloss4_wrapper{float:none; width:100%; text-align:center;}

.weightloss4_wrapper h3{display:block; margin:0 auto; width:90%;}

.weightloss_wrapper .weightloss_con5 h2{display:block; margin:20px auto; text-align:center; width:90%; border-radius:20px;}

.weightloss_wrapper .weightloss_con5 p{text-align:center; width:90%; margin:15px auto;}

.weightloss_wrapper .weightloss_con6{background:none; padding:0px;}

.weightloss_wrapper .weightloss_con6 h2{display:block; margin:20px auto; text-align:center; width:90%; border-radius:20px;}

.weightloss_wrapper .weightloss_con6 p{margin:15px auto; text-align:center; width:90%;}

.weightloss_wrapper .weightloss_con7 h2{display:block; margin:20px auto; text-align:center; width:90%; border-radius:20px;}

.weightloss_wrapper .weightloss_con7 p{text-align:center; width:90%; margin:15px auto;}

.weightloss_wrapper .weightloss_con3{text-align:center; width:90%; margin:0 auto; padding:0px;}




.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .sleeptipsheading {
background: -webkit-linear-gradient(#8d0146, #230011);
  background: -o-linear-gradient(#8d0146, #230011);
  background: -moz-linear-gradient(#8d0146, #230011);
  background: linear-gradient(#8d0146, #230011);
  }
  
.sleeptips_wrapper .sleeptips_con1{display:block; width:344px; margin:0 auto; margin-bottom:20px;}

.sleeptips_wrapper .sleeptips_con2 h2{display:block; width:90%; margin:20px auto; text-align:center; border-radius:20px;}

.sleeptips_wrapper .sleeptips_con2 p{text-align:center; margin:15px auto; width:90%;}



.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .facialmasksheading{
background: -webkit-linear-gradient(#fede03, #ca9402); 
  background: -o-linear-gradient(#fede03, #ca9402); 
  background: -moz-linear-gradient(#fede03, #ca9402); 
  background: linear-gradient(#fede03, #ca9402); 
  }

.facialmasks_wrapper{background:#fef7cd;}

.facialmasks_wrapper h1{display:block; margin:0 auto;}

.facialmasks_wrapper .facialmasks_wrapperimgblock{margin-top:20px;}

.facialmasks_wrapper .facialmasks_wrapperimgblock img{display:block; margin:0 auto;}

.facialmasks_wrapper .facialmasks_wrapperimgblock .facialmasks_wrapperimg2{display:none;}

.facialmasks_wrapper .facialmasks_wrapperimgblockbtm{margin:0px; text-align:center;}

.facialmasks_wrapper p{text-align:center;}

.facialmasks_wrapper p span{display:block; line-height:26px;}

.facialmasks_wrapper .facialmasks_wrapper-honeyblock{background:none;}

.facialmasks_wrapper h2{width:90%; display:block; margin:20px auto; text-align:center; border-radius:20px;}

.facialmasks_wrapper h3{text-align:center; line-height:28px;}

.facialmasks_wrapper .facialmasks_wrapperimg4btm{margin:0px;}




.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .eyesheading{
background: -webkit-linear-gradient(#66d9fc, #0396c3); 
  background: -o-linear-gradient(#66d9fc, #0396c3);
  background: -moz-linear-gradient(#66d9fc, #0396c3);
  background: linear-gradient(#66d9fc, #0396c3); 
  }

.eyes_wrapper{background:#a3e7fc;}

.eyes_wrapper h2{display:block; width:90%; margin:20px auto; border-radius:20px; text-align:center;}

.eyes_wrapper .eyes_wrapperbtm{background:none; margin-top:10px;}

.eyes_wrapper p{padding:0px; text-align:center; width:90%; margin:0 auto;}

.eyes_wrapper p span{margin:0px; display:block; line-height:26px;}

.eyes_wrapper .eyes_wrapperbtm .blackteatext{padding:0px; text-align:center;}

.eyes_wrapper .eyes_wrapperbtm h2{text-align:center; display:block; width:90%; margin:20px auto; border-radius:20px;}

.eyes_wrapper .eyes_wrapperbtm h1{width:90%; margin:0 auto;}

.eyes_wrapper .eyes_wrapperbtm p{padding:30px 0; width:90%; margin:0 auto;}

}




@media screen and (max-width:570px){

.exerciseblock_wrapper .textheading1{width:auto; text-align:center; line-height:36px;}

.weightloss_wrapper .weightloss_con1{width:auto; text-align:center; line-height:36px;}

.weightlos_img3{width:100%;}

.sleeptips_wrapper .sleeptips_con1{width:auto; text-align:center; line-height:36px;}

.facialmasks_wrapper h1{width:auto; font-size:30px;}

.scents_relaxation_text2 td{ padding:5px; font-size:18px;}

.scents_relaxation_text2 th{ padding:5px;}


}



@media screen and (max-width:400px){

.blood_pressure_text1{background:url(/assets/images/blood_pressure2.png) no-repeat center bottom; background-size:200px; padding:0 0 220px 0; font-size:18px; color:#2a2929; line-height:24px; font-family:'OpenSans-Regular'!important; text-align:left;}
 
}

@media screen and (max-width:360px){

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .weightlossheading h1{line-height:60px;}

.lyfehairhand-bodywrapper .lyfehairhand-bodyrightblock .lyfehairhand-bodyrightblock2 .lyfehairhand-bodyrightblockcon .facialmasksheading h1{font-size:36px; line-height:60px;}


}