<!--
<p>
  beautiful works!
</p>
-->
<div class="beautilyfe-bannerwrapper">
  <img src="assets/images/beautilyfe-bannerbg.png" style="width:100%;" alt="#">
</div>
<div class="belyfe-bodywrapper">
  <div class="mainwrapper">
    <div class="belyfe-block1">
      <img src="assets/images/beautilyfe-bodyimg1.png" alt="#">
    </div>
  </div>
  <div class="belyfe-block2">
    <div class="mainwrapper">
      <h1>Hi, my name is <span>Sadie</span> and helping you be the best that you can be is
        my passion.</h1>
      <div class="clearfix"></div>
      <div class="belyfe-block2con">
        <div class="belyfe-block2conleft">
          <img src="assets/images/belyfe-girlimg.png" alt="#">
        </div>
        <div class="belyfe-block2conright">
          <h3>Before you jump to any conclusions, no, I am not a paid product model. Actually, I am the owner of Pure Chemistry and Scientific Scents - some of the leading nutritional and skin care formulation companies, operating worldwide. I am the person that hires the biochemists, microbiologists, artists and programmers that bring you the best products that money can buy. I am also Executive Vice President of Marketing and Product Development here at Epic Life.</h3>
          <h3>There are a few reasons for the success of Epic Life, most prominent among them is the level of expertise and the excellent information we share with our customers and online visitors. I am a typical consumer much like all of you, although I have a staff of doctors, biochemists and more. All whom report to me, therefore I am in a position to understand and explain things to you that my competitors cannot. They understand the marketing messaging and the numbers on the spreadsheets, but they don’t understand the real essence of the products or what you honestly desire to know.</h3>
          <h3>While supplements, nutrition and exercise have always been the cornerstone to excellent health and a great interest of mine, my real passion has been “beauty” and beauty products. In fact, for the past five years I have hired and directed a team of researchers in the study of most all of the various beauty products, completed tens of thousands of hours of analysis of ingredients, finished products, and informally counseled many people on skin care. In fact, it has been this work that has motivated me to create an online beauty presence to demystify some of the cosmetic folklore that is out there and to offer everyone the same quality of information and service within the field of beauty as Epic Life does within fitness and nutrition. Here you have it - Beautiful Makeover.</h3>
          <h3>Now let’s get busy reading….we’ve got a lot to do.</h3>
          <h4>- Sadie</h4>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="beautilyfe-bodywrapper">



  <div class="beautilyfe-part3">


    <!--<a href="/hairhandsnailsfeet">--><a [routerLink]="['/hairhandsnailsfeet']"><img src="assets/images/bbimg1.png" alt="#"></a>
    <!--<a href="/home_beauty_remedies">--><a [routerLink]="['/homebeautyremedies']"><img src="assets/images/bbimg2.png" alt="#"></a>
    <!--<a href="/newmomsguide">--><a [routerLink]="['/newmomsguide']"><img src="assets/images/bbimg3.png" alt="#"></a>
    <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bbimg4.png" alt="#"></a>
  </div>




</div>					