<!--
<p>
  bridal-yoga works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
      <!--<a href="/bridal_massage">--><a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <div class="bridal_yoga_right_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 bridal_yoga_righttoparea">
              <h1>Yoga</h1>
              <h2>for relaxation</h2>
              <p>Here are some simple yoga positions to help you relax in the long weeks before your wedding day.
                As you go through these poses use breathing to become aware of your body, thoughts and emotions.</p>
              <p>As you gently flow through the poses like a slow,
                deliberate dance, use breathing to help you become aware of your body, thoughts and emotions. These poses are designed to give you a sense of balance, strength and empowerment. Use them to start or end your day, to warm up before other exercises or whenever you need a little energy.</p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container bridal_yoga-block1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>The Program</h3></div>

                <span>Do poses 1-8 in order and repeat the sequence four times. As you "sink" into each pose, slowly inhale, then exhale, and flow smoothly into the next pose. Go slowly; once you are familiar with all 8 poses then you can work on creating a "flow" or rhythm. Concentrate on your posture, alignment and 
breathing. There is no right or wrong way to do the poses; as you attach your own meaning to them, you can create your own movements.</span>
              </div>
              <div class="container bridal_yoga-block1btm">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4>Breathing</h4>
                    <h5>Belly breathing helps you relax and focus on your emotions. Rest your tongue on the roof of your mouth just behind your front teeth, which helps you breathe through your nose. Take slow, smooth breaths. As you inhale, feel your belly expand, chest lift and spine elongate. As you exhale stay lifted and relax.</h5>
                    <h4>Focus</h4>
                    <h5>Try to clear your mind of everyday issues. If you notice your thoughts wondering, bring them back by focusing on
                      breathing. As you flow from one pose to another you may awaken to intense emotions you've been harboring inside.
                      Let yourself laugh, cry or tremble. Don't hold back;
                      Suppressing negative emotions only causes them to persist.</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img src="assets/images/bridal_yoga-bodyblock1img1.png" alt="#">
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>


            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container bridal_yoga-block2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>1. Grounding:</h3></div>

                <span>Stand with feet slightly wider than shoulder width apart. Have your arms relaxed by your sides. Contract your quadriceps, bend your knees and sit back in a quarter-squat keeping your back straight. Reach forward between your thighs, arms straight, and point diagonally to the floor, palming down.</span>

                <span>This pose is about feeling grounded and connected to the earth. Your legs are your foundation, connecting you to the outside world. The soles of your feet are firmly planted, like a tree spreading its roots. Feel the energy of the earth flow into your body.</span>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container bridal_yoga-block2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>2.  Centering:</h3></div>

                <span>From the grounding pose, roll your hands over each other as if you're scooping energy from the ground; slowly straighten your torso out of the squat position and into a plie. Keep knees slightly bent, torso upright: and tailbone pointing down, toes turned outward. Once in position, touch the fingertips of both hands together in front of your abdomen, elbows slightly bent and out to your sides.</span>

                <span>Invite the ground energy and power into your body. Let it flow throughout you, settling in your abdomen. As your hands come to rest at your abdomen (your power center), draw the energy in through your fingertips. As you breathe, imagine your abdomen releasing tension.</span>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="container bridal_yoga-block2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>3.  Lifting:</h3></div>

                <span>Straighten your legs and rise up onto the balls of your feet while lifting your arms sideways to shoulder height; keep arms straight and palms facing down.</span>

                <span>Energy is being lifted to create abundance in all areas of your life. Lifting opens your mind and spirit to incredible opportunity. Let go of expectations. (When you try to control situations or expect a certain result). See the world without judging it, and invite a feeling of exhilaration and confidence into your entire body. Think to yourself, "anything is possible."</span>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="bridal_yoga-bodymddlbg">
          <div class="container bridal_yoga-block2">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bridal_yoga_text2">


                  <div class="bridal_yoga_headingtext"><h3>4.  Embracing:</h3></div>

                  <span>Lower your heels to the ground and bend your knees slightly as you bring your right hand over your heart and place your left hand on the outside of your upper left hip. Slowly rotate your torso and head to the left. When you repeat all 8 poses a second time, place your right hand on your right 
hip and rotate to the right to embrace the other side.</span>

                  <span>This pose symbolizes self-appreciation and love. Visualize energy surging through your hands, which feel warm as you pass the energy to your heart and internal organs. Feel good about yourself and your body. Allow your energy and power to give you a sense of warmth and security.</span>
                </div>

                <div class="clearfix"></div>


              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container bridal_yoga-block3">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>5.  Balancing:</h3></div>

                <span>Swing your right arm, followed by your left, up and overhead in a circular motion, moving from left to right. Shift your body weight to your right leg and bend your left knee, lifting your left foot off the ground. As you balance on your right leg, bring both hands in front of your torso, elbows bent, palms facing each other as if you're holding a ball. Note: When you repeat the 8 pose sequence, reverse the arm movement and balance on your left leg.</span>

                <span>This pose represents a perfect balance of emotions, energy and goals. When you're in balance and all 3 flow together, the energy flows easily. As you inhale, visualize a specific goal. Notice the impact it has on your body. Does thinking about it cause you to lose your balance? What are the other areas of your life that set you out of kilter- a relationship, your job, your body or your weight? When you exhale let go of your expectations and fears so you can regain your balance.</span>
                <span>The poses help peel away the layers of emotional baggage that hold most of us back.</span>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container bridal_yoga-block2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>6.  Expanding:</h3></div>

                <span>Place your left foot down next to your right and rest the palms of both hands on the upper portion of your buttocks, fingertips pointing down and elbows bent. Bend your knees as you gently lean back, so you're looking up at the sky but not losing your balance; keep your neck and shoulders relaxed.</span>

                <span>This pose represents personal growth. Physically and emotionally, you're in a very vulnerable position. Learn to trust yourself and your body. Do you resist change because it makes you feel vulnerable or because you're afraid of failure? Look at it as a challenge. Open yourself up to it. The way you approach difficult situations, and eventually overcome them, only makes you stronger and wiser.</span>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container bridal_yoga-block2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bridal_yoga_text2">


                <div class="bridal_yoga_headingtext"><h3>7.  Returning:</h3></div>

                <span>Slowly straighten your torso until you're standing upright. Bend your knees and lean forward from your hips into a tucked position. Place your elbows on your thighs, just above your knees; arms are bent, palms facing in and fingertips touching your forehead. Keep your back slightly rounded and shoulders relaxed.</span>

                <span>This pose represents returning to the womb, where life begins.</span>
                <span>Feel the connection between your legs, arms, torso and head.  Be aware of yourself and your body, and try to appreciate all that you have. Feel your life force as you inhale and exhale.</span>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="bridal_yoga-bodybtmbg">
          <div class="container bridal_yoga-block4">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bridal_yoga_text2">


                  <div class="bridal_yoga_headingtext"><h3>8.  Releasing:</h3></div>

                  <span>Straighten your legs and torso, and lower your arms to your sides. Take a large step to the side with your left foot; take a wide stance, toes slightly turned out. Bend your knees as you lift your arms upward in a wide "V", palms facing up.</span>

                  <span>Release all expectations, fear and self doubt into the air. Hold on to your exhilaration and joy. Trust yourself and your choices. Your body is a temple: Honor and adore it.</span>
                </div>

                <div class="clearfix"></div>


              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <img src="assets/images/bridal_yoga-bodybtmimg.png" alt="#" class="bridal_yoga-bodybtmimg">

      <div class="clearfix"></div>

    </div>



  </div>


  <div class="clearfix"></div>
</div>					