<div class="exminials-bannerwrapper" style="width:100%;">
  <img src="assets/images/epicexperience-millenialsbannerbg.png" style="width:100%;" alt="#">
</div>

<div class="exminials-bodywrapper">
  <div class="mainwrapper">
    <div class="exminialblock1">
      <div class="exminialblock1leftblock">
        <img src="assets/images/millenialepiclogo.png" alt="#">
        <img src="assets/images/exmillenialbolck1leftimg.png" class="exmillenialbolck1leftimg" alt="#">
        <img src="assets/images/exmillenialbolck1leftimg2.png" class="exmillenialbolck1leftimg2" alt="#">
      </div>
      <div class="exminialblock1rightblock">
        <h1>Hello, My name is Alex universe!</h1>
        <h3>My job at Epic Life is to represent the Millennials.  For those of you who are not familiar with the term millennials, it refers to a generation of America that is currently 18 years of age to their early 30's.  Millennials are a very important group to the future of America.</h3>
        <h3>Aside from creating the day to day future for everyone, by being a generation of early technology adopters, financial estimates say that our group represents over 7 trillion dollars in discretionary spending over the next 5 years.</h3>
        <h3>Let me introduce myself and tell you my brief story.  I left home when I was 15 years old and eventually found myself in Tampa Bay, Florida.  My low point as a teen was being homeless, walking along a street in Clearwater Beach with all my possessions in a very old, tattered suitcase that my Great Grandmother used leaving a Nazi Concentration Camp in Europe, a survivor of the Holocaust.  (Hear my great grandfather's words) here:  <a href="#" target="_blank">https://vimeo.com/14962115</a></h3>
        <h3>I had no job, no plan and almost no money.  Like a true Millennial, I decided that I needed to take action.  I saw a sign for a school for massage therapists, applied for financial aid and loans, and enrolled even though I didn't even have a pair of sneakers to take my classes in.  Then I took a job as a server at the local Hooters bar and restaurant.  I graduated Massage Therapy School quickly and today I am attending Erickson College pursuing a degree and coveted ICF Certification as an International Life Coach.  Most importantly, I have been accepted into the Theatre Arts Department at University of California San Diego, one of top acting schools in the nation, to pursue my goal of becoming an actor.</h3>
      </div><div class="clear"></div>
    </div>

    <div class="exminialblock2">
      <div class="exminialblock2leftblock">
        <img src="assets/images/exmillenialbolck2leftimg.png" alt="#">
      </div>
      <div class="exminialblock2rightblock">
        <h2>My love of business began quite accidentally when I randomly began talking to a young female executive having a drink in the bar that I worked at.  She invited me to lunch the following day and before we finished our meal I had asked for and been hired as her new Executive Assistant.  At her side, I learned an incredible number of management and business skills working for her multi-national product conglomerate headquartered here in Tampa.  I have learned about each of our over 800 products, learned about manufacturing, marketing, sales even the cultures of the workers in our offices all over the world.    In fact, in this year and a half I have earned my way to become a part owner of a couple product businesses.   I owe a tremendous amount, so very much, to my mentor Sadie Stebbins and I am here at Epic Life as The Program Director for Millennials, working with her and the entire corporate staff, to pay it forward to help each of you.</h2>
      </div>

    </div>
    <div class="clear"></div>

    <div class="exminialblock3">
      <div class="exminialblock3rightblock">
        <img src="assets/images/exmillenialbolck3img1.png" alt="#">
      </div>
      <div class="exminialblock3leftblock">
        <h2>I believe our generation is the key to unlocking the new world that we will create together.  I want us to work together to truly make that happen.   I want to help each of you to be free to express your unique self.  If you want to dance, then go out and break a move.   If you feel you could work harder at something, then don't wait, get busy and make it happen.  Whatever your path, live a life filled with fun, esteem and happiness.  I know I do. There is never a day that goes by where I don't have the confidence to freely express myself, as everyone should. I don't believe in judgment. I believe in acceptance and equality.</h2>
      </div>
      <div class="clear"></div>
    </div>

    <div class="exminialblock4">
      <div class="exminialblock4con">
        <img src="assets/images/exmillenialbolck4img1.png" alt="#">
      </div>
      <div class="exminialblock4text">
        <h2>Whether you are finding yourself in less desirable circumstances than you would like, as I did when I came to Florida or you are from a family with wealth and means, you have an important role with Epic Life.  And I am here to support you in finding your personal power and success.  We have a world of opportunity at our doorstep; we simply have to embrace it and work together to make incredible, positive changes in the world.  Dreams can come true and I have a small, highly cherished suitcase in my closet that proves it.</h2>
      </div>
      <div class="exminialblock4con">
        <img src="assets/images/exmillenialbolck4img2.png" alt="#">
      </div>
      <div class="clear"></div>
    </div>

  </div>
</div>					