<!--
<p>
  stress-management works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
      <!--<a href="/bridal_massage">--><a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

      <div class="stress_body">

        <img src="assets/images/stressbg3.png" alt="#" class="stressbg3">

        <div class="stress_wrapper1">
          <div class="stress_heading1">Stress management</div>
          <div class="clearfix"></div>

          <img src="assets/images/stressbg2.png" alt="#" class="stressbg2">
          <div class="stress_textcon1">
            Nerves and stress from planning a wedding can take a huge toll on
            your emotions and on the relationships with your friends and family. <br>
            <br>


            Almost every bride feels increased stress.
            <br>
            <br>
            Stress! That one simple word conjures up an incredible
            emotional reaction in people.  An incredible negative emotion,
            that is. No one craves stress. Stress is something we
            try to avoid at all cost.  But what is "stress"?
            <br>
            <br>
            Stress is best understood as a physiological and biochemical outcome to any one of a number of trigger thoughts or events. When the end product outcome occurs physiologically and biochemically, stress has been present. When the end product outcome has not occurred, no stress has been present. It’s actually quite simple.


          </div>



        </div>




        <img src="assets/images/stressbg4.png" alt="#" class="stressbg4">

        <div class="stress_wrapper2">
          There is a region inside your brain called the Limbic System which handles many things, most notably emotion.
          During a stressful episode, an organ within the Limbic System called the Amygdala secretes the hormone ACTH which activates the adrenals to dump adrenalin, noradrenalin and a variety of very destructive chemicals, such as cortisol, into your bloodstream. Cortisol, in turn, activates the amygdala to create a larger ACTH response, which creates more cortisol and a highly negative feedback loop is suddenly in action.  These chemicals, as a group, raise blood pressure, blood sugar and cholesterol as well as suppress important bodily systems such as the digestive and immune systems. They can also promote body fat storage and lower the sustained energy response needed for effective exercise.<br>
          <br>


          These "internal" reactions are a result of the evolutionary process that helps protect man during dangerous, survival episodes. Today we refer to this as the “fight or flight” response. When encountering a dangerous, life threatening event all these reactions would occur in the body helping heighten a survival response (i.e. "fight") or speed escape (i.e. "flight").
          <br>
          <br>

          But in today’s world a lot of stress occurs due to mental versus physical triggers - especially during the wedding planning process. During physical triggers, your body gets to "use" the hormones and chemicals to its benefit but during mental triggers such as wedding planning when the hormones and chemistry is not used for a useful purpose they create tension in the walls of the arteries and begin a number of serious disease processes. Perhaps worse, they accelerate aging.

        </div>




        <img src="assets/images/stressbg5.png" alt="#" class="stressbg5">

        <div class="stress_wrapper2">
          So there you have it. Stress is a physiological and biochemical response that originally supported survival and still does, to an extent during physical episodes. During mental trigger episodes, however, stress can cause an incredible variety of negative health processes to occur.<br>
          <br>


          While few people think this way, it is CRITICAL to understand that while stress itself is largely negative, the stressful trigger events can be positive or negative. In other words, similar biochemical outcomes occur when getting divorced, losing a job or going bankrupt and even happen when getting married, receiving a promotion or winning the lottery.
          <br>
          <br>

          Knowing this, it becomes especially important to learn how to manage stress positively. This can either be fairly easy or very difficult, depending on your personality. If you have a super reactive personality then it will be difficult, yet extraordinarily important for you to learn how to manage stress. If you have a non-reactive personality, it will still be important but stress probably isn’t killing you - quite literally. The more reactive your personality, the more likely you are to have serious physical problems due to stress including overweight, accelerated aging and a variety of disease conditions including a number of very life threatening ones such as heart attack or stroke.



        </div>



        <div class="stress_wrapper3">

          <div class="stress_heading2"> Here are three main ways to effectively manage stress:</div>



          <p>
            <span>Good:</span> Relaxation Techniques. There are a variety of simple relaxation techniques including progressive muscle relaxation, guided imagery, meditation, and prayer, as well as creating balance in the body. Research these techniques on the internet and choose one that is best for you. The key is to be consistent as consistency matters in using stress management tools.<br>
            <br>


            <span>Better:</span> Exercise. Exercise is a great way to lessen the likelihood of stressful triggers occurring. Exercise also eliminates some of the destructive chemical components of stress. When you exercise you put time into yourself and might even enjoy exercise as part of a larger group. This helps provide important balance to your life. Further, since exercise is a physical response, you get to “use” the chemicals that occur after the mental trigger event, thereby lessening the physical impact they have on you.<br>
            <br>


            <span>Best:</span> Natural Biochemistry. The fastest, best way to counteract the toxic biochemical effects of stress is with a biochemical equalizer; an actual preparation that eliminates the negative impact of stress on the body’s tissues and organs. Since the negative biochemistry is totally natural it should not be surprising that the best way to fight it comes from completely natural sources as well. There is a small group of naturally occurring compounds, such as the amino acid GABA, that are scientifically known to effectively diminish and in some cases even block the negative effects of stress hormones.
            <br>
            <br>

            As important as choosing the best stress management technique for you, it is equally important not to take shortcuts and choose stress management routes which add to the destructive component of stress.
            <br>
            <br>

            Here are some of the improper stress management techniques that you should avoid!!

          </p>


          <div class="stress_imgcon3">
            <div class="stress_heading4"> Stress Life ...</div>

            <img src="assets/images/stressbg7.png" alt="#" class="stressbg7">

          </div>










          <p>
            <span>Pharmaceutical Drugs.</span>  There are millions of people taking drugs such as the Benzodiazepines.  While these may be
            helpful in the very short term for managing seriously acute stress episodes, using them for extended periods to alleviate anxiety is a prescription for biochemical disaster.  The one possible exception to this (that appears a bit less negative), today, is the drug Buspar.  Pharmaceutical drugs come with a host of negatives and should not be the first line of defense against stress.<br>
            <br>


            <span>Recreational Drugs.</span> Even worse, many people try recreational drugs such as cocaine to limit their stress. While cocaine might make you feel a bit less stressed temporarily since it affects dopamine levels, over time, you need more and more of the drug to get the same reaction. Along with drug use comes a variety of very negative physiological and psychological effects.
            <br>
            <br>

            <span>Alcohol.</span> Alcohol is widely used as a stress deterrent. A small amount of alcohol may actually be beneficial to a person’s health but few people can consume alcohol in small amounts. Alcohol use leads to alcohol abuse and an incredible number of physical and mental problems.<br>
            <br>


            <span>Nicotine.</span> Many people enjoy smoking, believing that nicotine helps them to sharpen a bit mentally and help create a calm, relaxed feeling and attitude. Since cigarette smoke contains nearly an uncountable number of harmful chemicals and is directly responsible for 450,000 deaths a year, obviously, the harm here greatly outweighs the benefits.<br>
            <br>


            Avoid all these negative stress coping mechanisms, they can only lead to harm. Instead, we recommend you use 1-2 capsules of Sleep Thin during the day, when you begin to feel the walls of stress closing around you. We recommend that you use Sleep Thin even if you do not need to lose weight as it is a pure GABA supplement.
            <br>
            <br>

            Why does GABA help eliminate the negative effects of stress?

          </p>



          <div class="wrapper3_text3">
            <div class="stress_heading3"> GABA CAN HELP YOU RELAX</div>

            <p>

              GABA is a tiny amino acid that is technically
              considered a neurotransmitter. Neurotransmitters are natural chemicals existing in brain synapses
              that assist the brain cells in communicating with
              one another. GABA is a substance very natural to
              the body.  Each of us has naturally occurring GABA,
              benefiting us every moment of the day and
              night in a variety of ways.
              <br>
              <br>

              GABA itself is a fairly simple amino acid that is
              classified as a GRAS list (safe for human
              consumption) public domain nutrient by the United States Food and Drug Administration. Aside from being a critically important naturally occurring
              substance in the body, GABA also plays a powerful role when supplemented. In other words, adding more GABA, in supplement form, can result in incredible positive changes, more specifically, changes biochemists refer to as “metabolic
              optimization.”
            </p>

          </div>


          <div class="clearfix"></div>
        </div>



        <div class="stress_wrapper4">

          <div class="stress_heading5"> The Science of GABA</div>

          <div class="stress_textcon5">

            The Science Citation Index <span>(SCI®)</span> is a monthly reference tool that provides
            scientists access to current and past bibliographic information,
            author abstracts, and cited references on virtually every
            scientific topic under study. The <span>SCI</span> includes 3,700 of the
            world's leading scholarly science and technical journals
            covering more than 100 different disciplines. A search in
            <span>SCI</span> for the amino acid <span>GABA</span> finds literally thousands
            of laboratory and clinical studies published
            throughout the world covering the entire
            rainbow of physiological possibilities.<br>
            <br>


            There are dozens of areas of common
            biochemistry (i.e. weight loss, sleep, anti-aging,
            arthritis, skin health) where <span>GABA</span> has proven to
            be of substantial benefit. Additionally, clinical
            research in <span>GABA</span> has shown that oral doses of
            pure <span>GABA</span> decreases anxiety, increases relaxation
            and is effective for many in combating panic disorders
            and depression. Further, orally administered GABA actually
            outperforms Theonine in alpha wave generation
            <span>(focused relaxation)</span> and beta wave inhibition <span>(stress).</span></div>

        </div>

      </div>

    </div>


    <div class="clearfix"></div>
  </div>
</div>					