<!--
<p>
  nutrition works!
</p>
-->
<div class="container-fluid nutrition">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>FIT<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container nutrition-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/fit-lyfe">--><a [routerLink]="['/fitlyfe']"><img src="assets/images/fit_lyfe_home-bodyleftblockimg1.png" alt="#"></a>
      <!--<a href="/exercise">--><a [routerLink]="['/exercise']"><img src="assets/images/fit_lyfe_home-bodyleftblockimg2.png" alt="#"></a>
      <!--<a href="/nutrition">--><a [routerLink]="['/nutrition']"><img src="assets/images/fit_lyfe_h	ome-bodyleftblockimg3.png" alt="#"></a>
      <a href="javascript:void(0)"><img src="assets/images/fit_lyfe_home-bodyleftblockimg4.png" alt="#"></a>
      <a href="javascript:void(0)"><img src="assets/images/fit_lyfe_home-bodyleftblockimg5.png" alt="#"></a>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 fit_lyfe_home-bodyrightblock">

      <img src="assets/images/nutrition_bodyrightblockimg1.png" class="lyfehairhand-bodyrightblockimg1" alt="#">
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="nutrition-bodyrightblockcon1 lyfehairhandhead">
              <h1>WATER</h1>
            </div>

            <div class="nutrition-bodyrightblockcon1content lyfehairhandcontent">
              <div class="container nutrition-con1topblck">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>The Most Important Nutrient</h1>
                    </div>
                    <div class="nutrition_content1bg">
                      <h1>Water is the main nutrient in your body.</h1>
                      <h2 class="h2topdesc"> <span>Since water is available to us in such abundance,</span> we tend to overlook its importance as a critical nutrient for the body. In fact, we will go
                        further. Water is one of the six critical nutrients for life. We read so much
                        about the other five, carbohydrates, proteins, fats, vitamins and minerals that we often forget to drink enough of the sixth, water. One could argue that
                        water is the most critical of all the nutrients since we could survive
                        over 30 days without food but we would
                        die in 3-4 days without water.
                      </h2>
                      <h1>Water: The Most Important Nutrient</h1>
                      <h2><span>Water is the main nutrient in your body.</span>  Since water is available to us in such abundance, we tend to overlook its importance as a critical nutrient for the body. In fact, we will go further.  Water is one of the six critical nutrients for life.  We read so much about the other five, carbohydrates, proteins, fats, vitamins and minerals that we often forget to drink enough of the sixth, water. One could argue that water is the most critical of all the nutrients since we could survive over 30 days without food but we would die in 3-4 days without water.</h2>
                    </div>
                    <div class="nutrition_content1block2">
                      <h2>While some of you might be drinking the proper amount of water, our guess is that most of you are not.  We should all drink water, at regular intervals throughout the day, even when we are not thirsty.  This is important due to the fact that water is centrally involved in nearly every bodily process and is the primary transporter of all nutrients. Additionally water helps maintain body
                        temperature and is essential to carry waste material out of the body. Due to all these reasons, and more, replacing the water that is continually lost through sweating and elimination is very important. Unfortunately, most people only consume enough water to quench a parched throat not enough to maintain health or increase fitness.</h2>

                      <h2>To maintain normal, adequate hydration, a simple calculation of body weight x 0.50 can be used.</h2>

                      <h2>The answer to this equation will equal the amount of water a person should drink in ounces on a daily basis.</h2>

                      <h2><span>For example,</span> a woman who weighs 150 lbs, should drink 75 oz. (150 x .50) of water every day. If you are involved in strenuous activities, such as long-distance running or exercising in extreme heat, your water intake should be increased. In that case, just multiply your bodyweight by 0.65.

                      </h2>
                    </div>
                    <div class="nutrition_content1block2btm">
                      <h2><span>On another note -</span> you might ask if too much water can be a problem?  The answer is yes. Before you go off and drink all your water at one sitting, it is important to note that a more than 1 1/2 gallons of water ingested within an hour of activity can be dangerous! The best way to get adequate supplies of water is to drink a cup or glass a few times throughout the day.  Drinking more water will not, however, cause you to retain water or fluids, in fact, the opposite is true.</h2>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="container nutrition-con1btmblck">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>Your Water Source</h1>
                    </div>
                    <div class="nutrition-con1btmblcktop">
                      <h2> Given that you are committed to drinking the correct amount of water the next question you might be asking yourself about water at this point is <span>"what is the best source water to drink?" </span> Generally speaking most people think this comes down to a consideration of tap water versus bottled water. But it’s a little more complex than that due to the fact that tap water can be municipally controlled or well water. And that bottled water can be tap water, spring water and it can be bottled in glass or plastic. With so much written about water out on the internet and only part of it true, it can get confusing.
                        Let us try to make it easier for you.</h2>
                      <div class="clearfix"></div>
                      <div class="nutrition-con1btmblckmdl"><h3>There are many claims regarding city tap water not being safe even though it is regulated by the Safe Drinking Water Act and the fact that city tap water is filtered and treated to
                        eliminate harmful microorganisms.  If you are really concerned about your tap water then have it analyzed. You can find sources for this easily on the Internet.</h3></div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="nutrition-con1btmblckbottom">
                      <h4>Below you can see just a short list of the problematic chemicals that might be found in your tap water:</h4>
                      <div class="nutrition-con1btmblckbottomleft">
                        <ul>
                          <li>Chlorine</li>
                          <li>Cryptosporidium and Giardia</li>
                          <li>Volatile Organic Chemicals (VOCs)</li>
                          <li>Trihalomethanes</li>
                          <li>Floride</li>
                          <li>Lead</li>
                          <li>Pesticide Runoff</li>
                        </ul>
                      </div>
                      <div class="nutrition-con1btmblckbottomright">
                        <p>Although tap water is generally cleaner and better than
                          generally believed, it certainly makes perfect sense to use an in-home filter to further improve the quality of your personal drinking water.  There are a variety of different water filters
                          available for use including:
                        </p>
                        <ul>
                          <li>Charcoal or Carbon Water Filters</li>
                          <li>Sediment Filters</li>
                          <li>KDF Filter Media</li>
                          <li>Water Distillers</li>
                          <li>Ceramic Water Filters</li>
                          <li>Reverse Osmosis</li>
                          <li>Atmospheric Water Generator</li>
                          <li>Ultraviolet Water Filters</li>
                          <li>Magnetic Water Filters</li>
                          <li>Infra Red Water Filters</li>
                          <li>Catalytic Water Filters</li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="nutrition-bodyrightblockcon2 lyfehairhandhead">
              <h1>PROTEIN</h1>
            </div>

            <div class="nutrition-bodyrightblockcon2content lyfehairhandcontent">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1> Understanding Protein</h1>
                    </div>
                    <div class="nutrition-content2block1">
                      <div class="nutrition-content2block1text">
                        <img src="assets/images/nutrition-protine_image1.png" class="nutrition-protine_img1" alt="#">
                        <h2><span>After water, we are protein. Earlier we learned that water is the main chemical in our bodies. Coming in number two is protein. The word protein actually means "first substance" due to the fact that the first food fuel we ever consumed was our mother’s milk. Milk is the only food specifically designed to sustain</span>
                          <span>mammalian life and therefore human life. Milk has two protein groups:</span>

                          <span>Whey - which is the complete protein that makes milk so essential to life and;</span>

                          <span>Casein - which is used for manufacturing cheese and other milk by-products.</span>

                          <span>One of the problems you can have in understanding protein is that there is so much information out there on protein, most of it contradictory, much of it wrong. It's time that you had the truth about protein; just the facts and nothing but the facts.</span>

                          <span>To start, you need to understand that the word "protein" covers a lot of ground. There are literally thousands of
                                                        different proteins, ranging from high end proteins that are actually “live” to low end proteins like Elmer’s Glue. The average gym store protein would be found somewhere in the middle.</span></h2>
                        <div class="clearfix"></div>
                        <h3>Assuming a decent dietary source, protein is the nutritional
                          key for those of you interested in improving your health,
                          losing excess body fat or adding lean, well-shaped muscle.
                          In order to increase your health, shape or sculpt your body,
                          you need sufficient protein intake to fuel the changes. There have been scores of books highlighting this fact including the very popular Zone Diet by Dr. Barry Sears. Such books suggest that we tend to over-eat carbohydrates and under-eat protein. If you understand the simple fundamentals of how your body processes these two food fuels, you will be in a better position to evaluate the critical importance of protein to improve your health or your fat loss and body shaping goals.
                          <span>
As we said, normally our diets are very high in carbohydrates and fats.  It is a bit of an oversimplification but think of it in the following way: when you eat carbohydrates, your blood sugar immediately raises. This causes your pancreas to secrete the hormone insulin that removes the sugar from the blood and stores it as fat.  Conversely, when you eat proteins your blood sugar levels remain low.  This causes the pancreas to secrete glucagon. Glucagon travels to the fat cells and extracts fat to be burned as energy.</span>
                          <span>
 As important as protein is, oddly, as we indicated earlier, there is no nutrient more misunderstood. To begin, you should understand that a protein is simply a group of different amino acids bonded together. Different types of proteins are comprised of different amounts of individual amino acids.  This is important, depending on what goal you are trying to achieve with protein use.</span>
                          <span>
There are a variety of protein sources available to people. There are proteins from whole foods such as meats, grains and vegetables. There are also single free form amino acids. There are soy proteins, egg proteins, casein and various forms of whey protein.</span>
                        </h3>
                      </div>
                    </div>
                    <!--<img src="assets/images/nutrition_proteinbg2.png" class="fit_lyfe_home-rightblock1bg" alt="#" />-->

                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1> Understanding Protein</h1>
                    </div>
                    <div class="nutrition-content2block1btm">
                      <div class="nutrition-content2block1text2">
                        <img src="assets/images/nutrition-protine_image3.png" class="nutrition-protine_img3" alt="#">
                        <h2><span>Let's examine in general terms some of the more popular protein sources. 1. Protein from whole foods such as meats, grains and vegetables. Whole food sources are acceptable because they are widely available and they taste good. On the negative side, however, whole food proteins normally spoil quickly and may contain risky microorganisms that can make you sick or in extreme cases can even kill. Additionally, food proteins normally have high levels of fats or 
carbohydrates and are highly fibrous, therefore more difficult to digest. Further, depending on the specific food source, they may cause allergies.</span>
                          <span>Most importantly, however, whole food proteins when 
                                                        cooked can lose their health altering potency.</span>
                        </h2>
                        <div class="clearfix"></div>
                        <h3>
                                                    <span>2. Single Free Form Amino Acids. Single free form amino acids are manufactured through fermentation by microorganisms in large biological chambers. These can be manufactured as pharmaceutical grade pure injectibles or as food grade products. As food products, amino acids are very costly, taste terrible, have poor mixability, high digestive irritability and are absorbed 
relatively slowly.</span>

                          <span> 3. Soy Protein. As scientists we find it particularly vexing that there is so much information being peddled by marketing 
companies regarding soy protein being the best source of protein for women. This is due to the fact that soy is a BIG business in the US.  And soy manufacturers actually have lobbyists on the payroll helping to create the big lie.  There is no other way to state the facts other than to say that calling soy the best, most complete protein for women is totally inaccurate as it is missing a highly critical amino acid, methionine.  Facts are facts and there is no way to dispute this fact.</span>

                          <span> Not to mention that other little fact that soy is an estrogenic substance. While there were studies published earlier in time 
demonstrating estrogenic nutrient’s value for heart disease prevention, etc., there are an equal number of studies showing that taking estrogenic substances may not affect heart disease positively and, in fact, carry with them significant risks to the consumer.</span>
                        </h3>
                        <img src="assets/images/nutrition-protine_image4.png" class="nutrition-protine_img4" alt="#">
                        <h3><span>4. Egg Protein. Twenty odd years ago, Hal Katz formed a nutritional brand called Nature’s Best and he went on a mission to convince people of the superior value of egg protein and various protein’s PER ratings.  The PER rating died around 1991 along with the notion that egg protein was superior for making anything other than meringue pies.</span>

                          <span> 5. Casein. There was a time when whey was considered an annoying by-product of making various cheeses from casein.  Today we understand that casein protein has nowhere the nutritional value of whey and may actually be damaging for a number of reasons including it being a possible carcinogenic.</span>

                          <span> 6. Whey Proteins. There are a variety of whey proteins available in the market today. There is no need to get into deep detail on them other than to mention that the most relevant classification of whey is whether it is denatured or non-denatured.</span>

                          <span> Denatured whey means damaged whey. In the manufacturing process a majority of whey proteins are subjected to heat, alkali or acid causing their structure to unfold. During this process, some of the original properties of whey, especially its biological activity, are diminished or eliminated. These destructive manufacturing processes exist simply to reduce the cost of processing protein. They are negative, nutritional value robbing short cuts – plain and simple.</span>

                          <span> Non Denatured whey means never damaged. The whey protein is naturally occurring and is never altered by heat, chemicals, enzyme action or processing. Non denatured proteins are also referred to as Native Proteins.</span></h3>
                        <img src="assets/images/nutrition-protine_image5.png" class="nutrition-protine_img4" alt="#">
                        <h3><span>The best, most complete protein available for anyone wishing to repair their body or stimulate their health is Non Denatured Whey or Native Whey. There can be no disputing that fact.   The reason for this is that protein is extremely fragile.  When intact, complete protein can spark and support amazing, regenerative processes in the human body.  But, the various commercial methods of processing whey do not protect the fragility of the protein molecule; rather, they actually destroy it.  There are three commercial production methods that produce virtually every whey product that you can purchase from any store or gym.  You might recognize one or more of the three manufacturing methods from the labels on the various products: whey isolates, 
ion-exchange whey or hydrolyzed whey.  All three involve subjecting the milk to high heat (163 degrees) and/or significant acidification.  These processes literally unfold and destroy the protein resulting in the need to filter out the damaged parts via ultra-filtering, cross flow filtering or micro-filtering.  Unfortunately, the damaged components that are removed were the 
previously vital protein components that provide it with its biological activity.</span>

                          <span> Many manufacturers attempt to divert you from understanding this basic science through the use of one of more of the 
seemingly high-tech scientific terms listed above.  Other manufacturers flat out try to trick you with terms such as un-denatured protein or cold process proteins. The truth is that there is no such thing as un-denatured protein. Once you denature a protein (i.e. destroy), there is no way to un-denature (or un-destroy) it.  Once destroyed, always destroyed.  As far as cold process goes, there are no label laws regarding this term so a manufacturer could legally argue that parts of the process were cold or that 163 degree was cold compared to 212 degrees which might catch the protein on fire!!</span>

                          <span> The most relevant point regarding protein that you need to focus on, always, is that for a protein to truly improve your health maximally, it must retain the full range of biological activity and proportion of the protein components that nature provided. Only non-denatured whey can provide this benefit.  And of course, the milk must come from healthy milking cows not fed harmful chemicals, additives, antibiotics or steroids.</span>

                          <span> The bottom line is that non-denatured whey protein has the highest biological value of any protein. It is a complete protein, unlike soy, and provides all the essential amino acids in the proper balance. Non-denatured whey is also the only protein that has all of five critical, active protein constituents of whey: lactoferrin, immunoglobulins, bovine serum albumin, alpha-lactalbumin and beta-lactoglobulin.</span>

                          <span> Gym trained individuals are slowly gaining education on the differences inherent in native whey versus a majority of 
commercially processed whey products.  Generally speaking, native whey has a wide range of immune-enhancing properties and acts as an antioxidant, antihypertensive, antitumor, antiviral and antibacterial agent.  A number of clinical trials have 
successfully been performed using whey as an antimicrobial agent and in the treatment of diabetes, metabolic syndrome, cancer, HIV, hepatitis B & C, cardiovascular disease and osteoporosis, as well as other disease states. It has a starring role in red blood cell production, remaking the cell membrane, support in chemotherapy treatment, detoxification of heavy metals, wound healing, growth of new muscle, weight regulation and the support of numerous immune functions. It is used by 
populations that have Diabetes and Metabolic Syndrome, Chronic Fatigue Syndrome (CFS), Fibromyalgia, Hepatitis, Cancer, HIV/AIDS, Respiratory disease, cognitive disorder from nutritional compromise and for any fitness performance improvement.</span>

                          <span>We recommend that healthy individuals use 20 grams of a non-denatured whey product once to twice a day to help remake cell membranes and improve cellular and tissue health in a variety of ways.</span></h3>
                      </div>
                    </div>


                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="nutrition-bodyrightblockcon3 lyfehairhandhead">
              <h1>CARBOHYDRATES</h1>
            </div>

            <div class="nutrition-bodyrightblockcon3content lyfehairhandcontent">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>Understanding carbohydrates</h1>
                    </div>
                    <div class="nutrition-carboblock1">
                      <img src="assets/images/nutrition-carboblock1img1.png" class="nutrition-carboblock1img1" alt="#">
                      <h2><span>After water, we are protein.  Earlier we learned that water is the main chemical in our bodies. Coming in number two is protein. The word protein actually means "first substance" due to the fact that the first food fuel we ever consumed was our mother's milk.  Milk is the only food specifically designed to sustain mammalian life and therefore human life.  Milk has two protein groups:</span>

                        <span>Whey - which is the complete protein that makes milk so essential to life and;</span>

                        <span>Casein - which is used for manufacturing cheese and other milk by-products.</span>

                        <span>One of the problems you can have in understanding protein is that there is so much information out there on protein, most of it contradictory, much of it wrong. It's time that you had the truth about protein; just the facts and nothing but the facts.</span>

                        <span>To start, you need to understand that the word "protein" covers a lot of ground. There are literally thousands of different proteins, ranging from high end proteins that are actually "live" to low end proteins like Elmer's Glue. The average gym store protein would be found somewhere in the middle.</span>

                        <span>Assuming a decent dietary source, protein is the nutritional key for those of you interested in improving your health, losing excess body fat or adding lean, well-shaped muscle. In order to increase your health, shape or sculpt your body, you need sufficient protein intake to fuel the changes. There have been scores of books highlighting this fact including the very popular Zone Diet by Dr. Barry Sears. Such books suggest that we tend to over-eat carbohydrates and under-eat protein. If you understand the simple fundamentals of how your body processes these two food fuels, you will be in a better position to evaluate the critical importance of protein to improve your health or your fat loss and body shaping goals.</span>

                        <span>As we said, normally our diets are very high in carbohydrates and fats.  It is a bit of an oversimplification but think of it in the following way: when you eat carbohydrates, your blood sugar immediately raises. This causes your pancreas to secrete the hormone insulin that removes the sugar from the blood and stores it as fat.  Conversely, when you eat proteins your blood sugar levels remain low.  This causes the pancreas to secrete glucagon. Glucagon travels to the fat cells and extracts fat to be burned as energy.</span>

                        <span>As important as protein is, oddly, as we indicated earlier, there is no nutrient more misunderstood. To begin, you should understand that a protein is simply a group of different amino acids bonded together. Different types of proteins are comprised of different amounts of individual amino acids.  This is important, depending on what goal you are trying to achieve with protein use.</span>

                        <span>There are a variety of protein sources available to people. There are proteins from whole foods such as meats, grains and vegetables. There are also single free form amino acids. There are soy proteins, egg proteins, casein and various forms of whey protein.</span></h2>
                    </div>
                    <!--<img src="system/themes/lyfeperformance/images/nutrition_carbobg2.png" class="fit_lyfe_home-rightblock1bg" alt="#" />-->
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="container nutrition-carboblock2con">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>Simple Sugars</h1>
                    </div>
                    <div class="nutrition-carboblock2">
                      <img src="assets/images/nutrition-carboblock2img1.png" class="nutrition-carboblock1img1" alt="#">
                      <div class="clearfix"></div>
                      <h2><span>Let's talk about simple sugars first.  We all enjoy the sweet taste of sugar.  We love sugar in our coffee and tea, on our cereal, in our favorite recipes and, of course, in desserts.  Sugar is a class of edible crystalline carbohydrates that consist of sucrose (molecular compound of disaccharide derived from glucose and fructose), lactose (found mostly in milk and is formed from galactose and glucose extracted from sweet or sour whey) and fructose (fruit sugar and simple monosaccharide).</span>

                        <span>Table sugar or sucrose coming is by far the most popular form of sugar sweetener with about 150,000,000 tons of table sugar produced annually in the US from sugar cane and sugar beet. Originally people chewed sugarcane to extract the sweetness.  It began being manufactured for use in ancient India.  We know this due to documentation from China validating the travels made to seek out sugar refining technology from India in 647AD.</span>

                        <span>In our indulgence, or should we say our overindulgence of sugar, obesity, metabolic syndrome and diabetes has crept into the picture.  While most gym athletes and dieters know to avoid simple sugars when possible, they might not know the special danger to the body that lurks in a simple carbohydrate called High Fructose Corn Syrup (HFCS).   HFCS manufacturers try to "educate" the public with the fact that their product is "natural" and identical to actual sugar, going so far today medical science says otherwise. In fact, HFCS manufacturers are going so far today to change the rename this ingredient on packages as, "Corn sugar." While simple sugars should be limited, HFCS should be totally avoided as it builds insulin resistance and leads to a cascade of negative biochemical consequences.</span>

                        <span>Here is the 411 on High Fructose Corn Syrup.  High Fructose Corn Syrup was discovered in 1957 by two laboratory researchers who created an enzyme called glucose isomerase that quite incredibly rearranged the molecular composition of glucose in corn syrup and converted it to the far sweeter sugar fructose.</span>

                        <span>Over time, in the U.S., where corn was plentiful and corn syrup was very inexpensive to produce, High Fructose Corn Syrup replaced sugar and became the darling new sweetener in the rapidly industrializing 1970's.  How much High Fructose Corn Syrup is produced today?  Just one Cargill plant in Eddyville produces enough High Fructose Corn Syrup to sweeten over 30 million cans of soda daily!</span></h2>
                      <img src="assets/images/nutrition-carboblock2img2.png" class="nutrition-carboblock1img2" alt="#">
                      <div class="clearfix"></div>
                      <h2><span>Does that sound scary?  How about the fact that the average person in America consumes over 70 pounds of High Fructose Corn Syrup a year?  That is truly frightening given the fact that there are a myriad of studies showing that High Fructose Corn Syrup increases obesity and insulin resistance, stimulates the liver to produce dangerous triglycerides, promotes the destructive glycation of proteins and is associated with increased rates of carbonyl compounds which are blamed for diabetic complications such as foot ulcers and eye and nerve damage.  Even worse, a pilot study of High Fructose Corn Syrups manufactured in the U.S. showed trace amounts of mercury.</span>

                        <span>Today, there is no doubt in our mind whatsoever that the huge amount of High Fructose Corn Syrup consumed by Americans is one of the main causative factors in the rapid growth of Metabolic Syndrome which leads to cardiovascular disease as well as Type II diabetes.</span>

                        <span>Of course, the corn producers in America fight back with expensive TV commercials saying that High Fructose Corn products are good for you since they are "natural."  Our response?  Hemlock is natural but eating Hemlock will kill you fast. Pick your poison or avoid them all together.</span>

                        <span>It is important for us to emphatically shout is to avoid any and all foods with High Fructose Corn Syrup in them.  The skills to start putting into your day are to drink less soda, to avoid processed foods and foods that contain added sugar or high fructose corn syrup.  Instead, for your carbohydrates choose fresh fruits, vegetables and grains.  If you are able to do that, you will have a real jump start on losing weight and increasing health.</span></h2>
                    </div>
                    <!--<img src="assets/images/nutrition_carbobg2.png" class="fit_lyfe_home-rightblock1bg" alt="#" />-->
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="container nutrition-carboblock3con">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>Glycemic Load</h1>
                    </div>
                    <div class="nutrition-carboblock3">
                      <div class="nutrition-carboblock3top">
                        A second very important variable when considering carbohydrate food fuels is a particular food’s glycemic load. Selecting low glycemic carbs minimizes the fluctuation of blood glucose and insulin levels. Eating low glycemic carbs versus high glycemic carbs is
                        considered the key to long-term health by reducing
                        the risk of heart disease and diabetes.
                      </div>
                      <div class="clearfix"></div>
                      <h2><span>Glycemic load is a way of numerically expressing how specific foods effect blood-sugar levels.  In order to know the glycemic load of a particular food, you need to know its glycemic index first.  The glycemic index is the speed at which a food converts into glucose in the blood.  Due to the fact that glucose is the primary blood sugar, its glycemic index is set at 100.  The faster a food turns to glucose in the blood, the higher the glycemic index.</span>

                        <span> Knowing the glycemic index of a food is the first step in being able to calculate its glycemic load.  Glycemic load is a number reflecting how much insulin is needed to turn the food into glucose and how much total sugar is in the serving.   You can calculate the actual glycemic load of a particular food by simply multiplying the total number of carbs in a serving of food by its glycemic index.  Of course, there are plenty of value tables out on the internet estimating glycemic loads of various foods as well.</span></h2>
                      <div class="clearfix"></div>
                      <div class="nutrition-carboblock3mdl">
                        <img src="assets/images/nutrition-carboblock3img2.png" class="nutrition-carboblock3img2" alt="#">
                        <h2><span> Another way of thinking about glycemic load is that it is
                                             a number which estimates how likely the food is to raise 
                                            your blood sugar.  If a food is under 10, like nuts, asparagus, 
                                            celery, cucumbers and low-fat yogurt than it is a great 
                                            food choice.   Foods with values between 10 and 20 like 
                                            brown rice, oat brain and popcorn are moderate.  Foods 
                                            over 20 like white bread, chips, and jelly beans are 
                                            foods that should go on the rarely to seldom eaten list.</span>

                          <span> Experts vary on their recommendations as to what 
                                            your total glycemic load should be each day.  
                                            A typical target for total glycemic load is 100 
                                            total points or less per day.  If you have diabetes 
                                            or metabolic syndrome, it should probably be a 
                                            little lower.  If you are relatively fit and active, 
                                            a bit higher is acceptable.  Obviously, if your 
                                            carbohydrate intake is very low, the glycemic load 
                                            number would have to be low.</span></h2>
                      </div>
                      <div class="clearfix"></div>
                      <h2><span> As a rule of thumb we like to tell people who are attempting to lose weight to try to keep the total grams of carbohydrates under their pounds in body weight.  If you weigh 130 pounds, you would want to try to eat less than 130 grams of carbohydrates, most of them from the low to moderate glycemic load lists. If you are involved in exercise activities that stretch on for an hour or more or if your workouts are particularly intense, you can add low glycemic carbohydrates to fuel those activities effectively.  You don’t need to chart each food you eat but keeping rough estimates in your daily journal will be a huge help in monitoring and managing your return to superior fitness.</span>

                        <span>There are a great many different websites that can help you. Personally, we use <a href="http://www.nutritiondata.com">http://www.nutritiondata.com</a> but any similar site will do.</span></h2>


                      <div class="clearfix"></div>

                    </div>
                    <!--<img src="assets/images/nutrition_carbobg2.png" class="fit_lyfe_home-rightblock1bg" alt="#" />-->
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="nutrition-bodyrightblockcon4 lyfehairhandhead">
              <h1>FATS</h1>
            </div>

            <div class="nutrition-bodyrightblockcon4content lyfehairhandcontent">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>The Most Important Nutrient</h1>
                    </div>
                    <div class="nutrition-fatblock1">
                      <img src="assets/images/nutrition-fatblockimg1.png" class="nutrition-fatblockimg1" alt="#">
                      <h2><span>Recently we discussed two of the three main food fuels:  protein and carbohydrates.  Fat is the third important food fuel.  Fats are food fuels that belong to a group of substances called lipids and may come in liquid or solid form.  Fat provide about 9 calories of energy per gram, more than twice the number provided by carbohydrates or protein.  On average, individuals stores between 30-50 times the energy in fat as they do in carbohydrates, which makes fat a very important fuel source.</span>

                        <span>While we tend to think of fat as "bad," fat is absolutely necessary for good health.  Aside from its energy producing capability, fat cells help insulate the body and help the body absorb fat soluble vitamins such as A, D, E and K.  Further, fat is important for maintaining healthy skin and hair and maintaining optimal cell membrane function.</span>

                        <span>Fat also provides the two essential fatty acids, linoleic and linolenic acid, which are not made by the body and must be obtained from foods.  These essential fatty acids play important roles in controlling inflammation, in clotting blood, and in brain development, especially during the first 24 months of life.</span></h2>
                    </div>
                    <!--<img src="assets/images/nutrition_fatbg2.png" class="fit_lyfe_home-rightblock1bg" alt="#" />-->
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="container nutrition-fatblock2con">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-head">
                      <h1>Types of Fats</h1>
                    </div>
                    <div class="nutrition-fatblock2">
                      <h2><span>Recently we discussed two of the three main food fuels: protein and 
carbohydrates. Fat is the third important food fuel. Fats are food fuels that belong to a group of substances called lipids and may come in liquid or solid form. Fat provide about 9 calories of energy per gram, more than twice the number provided by carbohydrates or protein. On average, individuals stores between 30-50 times the energy in fat as they do in carbohydrates, which makes fat a very important fuel source.</span>

                        <span>The main distinction for fat in food is saturated fat and unsaturated fat.  Saturated fats are the primary cause of high LDL or "bad cholesterol."  Too much saturated fat increases the likelihood of heart disease, cancer and obesity.  Saturated fats are found in animal products such as fatty meats, butter, cheese, whole milk and ice cream and some vegetable oils such as coconut and palm.</span></h2><div class="clearfix"></div>
                    </div>
                    <div class="nutrition-fatblock3">
                      <h2><span>Unsaturated fats don't have the negative effects on blood cholesterol when substituted for saturated fats.  Examples of unsaturated fats are monounsaturated fats such as olive and canola oil and polyunsaturated fats such as fish or corn oil.  Remember though, while unsaturated fats are better for you than are saturated fats, unsaturated fats still have a great many calories, so you must be mindful in limiting their consumption.</span>

                        <span> One final type of fats that you should be aware of are trans fatty acids.  A trans fat is classified as an unsaturated fat with trans-isomer fatty acid.  Trans fat comes from adding hydrogen to oil in order to harden it.  This process is called hydrogenation and results in hydrogenated fats or partially hydrogenated fats.  Trans fat can both raise your "bad" cholesterol and lower your "good" cholesterol. Consuming trans fat is linked to coronary heart disease, inflammation, increased triglycerides and cancer.  Health authorities all over the world recommend that you limit your trans fat intake to trace amounts.  Read labels carefully to reveal the partially hydrogenated process.  Trans fatty acids are found in fried foods, baked goods, processed foods and margarines and should definitely be avoided.</span></h2>
                      <img src="assets/images/nutrition-fatblock2img2.png" class="nutrition-fatblock2img2" alt="#">
                      <h2><span>When it comes to fat, the best advice we can give anyone is to choose foods that are low in fat such as whole grains, fruits, and 
vegetables or choose  lean, protein-rich foods such as soy, fish, skinless chicken, lean meats and fat-free dairy products.  Another simple trick is to avoid commercial goods containing high amounts of simple carbohydrates as they often contain high fat content as well.</span>

                        <span> Further, when ingredients are listed on the labels please pay careful attention and choose products lower in fat content and avoid saturated fat, trans fatty acids or hydrogenated or partially hydrogenated fats as much as possible.</span>

                        <span> While it is not advisable to avoid all fats in your diets, ideally, if you are attempting to lose weight or increase your fitness your total calories from fat should be 20 percent or less.</span></h2>
                    </div>
                    <!--<img src="assets/images/nutrition_fatbg2.png" class="fit_lyfe_home-rightblock1bg" alt="#" />-->
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="nutrition-bodyrightblockcon5 lyfehairhandhead">
              <h1>ALCOHOL</h1>
            </div>

            <div class="nutrition-bodyrightblockcon5content lyfehairhandcontent">
              <div class="content-head">
                <h1>The Final Food Fuel : <span>Alcohol</span></h1>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nutrition-bodyrightblockcon5contenttop">
                    <h2>The fourth and final food fuel is alcohol</h2>
                    <p>Alcohol is a very poor fuel choice because alcoholic
                      beverages give you calories with no accompanying nutritive value.  Alcohol is high in calories containing 7 calories per gram which almost as much as fat (9 calories per gram) and more than carbs or protein (about 4 per gram).
                      Alcohol can also misdirect you and cause you to eat while dieting.   As you can plainly see, despite what people believe, distilled alcohol (i.e. whisky, vodka, etc.) is not a carbohydrate.   There are a small amount of carbohydrates present in wine or in beer but a majority of the calories come directly from alcohol.  For example, when grapes are made into wine or grains into beer, most of the sugars (carbs) convert to alcohol, but a few carbs remain.</p>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nutrition-bodyrightblockcon5contentbtm">
                    <h2>Alcohol is a very poor fuel choice</h2>
                    <p>because alcoholic beverages give you
                      calories with no accompanying nutritive value.  Alcohol is high in calories containing 7 calories per gram which almost as much as fat (9 calories per gram) and more than carbs or protein (about 4 per gram).
                      Alcohol can also misdirect you and cause you to eat while dieting.
                      As you can plainly see, despite what people believe, distilled alcohol (i.e. whisky, vodka, etc.) is not a carbohydrate.   There are a small
                      amount of carbohydrates present in wine or in beer but a majority of the calories come directly from alcohol.  For example, when grapes are made into wine or grains into beer, most of the sugars (carbs) convert to alcohol,
                      but a few carbs remain.</p>

                    <p>In fact, our body processes alcohol first, before fat, protein, or carbs.  So aside from adding empty calories, drinking also slows down the burning of fat.  The rule of thumb here is easy to
                      follow – if you are on a diet stay
                      completely away from all alcoholic beverages including wine and beer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


<div class="clearfix"></div>
<!--
<div class="container-fluid lyfehairhand-bodybottomwrapper">
<div class="row">
<div class="col-lg-6 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomwrappercon">
<img src="assets/images/lyfehairhand-epiclogo.png" alt="#" />
<h1>Join us and build your own Epic Lyfe today!</h1>
</div>
<div class="clearfix"></div>
</div>
</div>

<div class="container-fluid lyfehairhand-bodybottomcontent">
<div class="row">
<div class="col-lg-4 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomman">
<img src="assets/images/lyfehairhand-bodybottomman.png" alt="#" />
</div>
<div class="col-lg-7 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomtext">
<h1>create your own</h1>
<h2>epic lyfe</h2>
<h3>We are the relationship marketing company<br />
for the new millennium.</h3>
<div class="clearfix"></div>
<div class="distribute">
<a href="#">Join as a Distributor Today!</a>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>


<div class="container lyfehairhand-footerwrapper">
<div class="row">
<div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
<a href="#">Home</a><span>|</span>
<a href="#">Login</a><span>|</span>
<a href="#">Contact Us</a><span>|</span>
<a href="#">Terms & Conditions</a><span>|</span>
<a href="#">Privacy Policy</a>
</div>
<div class="col-lg-3 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
<p>Copyright © Epic Lyfe 2015</p>
</div>
</div>
</div>
-->





<script>
    $(document).ready(function(){

      /*$( "#lyfehairhand-bodyrightblockcon1" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon1content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon2" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon2content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon3" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon3content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon4" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon4content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon5" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon5content" ).toggle( ).delay( 3000 );
       });*/

        $('.lyfehairhandhead').click(function(){
            var curhead = $(this);
            if($(this).next('.lyfehairhandcontent').is(':hidden')){
                $('.lyfehairhandcontent').slideUp();
                $(this).next('.lyfehairhandcontent').slideDown('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });

            }else{
                $(this).next('.lyfehairhandcontent').slideUp('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });
            }
        });

    });

</script>					