<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body  bgcolor="#FAF4E5">
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right dashboard_rightcon">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1">
      <h4>Dashboard</h4>
      <div class="dashboardwrapper">


        <div class=" dbblog dblog1">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-usd" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2"  class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>


        <div class="dbblog dblog2">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-comments-o" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2"  class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>

        <div class="dbblog dblog3">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-cog" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2"  class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>

        <div class=" dbblog dblog4">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-user-plus" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2" class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>

        <div class=" dbblog dblog5">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-server" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2" class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>

        <div class=" dbblog dblog6">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-unlock-alt" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2" class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>


        <div class=" dbblog dblog7">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-pie-chart" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2" class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>


        <div class=" dbblog dblog8">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><i class="fa fa-link" aria-hidden="true"></i></td>
              <td>
                <h6>26</h6>
                <span>Lorem ipsum dolor</span>

              </td>
            </tr>
            <tr>
              <td colspan="2" class="linktd">
                <a href="javascript:void(0)" class="viewdetail"> View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </td>

            </tr>
          </table>
        </div>






        <div class="clearfix"></div>














      </div>
    </div>
  </div>
</div>
</body>