<div class="partylyfe-bannerwrapper" style="width:100%;">
  <img src="assets/images/partylyfe-bannerbg.png" style="width:100%;" alt="#">
</div>

<div class="partylyfe-bodywrapper">
  <div class="mainwrapper">
    <div class="partylyfe-block1">
      <h1>SOCIALIZE, EDUCATE, AND LOVE THE PEOPLE IN YOUR LIFE</h1>
      <div class="partylyfe-block1leftcon">
        <h3>Be part of our social events and experience the Epic Life product lines yourself!  Our gatherings are unlike anything else you have experienced up to this point!</h3>
        <h3>Get involved with Epic Life and join one of our incredible Life parties! Our distributors host these events right at their homes and in night clubs across the United States. Are you interested in attending? Are you interested in hosting?  Let’s get together!</h3>
        <h3>If you are an Epic Life distributor we have incredible assets to assist in your home or club parties. Please get in touch with your up line for further details.</h3>
        <h3>The law of nature is to separate you from others and that is what the world will always do.  Whether it tries to separate you by religion, by the color of your skin, by how much money your family earns, by the car that you drive or the clothes that you wear, by how attractive you are, your age, by your intelligence or your athletic ability – it’s always going to happen.</h3>
        <h3>At Epic Life we believe in INCLUSION and what better way to promote inclusion, cooperation and comradery that with parties.  Parties are wonderful ways for small groups of people to meet, learn more about each other and have fun.  Every good party needs a theme and what better theme is there than LIVING AN EPIC LIFE.</h3>
        <h3>My name is Sadie and my job at Epic Life is to provide you with the best, most innovative products and marketing information to share the products with your friends and the world.  I am also the Epic Life Party Host.</h3>
        <h3>We have two main types of parties at Epic Life:  Vapormone Parties and Living Power Jewelry Parties.</h3>
        <h3>We have provided you with a detailed PARTY PLAN for each; however, you are free to modify our plan to best suit your individual party needs.  If you need help getting started, simply drop me a note sadie@epiclife.com and I will help you get started.</h3>
      </div>
      <div class="partylyfe-block1rightcon">
        <img src="assets/images/partylyfe-block1img.png" class="partylyfe-block1img" alt="#">
        <img src="assets/images/partylyfe-block1imgresponsive.png" class="partylyfe-block1imgresponsive" alt="#">
      </div>
    </div>
    <div class="clear"></div>

    <div class="partylyfe-block2">
      <div class="partylyfe-block2leftcon">
        <img src="assets/images/partylyfe-block2vapimg1.png" class="partylyfe-block2vapimg1" alt="#">
        <img src="assets/images/partylyfe-block2vapimg2.png" class="partylyfe-block2vapimg2" alt="#">
      </div>
      <div class="partylyfe-block2rightcon">
        <div class="partylyfe-block2rightconleft">
          <img src="assets/images/partylyfe-block2rightconimg1.png" alt="#">
        </div>
        <div class="partylyfe-block2rightconright">
          <h2>Choosing A Date</h2>
          <h4>There is no correct day to host a party but it’s important understand that a typical party might last 2-4 hours so often it is better to choose a weekday night or a Sunday.  It all depends on the demographics of your guest list.  The younger the crowd, the more likely they will be to have other plans on weekend nights.</h4>

          <h4>Normally, you want to choose a date 3-4 weeks in advance to give your potential guests plenty of time to plan to attend.
          </h4>
        </div>
        <div class="clear"></div>

      </div>
      <div class="partylyfe-block2rightcon">
        <div class="partylyfe-block2rightconleft">
          <img src="assets/images/partylyfe-block2rightconimg2.png" alt="#">
        </div>
        <div class="partylyfe-block2rightconright">
          <h2>Guest List</h2>
          <h4>There is no ideal party size but you might want to invite a couple dozen people and hope to end up with 10-12 people at the party.</h4>

          <h4>Make a list of your close friends or family that lives nearby.  People who you talk with or share things with on a frequent basis will form your core list of invitees.   Second, everyone likes to socialize outside the workplace so invite your co-workers, even those whom you haven’t interacted with that much.  Finally, invite people from your school, church, volunteer organization or even local neighborhood.</h4>
          <h4>No matter whom you invite, make a point to extend the invitation for them to bring a friend or two.  Having people that you don’t know personally involved is great, because it adds to the group of people who are directly connected to you.  Some party hosts actually offer a small gift to anyone who brings an uninvited guest with them!</h4>
        </div><div class="clear"></div>
      </div>

      <div class="partylyfe-block2rightcon">
        <div class="partylyfe-block2rightconleft">
          <img src="assets/images/partylyfe-block2rightconimg3.png" alt="#">
        </div>
        <div class="partylyfe-block2rightconright">
          <h2>The Invitation Process</h2>
          <h4>We recommend that you send out your invitations 3-4 weeks in advance.</h4>

          <h4>Traditional paper invitations delivered by the Postal Service can be charming; however, most party hosts like to issue e-invites.  My suggestion is to check out Evite.com, a free online invitation service with a variety of invitation templates to choose from.  You can incorporate a product image, as well as your website in the invitation, so they are very versatile.  Guests can RSVP to Evite.com and the site even sends automatic reminders to guests before the event.</h4>
          <h4>Personally, I would recommend that you give your guests a phone call or a text message a couple days prior to the party.  Courtesy communications are always welcome and it gives you the chance to reinforce the fact that new guest are welcome.</h4>
          <h4>Make sure that you mention that the purpose of the party is to socialize. Many people are less threatened by home parties if they do not feel pressured to buy. Everyone loves to “be crafty” so ultimately the jewelry will sell itself.  Enjoy your friends, hang out and have a fun evening of friendship.</h4>
        </div><div class="clear"></div>
      </div>

    </div>
    <div class="clear"></div>
  </div>					</div>