<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 ">
      <h4> Recover Profile</h4>
      <div class="dashboard1form">
        <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
          <div class="error_class2" *ngIf="is_error">{{is_error}}</div>
          <div class="form-group"  ngClass="{{haserrorcls('email')}}">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" [formControl]="dataForm.controls['email']">
            <div class="help-block" ngClass="{{showerrorcls('email')}}">Email is required</div>
            <div class="help-block" ngClass="{{showerrorcls('email','validemail')}}">Enter valid email id</div>
          </div>
          <input type="submit" value="Go" class="loginbtn2">
        </form>
      </div>
    </div>
  </div>
</div>
