<!--
<p>
  bridal-home works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
        <a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <div class="bridal_right_wrapper">
        <img src="assets/images/bridal_right2.png" alt="#" class="top_bannermg">


        <img src="assets/images/bridal_right1.png" alt="#" class="bridal_right_img">

        <div class="bridal_right_text">
          <h2>Bridal Corner</h2>
          <div class="textblock1">
              <span>Hi, my name is Sadie and helping you be the 
best that you can be is my passion.</span>
            I am the owner of Pure Chemistry nutrition & skin care and
            Scientific Scents so providing you with the best products and cutting edge information to create lasting, positive change in
            your live is my job. As Executive Vice President of Marketing and Product Development, my team and I have uncovered all the secrets to looking and feeling your best.

          </div>

          <div class="textblock2">
            There are a few reasons for the success of Epic Life, most prominent among them is the level of expertise and the excellent information we share with our customers and online visitors. I am a typical consumer much like all of you, although I have a staff of doctors, biochemists and more. All whom report to me, therefore I am in a position to understand and explain things to you that my competitors cannot. They understand the marketing messaging and the numbers on the spreadsheets, but they don’t
            understand the real essence of the products or what you honestly desire to know.<br>
            <br>


            While supplements, nutrition and exercise have always been the
            cornerstone to excellent health and a great interest of mine, my real passion has been “beauty” and beauty products. In fact, for the past six years I have hired and directed a team of researchers in the study of most all of the various beauty products, completed tens of thousands of hours of analysis of ingredients, finished products, and informally counseled many people on skin care. In fact, it has been this work that has motivated me to create an online beauty presence to demystify some of the cosmetic folklore that is out there and to offer everyone the same quality of
            information and service within the field of beauty as Epic Life does within fitness and nutrition.


            <h3>Thank you for visiting and <br>

              come back often.</h3>

          </div>





        </div>

        <div class="clearfix"></div>

      </div>



    </div>


    <div class="clearfix"></div>
  </div>
</div>					