<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
    <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 ">
            <h4> Add Reply</h4>
            <div class="dashboard1form">
                <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
                    <div class="form-group" ngClass="{{haserrorcls('reply')}}">
                        <label>Reply</label>
                        <ckeditor
                                [formControl]="dataForm.controls['reply']"
                                [config]="{uiColor: '#99000'}"
                                debounce="500">
                        </ckeditor>
                        <div class="help-block" ngClass="{{showerrorcls('reply')}}">Reply is required</div>
                    </div>
                    <input type="submit" value="Save" class="loginbtn2">
                </form>
            </div>
        </div>
    </div>
</div>