<!--
<p>
  heart-health work!
</p>
-->
<div class="container-fluid heart_cholesterol">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>heart<span>Health</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container heart_cholesterol-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/heart_health">--><a [routerLink]="['/hearthealth']"><img src="assets/images/cholesterol1.png" alt="#"></a>
      <!--<a href="/heart_cholesterol">--><a [routerLink]="['/heartcholesterol']"><img src="assets/images/cholesterol2.png" alt="#"></a>
      <!--<a href="/blood_pressure">--><a [routerLink]="['/bloodpressure']"><img src="assets/images/cholesterol3.png" alt="#"></a>
      <a href="#"><img src="assets/images/cholesterol4.png" alt="#"></a>
      <a href="#"><img src="assets/images/cholesterol5.png" alt="#"></a>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 heart_health-bodyrightblock">
      <div class="heart_health-bodyrightblockcontent">
        <div class="container heart_health-bodyrightblock1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <img src="assets/images/heart_health-righttextimg.png" alt="#" class="heart_health-righttextimg">
              <img src="assets/images/heart_health-rightimg3.png" alt="#" class="heart_health-rightimg3">
              <h2><span>Your heart is an amazing organ. It’s not important that you know very much initially about its anatomy or 
biochemistry. What you really need to know is that it is far more than an automatic pump that pushes your blood around your body. It is actually a very delicate organ whose disruption is responsible for between 350,000 - 600,000 deaths in America each year, depending on which set of statistics you choose to believe.</span>

                <span>Many people mistakenly believe that women don’t need to be concerned about heart disease. That is wrong as heart disease is the number one killer of women, the same as it is for men. Women just seem to enjoy about a ten year head start on the men when it comes to the onset of significant heart disease.</span>

                <span>As a practicing cardiologist, I know that heart disease is almost completely preventable and in many cases the damages that preexist can undergo positive change and hopefully even reverse the course of an inevitably negative outcome. But that requires education and action and that is what I will attempt to provide here.</span></h2>
            </div>
          </div>
        </div>
        <div class="container heart_health-bodyrightblock2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <img src="assets/images/heart_health-rightimg4.png" alt="#" class="heart_health-rightimg4">
              <h2><span>This is going to be a simple, no nonsense education. Then procedures or practices that support the important principles and changes that are identified. It ends with you actually possessing the skills to healthy living. No pretty prose. No marketing hype. No ego stroking. Just the facts and the correct interpretation of the facts, given today’s level of scientific understanding.</span>

                <span>We want this to be understood by everyone not just medical school graduates. If the average metropolitan newspaper is written for a sixth grade reading level, then we are happy to oblige a similar style. While some of the concepts we will present are rather complex we will always strive to aim for the core of the matter and provide you with those details.</span>

                <span>Ultimately we want this to be a strong companion to your current heath care - even if you are currently under the care of a cardiologist. Most cardiologists like well-informed patients. Really, there are plenty of great physicians out there who do support education and integrated forms of disease prevention and treatment. We applaud those forward thinking physicians and we support their efforts.</span>

                <span>We want this information to compel you to live healthier, happier and longer lives. We want to greatly reduce the.</span></h2>
            </div>
          </div>
        </div>
        <div class="container heart_health-bodyrightblock3">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="heart_health-bodyrightblock1head">
                <h1>Vitamin B12 Patch - Buy this product Now!</h1>
              </div>
              <h2><img src="assets/images/heart_health-rightimg7.png" alt="#" class="heart_health-rightimg7"><span>Vitamin B-12 patches from Epic Life provide a high dose of Vitamin
B-12 transdermally directly into circulation avoiding all the 
absorption issues that make oral B-12 supplements near useless. 
B-12 is important for health in that it assists in red blood cell 
formation, neurological matters and brain function. 
There are 12 full strength patches per package.</span>

                <span>Vitamin B12 is a water-soluble vitamin that is naturally present in 
some foods, added to others, and available as a dietary supplement 
and a prescription medication. Vitamin B12 is required for proper red blood cell formation, neurological function, DNA synthesis as well as hundreds of other critical biochemical reactions.</span></h2>
              <h2><span>Since absorption of B-12 is so low from oral doses, it is extremely easy for everyone to fall into a B-12 deficiency state. Vitamin B12 deficiency is characterized by anemia, fatigue, weakness, constipation, loss of appetite, and weight loss. B-12 deficiency can also cause neurological changes, such as numbness and tingling in the hands and feet. Additional symptoms of vitamin B12 deficiency include imbalance, depression, confusion, dementia and memory loss.
</span></h2>
            </div>
          </div>
        </div>
        <div class="container heart_health-bodyrightblock4">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h1>Why use a transdermal patch?</h1>
              <h2><span>Most multivitamin pills only contain 100-200 micrograms of B12. This must then escape the stomach and digestive process before it can be used by the body. The actual absorption of B12 is a serious problem with oral supplements. Swallowing a full 500 micrograms of Vitamin B12 can result in absorption of as little as 1.8 micrograms, so most oral supplements do not provide an adequate daily intake. The solution to this is to take expensive and sometimes painful B 12 injections from your doctor or use a transdermal B 12 patch which deposits B-12 directly into the bloodstream in a manner similar to the shots.</span>

                <span>Epic Life Vitamin B12 Patch is safe, efficient and inexpensive.<br>
Epic Life Vitamin B12 Patch gives you the increased energy and stamina to live life to the fullest.</span></h2>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 heart_health-bodyrightblock4left">
                <p>To better understand why a product works, it is important to know the ingredients and how each plays a part in the process. Click on each ingredient below to learn more.</p>
                <ul>
                  <li><a href="#">Vitamin B12</a></li>
                  <li><a href="#">Vitamin C</a></li>
                  <li><a href="#">Vitamin B6 (pyridoxine)</a></li>
                  <li><a href="#">Guarana</a></li>
                  <li><a href="#">Folic acid</a></li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 heart_health-bodyrightblock4right">
                <img src="assets/images/heart_health-rightimg9.png" alt="#" class="heart_health-rightimg9">
              </div>
            </div>
          </div>
        </div>
        <div class="container heart_health-bodyrightblock5">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="heart_health-bodyrightblock1head">
                <h1>Blood Pressure Control- Buy This Product Now!</h1>
              </div>
              <div class="heart_health-bodyrightblock5content">
                <img src="assets/images/heart_health-rightimg12.png" alt="#" class="heart_health-rightimg12">
                <h2><span>Epic Life introduces Blood Pressure Control,
an all-natural, blood pressure control supplement that contains some of the most important vitamins, herbs and berries known for their supportive function in promoting heart health and wellness. Blood Pressure Control supplements have proven to have positive effects in maintaining healthy blood pressure levels.</span>

                  <span>Today, millions of people are aware that they can become involved in lowering their own blood pressure. By maintaining a healthy weight, being physically active, and eating a low sodium diet, you can take positive steps to help lower blood pressure naturally. Additionally, when your diet is not always perfect, supplements can be a great help. Natural blood pressure 
supplements like Epic Life Blood Pressure Control have shown to have positive effects in maintaining healthy blood pressure levels.
</span></h2>
              </div>
              <div class="clearfix"></div>
              <img src="assets/images/heart_health-rightimg13.png" alt="#" class="heart_health-rightimg13">
              <img src="assets/images/heart_health-rightimg14.png" alt="#" class="heart_health-rightimg14">
            </div>
          </div>
        </div>
        <div class="container heart_health-bodyrightblock6">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="heart_health-bodyrightblock1head">
                <h1>CoQ-10</h1>
              </div>
              <h2><img src="assets/images/heart_health-rightimg16.png" alt="#" class="heart_health-rightimg16"><span>Coenzyme Quinone-10 (CoQ-10) is a highly positive co-enzyme found in every cell in 
the body. CoQ-10 is fundamental for the basic functioning of cells. CoQ-10 exists inside 
small organelles of the cell called mitochondria, the powerhouses of the cell, 
where it is needed to generate energy.</span>

                <span>A helpful way to understand the function of CoQ-10 in the cell is to think about how 
a spark plug works in an engine. Knowing the role CoQ-10 plays in cellular energy 
production, it is no wonder that the highest concentrations of CoQ-10 are found 
where we need the most energy – the heart, immune system, liver and kidneys.</span>

                <span>CoQ-10 also functions as a powerful antioxidant, which means that it protects cell 
membranes by defending against damaging compounds called free radicals. Studies 
have shown CoQ-10 to be a beneficial nutrient for helping to maintain heart function.</span></h2>
              <div class="heart_health-bodyrightblock6btm"><span>In the diet, CoQ-10 exists in moderate amounts in meat, poultry and fish and in even smaller amounts in nuts, fruits and vegetables. The body’s primary source of CoQ-10 is the supply it produces naturally. That’s right – the human body can</span>
                <span>naturally make CoQ-10; however, CoQ-10 levels decrease with age, so as we get older, supplementation with CoQ-10 becomes more important.</span>
                <span>stances, supplemental CoQ-10 may be advised. We recommend using Epic Life CoQ-10 Heart Health to maintain and restore optimal CoQ-10 levels and to help support heart function and cellular
energy production.</span>
              </div>
              <div class="clearfix"></div>
              <img src="assets/images/heart_health-rightimg18.png" alt="#" class="heart_health-rightimg18">
              <p>To better understand why a product works, it is important to know the ingredients and how each plays a
                part in the process. Click on each ingredient below to learn more.</p>
              <a href="#"><img src="assets/images/heart_health-rightimg19.png" alt="#" class="heart_health-rightimg19"></a>
            </div>
          </div>
        </div>
        <div class="container heart_health-bodyrightblock7">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="heart_health-bodyrightblock1head">
                <h1>Omega 1000 Fish Oil</h1>
              </div>
              <img src="assets/images/heart_health-rightimg21.png" alt="#" class="heart_health-rightimg21">
              <h2><span>Omega 3 Fatty Acid Complex is a scientifically balanced blend of the two most important Omega 3 fatty acids: 
eicosapentaenoic acid (EPA), docosahexaenoic acid (DHA) derived from the highest quality purified cold water fish oils. Omega-3 fatty acids support a healthy heart and cardiovascular system. They improve cognitive functions including memory and concentration. In fact, the Omega 3’s are an essential part of the structure of every cell in the body as an integral component of the cell membrane. This cell integrity enables each cell to accomplish its function. Perhaps most importantly, they are also powerful anti-inflammatory substances and are recommended by most cardiologists as an important supplement to help the heart remain healthy.</span></h2>
              <img src="assets/images/heart_health-rightimg22.png" alt="#" class="heart_health-rightimg22">
              <h2><span>To better understand why a product works, it is important to know the ingredients and how each plays a part in the process. Click on each ingredient below to learn more.</span></h2>
              <ul class="heart_health-bottomlist">
                <li><a href="#">Omega 3</a></li>
                <li><a href="#">DHA</a></li>
                <li><a href="#">EPA</a></li>
              </ul>
              <img src="assets/images/heart_health-rightimg21.png" alt="#" class="heart_health-rightimg23">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="clearfix"></div>					