<!--
<p>
  bridal-massage works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
      <!--<a href="/bridal_massage">--><a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <div class="bridal_massage_right_wrapper">

        <img src="assets/images/bridal_massage_img4.png" alt="#" class="bridal_massage_img4">

        <div class="bridal_massage_text2">


          <div class="bridal_massage_headingtext"><h2>Bride to be relaxation</h2></div>

          One of the most important, exciting and terrifying days has arrived – your wedding day! All of the planning, preparing, stressing and your big moment is finally here. This is no ordinary day. You want to look and feel your best.<br>
          <br>


          Your goal should be to become relaxed and to let your body and mind become one. You may ask yourself, “How can I make sure I am at the top of my game, for my BIG day?” The best answer is to getting a light massage before your trip down the aisle. It is one of the most beneficial gifts you could give yourself.<br>
          <br>


          After all, what girl doesn’t like gifts especially when the gift involves having a relaxing massage and being pampered? A massage automatically washes away all of the stress that the weeks leading to this day have built up. You will feel a great sense of calmness and clarity for the entire day. When you are relaxed and calm, it will show. The glow that will radiate from you will fill the whole room. Your walk down the aisle will be unforgettable for everyone. Of course, seeing the love of your life at the end of the aisle might have something to do with that glow as well!



        </div>



        <img src="assets/images/bridal_massage_img2.png" alt="#" class="bridal_massage_img2">

      </div>



    </div>


    <div class="clearfix"></div>
  </div>
</div>