<!--<head></head>
<body bgcolor="#FAF4E5">-->
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right dashboard_rightcon">
  <div class="dashboard_right_wrapper">
    <div  class="dashboard1_div1">
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
          <tr>
           <td>{{userdetails.firstname}} {{userdetails.lastname}}
           <!--{{userdetails.length}}-->
           </td>

            <td>{{userdetails.address}}, {{userdetails.city}}, {{userdetails.state}}, {{userdetails.zip}}</td>
            <!--<td>SCHOOLBOY INDUSTRIES INT'L LTD</td>-->
            <!--<td>76 Dean Street Belize City Belize</td>-->
          </tr>
        </table>
      </div>
    </div>
    <div class="dashboard1_div1">
      <h4>Accounts</h4>
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0"  >
          <tr>
            <th>Account No</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Current</td>
            <td>240.93</td>
            <td>EUR</td>
            <td>ACTIVE IBAN: GB84MIDL40051574601364</td>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Current</td>
            <td>240.93</td>
            <td>EUR</td>
            <td>ACTIVE IBAN: GB84MIDL40051574601364</td>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Current</td>
            <td>240.93</td>
            <td>EUR</td>
            <td>ACTIVE IBAN: GB84MIDL40051574601364</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="dashboard1_div1 table-responsive">
      <h4>Last transactions</h4>
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Account No</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Transfer money from account: 26866240 - Current (290.93 EUR) to account: 26866189 - Current (-15.42 USD) Reference:Clear negative balance</td>
            <td>Debit</td>
            <td>13 Mar 2017</td>
            <td>-50.00</td>
            <td>EUR</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Transfer money from account: 26866240 - Current (290.93 EUR) to account: 26866189 - Current (-15.42 USD) Reference:Clear negative balance</td>
            <td>Debit</td>
            <td>13 Mar 2017</td>
            <td>-50.00</td>
            <td>EUR</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Transfer money from account: 26866240 - Current (290.93 EUR) to account: 26866189 - Current (-15.42 USD) Reference:Clear negative balance</td>
            <td>Debit</td>
            <td>13 Mar 2017</td>
            <td>-50.00</td>
            <td>EUR</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Transfer money from account: 26866240 - Current (290.93 EUR) to account: 26866189 - Current (-15.42 USD) Reference:Clear negative balance</td>
            <td>Debit</td>
            <td>13 Mar 2017</td>
            <td>-50.00</td>
            <td>EUR</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>26866240</td>
            <td>Transfer money from account: 26866240 - Current (290.93 EUR) to account: 26866189 - Current (-15.42 USD) Reference:Clear negative balance</td>
            <td>Debit</td>
            <td>13 Mar 2017</td>
            <td>-50.00</td>
            <td>EUR</td>
            <td>Complete</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!--
</body>-->
