<!--
<p>
  newmomsguide works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/beautiful">--><a [routerLink]="['/beautiful']"><img src="assets/images/lyfehairhand-bodyleftblockimg1.png" alt="#"></a>
      <!--<a href="/hairhandsnailsfeet">--><a [routerLink]="['/hairhandsnailsfeet']"><img src="assets/images/lyfehairhand-bodyleftblockimg2.png" alt="#"></a>
      <!--<a href="/home_beauty_remedies">--><a [routerLink]="['/homebeautyremedies']"><img src="assets/images/lyfehairhand-bodyleftblockimg3.png" alt="#"></a>
      <!--<a href="/newmomsguide">--><a [routerLink]="['/newmomsguide']"><img src="assets/images/lyfehairhand-bodyleftblockimg4.png" alt="#"></a>
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/lyfehairhand-bodyleftblockimg5.png" alt="#"></a>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblock">

      <img src="assets/images/nmg_topbanner.png" class="lyfehairhand-bodyrightblockimg1" alt="#">
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="exerciseblockheading lyfehairhandhead">
              <h1>EXERCISE</h1>
            </div>

            <div class="exerciseblock_wrapper lyfehairhandcontent">




              <div class="textpart1">

                <div class="textheading1">Exercise Regimen for New Moms</div>
                <div class="clearfix"></div>
                <h2>1. Walking</h2>


                <div class="textblock1">Most people do not consider walking to be an exercise, but walking is actually one of the easiest ways to ease yourself back into a fitness routine after giving birth. Everything from a lovely stroll around the park to a pumped-up power walk in the mall. Anyway you can manage to get walking into your life can help start the changes you want to see in your body. Also bringing baby along in a front carrier or sling can add to the benefits of walking due to the added weight.<br>
                  <br>


                  To switch things up, try walking backward or walking in a zigzag motion to keep your muscles guessing. It is not advised to include baby in these exercise activities until you are completely certain that you have mastered them and are sure of your balance. </div>


              </div>

              <div class="textpart2">


                <h2>2. Deep belly breathing with abdominal contraction</h2>


                <div class="textblock2">Deep belly breathing with abdominal contraction is a very simply and easy exercise. You can actually begin this exercise within hours after childbirth. It will start the process of strengthening and toning your abs and belly, while helping your muscles relax.<br>
                  <br>


                  1   Sit in the upright position and breathe deeply<br>
                  <br>


                  2    Inhaling while tightening your abs and relax while exhaling.<br>
                  <br>


                  3   Slowly begin to increase the amount of time you can contract and hold your abs.
                </div>


                <img src="assets/images/exercise_img2.png" alt="#">


              </div>

              <div class="textpart3">


                <h2>3. Shoulder lifts and head lifts</h2>


                <div class="textblock3">These two movements help tone your tummy and abs, while also burning calories.They also strengthen back muscles.<br>
                  <br>


                  1    Start by laying on the floor or on your mat with your arms along your sides.
                  <br>
                  <br>

                  2    Keeping your lower back flat on the floor, bend your knees so that the bottoms of your feet touch the floor.
                  <br>
                  <br>

                  3    Relax your tummy as you inhale.
                  <br>
                  <br>

                  4    As you exhale, slowly lift your head and neck off the floor.
                  <br>
                  <br>

                  5    Inhale as you lower your head back down.
                  <br>
                  <br>

                  When you can easily do 10 head lifts then start to add shoulder lifts.
                  <br>
                  <br>

                  1    Get in the same position you were in for head lifts.
                  <br>
                  <br>

                  2    Inhale and relax your tummy.
                  <br>
                  <br>

                  3   As you exhale slowly, lift your head and shoulders off the floor, reaching with your arms and hands toward your bent knees. If this strains your neck, fold both hands behind your head instead.
                  <br>
                  <br>
                  4    Inhale as you lower your head and shoulders back down.

                </div>

              </div>



              <div class="textpart2">
                <h2>4. The Curl Up</h2>

                <div class="textblock2">

                  After you are able to accomplish 10 shoulder lifts, next you will be able to move on to the curl up. Begin by starting out in the same position as the shoulder lift. Instead of only lifting your head and shoulders, lift your torso as well until it’s about midway between your knees and the floor behind you. Extend your arms forward and reach towards your knees and remain in this position for a count of five. Then slowly lower yourself to the beginning position. Make sure to breathe while performing this exercise, as this is essential to the exercise. Exhale when you exert. Inhale when you relax.
                </div>

                <h2>5. Kneeling pelvic tilt</h2>

                <div class="textblock2">

                  Begin by kneeling down on all fours. Make certain that your toes are touching the floor behind you, keep your arms straight down from your shoulder line, and palms touching the floor. Keep your back relaxed and straight. Do not let your back become curved or arched anytime during the exercise. While you inhale, bring your glutes forward tilt your pelvis and rotate your pubic bone upward. Stay here for a count of five, and release.

                </div>

                <h2>6. The Kegel</h2>
                <div class="textblock2">
                  This exercise is ideal for women who have just given birth. Kegel exercises help tone and control their bladder muscles which helps reduce the risk of incontinence associated with childbirth.This exercise involves contracting and holding the muscles that control the flow of urine. To identify which muscles they are, start by doing the exercise while you use the bathroom. As you urinate, maneuver your muscles until the stream temporarily stops. Then release and let the urine flow. Remember what that feels like, and when you're not urinating, contract, hold, and release those same muscles. The more you do and the longer you hold those muscles, the better control you will have over those leaks caused by sneezing, laughing, or picking up your baby.


                </div>

                <img src="assets/images/exercise_img4.png" alt="#" class="exercise_img4">

              </div>

              <div class="textpart2">





                <h2>Bonus workouts for baby and mom</h2>

                <div class="textblock2">

                  In the first couple of months it is difficult to find time away from your baby, so try some workout moves with your infant. Before attempting to try these bonus exercises, you must be certain that you have good balance and are fit enough to assure you and your baby's safety. Take some time to practice them without your baby. Do them first with nothing in your arms. Then practice while holding a doll or a rolled up blanket or towel that's the same size as your baby. Only include your baby when you're certain there's no danger of falling or dropping what you are holding in your arms.<br>
                  <br>


                  The baby glider -- Holding your baby close to your chest across your arms, take one-step forward and bend your knee (a lunge). Return your leg and repeat with the opposite leg. This will not only help strengthen your legs but will also strengthen your back muscles and abdomen. Repeat 15 times.<br>
                  <br>

                  The baby bouncer -- From the same position as in the baby glider, take one step out to the side (instead of to the front) and attempt to squat.
                  <br>
                  <br>

                  Rock-a-baby squats and curls -- Stand with your legs shoulder length apart. Holding your baby tight and close to your chest, squat down allowing your baby's feet to touch the floor. As you rise up, bring the baby back closer to your chest. Do not try this exercise until your baby is at least 10 to 12 weeks old. Repeat 15 times.


                </div>
              </div>




              <div class="clearfix"></div>

            </div>






          </div>
        </div>
      </div>


      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="weightlossheading lyfehairhandhead">
              <h1>Weight Loss </h1>
            </div>

            <div class="weightloss_wrapper lyfehairhandcontent">



              <div class="weightloss_con1">Weight Loss Tips for New Moms</div>
              <div class="weightloss_con2">
                <h2>1. Know what your body needs</h2>

                <p>Follow these guidelines for your daily caloric intake and other nutritional needs to
                  lose weight safely and to keep good nutrition. Calorie needs may vary depending
                  on age, metabolism and activity level.

                  If You’re Breastfeeding:  Calories: 2,200 - 2,400  Calcium: 1,000 - 1,300 mg

                  Folate: 280 mcg  Iron: 15 mg  Protein: 65g  Vitamin C: 95 mg  If You're Not Breastfeeding:

                  Calories:  1,900 - 2,200  Calcium: 1,300 mg  Folate: 180 mcg  Iron: 15 mg

                  Protein: 44 - 50 g  Vitamin C: 60 mg

                  These nutrients are essential if you have just given birth because they
                  all serve a specific purpose. Folate is important, as it helps with maintaining
                  future pregnancies. Vitamin D and calcium are vital for bone health.
                  Iron helps with anemia. Vitamin C is needed for iron absorption.
                  Protein is critical for building and repairing damaged muscle tissue.
                  Try to consume more of the nutrients during the lactation process because
                  they leave your body through breastfeeding. </p>


                <h2>2. Keep healthy food available</h2>

                <p>Making sure that you have healthy and low fat foods available will dramatically improve your chance to weight loss. We suggest stocking up on low fat and fat free yogurt; low fat deli meats; low fat or fat free pudding made with milk or containing 30 percent calcium; part skim cheese sticks; pre packaged sliced fruits and vegetables; ready- made salads; cooked whole grains such as brown rice; whole grain cereals, breads and pastas. Having these type of snacks on hand will make it easier to pick something healthy, instead of indulging on highly processed munchies like chips, cookies and cakes. </p>


                <h2>3.Don’t indulge but eat often</h2>

                <p>It has been advised that consuming three small meals, plus two to three snacks per day will aid in weight loss. Try snacking on fruits, vegetables and lean protein sources between meals. Eating often while breastfeeding is important because you need calories in order to fuel milk production. It is also very important to stay properly hydrated, so be sure to
                </p>






              </div>

              <div class="weightloss_con3">drink plenty of water. Eating smaller meals, more often throughout the day will help keep sustained energy. When you are overly hungry you are more likely to binge on sugary foods for energy.This also aids with weight loss because you feel less hungry during the day.</div>


              <img src="assets/images/weightlos_img2.png" class="weightlos_img2" alt="#">


              <div class="weightloss_con4">

                <img src="assets/images/weightlos_img3.png" class="weightlos_img3" alt="#">

                <div class="weightloss4_wrapper">
                  <h3>4.Listen to your body</h3>

                  <p>

                    Before giving in to the urge to sit down and devour your next meal, think about these few things first. Am I really hungry? If yes, you may give yourself permission to eat. If you answer no, then make sure that your eating is not a means to end boredom or emotional eating. Instead you can try to call a friend or family member, go for a stroll around the neighborhood, read a book, do something <br>

                    productive. Whatever you do in order to distract your mind, do not eat because you can not think of anything better to do. What exactly am I hungry for?You can also try snacking on something healthy with a crunch. Foods that have that crunch can satisfy your appetite, so try eating a few cups of air-popped or low-fat popcorn, also an inexpensive, tasty and well worth the effort, home-baked chickpeas will deliver not just crunch, but all-important fibre, iron and folate to your diet, nuts, frozen grapes, cut up fresh vegetables, baked pita or tortilla chips, and apples and nut butter.<br>
                    <br>


                    Although giving in to cravings often is not advised, occasionally, it is ok and actually may be helpful. If it is a craving for ice cream that you have, try having an ice cream that is low fat or a frozen yogurt. If you are constantly fighting your craving you’re bound to give in and have the ice cream-after you’ve already eaten the yogurt, then the nuts, then the cheese. While eating your meals try checking in on yourself to see if you are still hungry. Every 5 to 10 seconds, pause from eating to see if you are still hungry or if your stomach is full..
                  </p>

                </div>

                <div style="clear:both;"></div>
              </div>


              <div class="weightloss_con5">

                <h2>5. Crazy portion sizes</h2>

                <p>We have become accustomed to supersized meal portions, everything from hamburgers to sodas. Portion sizes have gotten out of control, and we have a few simple tricks to help you eat less. First, try eating off of a smaller plate or bowl as a way to trick yourself into thinking you are eating a bigger portion of a meal. One cup of food on a small plate looks like more, than a cup of food on a larger plate. Also try serving food from the stove putting it onto your dishes, rather than placing all the food on the table encouraging seconds. Another trick you could try is when you have the first signs of feeling full, stop eating. There will be more food when you go for your snack or next meal.
                </p>


                <h2>6. Meet your fluid and fiber needs</h2>

                <p>Load up on plenty of fluids. Constipation is a common problem for women post-delivery. To avoid this, try and drink at least eight 8-ounce glasses of water a day, especially if you’re nursing. You can also opt for up to 8 ounces a day of 100% fruit juices, and fat-free or lowfat (1%) milk, sugar-free soft drinks (decaffeinated is preferred) can be included as part of your fluid intake but are
                  nutrient-deficient.<br>
                  <br>


                  You should also load up on your fiber post-delivery. A good fiber choice is fruit, veggies and whole grains. If you are still having problems with constipation post-delivery try drinking warm liquids or go back to the old remedies of prunes and prune juice. If you’re breastfeeding, try and stay away from high-fiber food that cause you to get gas because it can also make your baby gassy. Beware of cabbage, brussels sprouts, broccoli and beans.
                </p>




              </div>


              <div class="weightloss_con6">

                <h2>7. Avoid fad diets</h2>

                <p>Fad diets seem glamorous and like an easy fix for weight problems.
                  The issue that typically follows with these type of diets,
                  are in the beginning you cut calories so drastically
                  that when you resume your prior eating habits, all
                  the weight comes right back. Some new diets also put
                  restrictions on healthy carbohydrates
                  (such as whole grains and fruits).
                  This is a huge mistake. Your body needs
                  these carbs for energy, especially,
                  since they are the main source
                  of energy for your brain. Also these carbs
                  are usually rich in fiber and keep you feeling full.
                  If you plan on cutting out healthy, complex carbs,
                  you should also plan for your body to go into full
                  blown exhaustion. It is advisable to cut out carbs
                  from white pasta, white bread, and rice.
                </p>







              </div>

              <div class="weightloss_con7">

                <h2>8. Don't be so hard on yourself</h2>

                <p>Remember that it takes nine months to
                  put on the weight, and you will not lose it
                  overnight or after delivery. It normally takes a year to lose
                  the weight you put on during your pregnancy.
                  Think of it as an 18-month experience: nine months of gestation,
                  nine month postpartum. You are adjusting to your new life of having a newborn baby,
                  possibly breastfeeding, changing your whole lifestyle to fit the baby, and getting your body back in shape.
                  Try not beat yourself up or get frustrated if you don’t snap back as quickly as you’d like too.
                </p>







              </div>

            </div>






          </div>
        </div>
      </div>


      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="sleeptipsheading lyfehairhandhead">
              <h1>Sleep Tips  </h1>
            </div>

            <div class="sleeptips_wrapper lyfehairhandcontent">






              <div class="sleeptips_con1">Sleep Tips for New Moms</div>
              <div class="sleeptips_con2">
                <h2>Say yes to a helping hand</h2>

                <p>If you have family or friends that are willing to help with the baby try and be open to it. Making sure you get rest is a necessity for you and your baby, so you stay healthy and have energy. If need be, look for part-time help from a professional.
                </p>






              </div>
              <img src="assets/images/sleeptips_wrapper_img1.png" class="sleeptips_wrapper_img1" alt="#">

              <div class="sleeptips_con2">
                <h2>Snooze with your baby</h2>

                <p>It may be hard at first, but you should adjust your sleeping time to you baby’s. Having those short naps of 15 to 20 minutes will end up making a big difference. Co-sleeping can also help your baby develop a healthy sleep attitude, because the baby grows up thinking of sleep as a pleasant state to enter and a fearless state to stay in.
                </p>






              </div>

              <div class="sleeptips_con2">
                <h2>Be prepared for the night</h2>

                <p>A way to make your night go more smoothly with your new baby is to prepare for nightly feedings before hand. Keep everything that you need next to the bed, so that when baby wakes up in the middle of the night it saves you time and effort. Have bottles with already measured out formula and separate pre filled  containers of purified water. If you are breastfeeding, then you already are avoiding the hassles of preparing formula bottles in the middle of the night. Another tip is to keep your diaper changing station ready with fresh diapers and baby wipes.
                </p>


              </div>

              <div class="sleeptips_con2">
                <h2>Take turns with your partner</h2>

                <p>If you are not breastfeeding, then it may be helpful to take turns with your partner to nurse the baby during the night. If you are breastfeeding then you may want to use a breast pump in order to have some pre filled bottles ready, this way your partner will still be able to pitch in. Also try to figure out during pregnancy how you and your partner will deal with baby waking up during the night

                </p>


              </div>


              <div class="sleeptips_con2">
                <h2>Turn down the noise</h2>

                <p>As a mother, you’re always wanting to know and hear everything that is going on around your child, one of the most common mistakes that new moms make is having the monitor entirely too loud. Your baby monitor should be loud enough to pick up any cries, but it should not be so loud that it disrupts you or your partners sleep. Monitors that have a camera are very useful because if you hear a gurgle you can easily look to make sure that your little one is ok.

                </p>


              </div>


              <div class="clearfix"></div>


            </div>






          </div>
        </div>
      </div>

      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="facialmasksheading lyfehairhandhead">
              <h1>Facial Masks</h1>
            </div>

            <div class="facialmasks_wrapper lyfehairhandcontent">
              <h1>Facial Masks for New Moms - Exfoliants</h1>
              <div class="container facialmasks_wrapperimgblock">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img src="assets/images/facialmasks_wrapperimg1.png" alt="#">
                  </div>
                  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <img src="assets/images/facialmasks_wrapperimg2.png" alt="#" class="facialmasks_wrapperimg2">
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 facialmasks_wrapperimgblockbtm">
                    <p>This one is very easy! Avocados are chemical free and have natural organic substances so its
                      great for your face. It will have your face feeling smooth and fresh.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Ingredients: <img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1/2 ripe avocado <span>Do this: Mash the avocado and apply it to your face. Leave it on for 15-20 minutes then rinse off.</span></p>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container facialmasks_wrapper-honeyblock">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2>Avocado and honey</h2>
                    <p>For a little bit more luxury, add honey too. This will make a great moisturizer.</p>
                    <p>Ingredients: <img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1/2 avocado <img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1/4 cup of honey</p>
                    <p>Do this: &nbsp; &nbsp;Mash the avocado and mix with honey. Apply it to your face and
                      leave for some 15 minute then rinse off.</p>
                    <h2>For Oily skin</h2>
                    <p>Grapefruit and sour cream</p>
                    <div class="facialmasks_wrapper-honeyblockmddletxt">
                      <p>Sour Cream combined with grapefruit makes a refreshing antiseptic
                        and astringent base for a homemade facial mask. Its a perfect
                        mask if your skin feels oily and tired.</p>
                    </div>
                    <p>Ingredients:
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">teaspoon grapefruit juice</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">teaspoon sour cream</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">egg white</span>
                    </p>
                    <p>Do this:    <span>Beat the egg white until it's fluffy, add sour cream and grapefruit 
juice and mix well. Apply to face for 15 minutes, and then rinse with warm water.</span></p>
                    <h2 class="strawberri">Strawberries</h2>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Strawberries are rich in alpha-hydroxy acids which help exfoliate the skin.
                      So fresh strawberry masks are great for people with dull, damaged or acne-prone skin.</h3>
                    <p>Ingredients:
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1/2 tsp lemon juice</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1 egg white</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1.5 tsp honey</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1/2 cup strawberries</span>
                    </p>
                    <p>Do this:<span>Mash and mix the lemon juice, egg white, honey and strawberries. Apply to your face and leave it on for at least 10 minutes. Rinse off.</span></p>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/facialmasks_wrapperimg4.png" alt="#" class="facialmasks_wrapperimg4">
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 facialmasks_wrapperimg4btm">
                    <h2>Sugar mask</h2>
                    <p>This is a really great face scrub. Sugar is known to soften and smooth the skin, and it also gives you a healthy glow.</p>
                    <p>Ingredients:
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1 cup of brown sugar</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1-3 table spoons of milk</span>
                    </p>
                    <p>Do this: <span>Mix and apply to your face for 15 minutes. Then scrub it off with a wet wash cloth. Simple and effective!</span></p>
                    <h2>Oatmeal scrub</h2>
                    <p>Oatmeals grainy substance makes for a great scrub. Oats also removes and absorbs surface dirt and any impurities, gently exfoliate, deep clean your pores, and most importantly softens and hydrates your skin.</p>
                    <p>Ingredients:
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">2 tablespoons of oatmeal</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">Yogurt</span>
                    </p>
                    <p>Do this: <span>Grind the oatmeal and mix with yogurt to a paste. (The amount of yogurt depends on how thick it is; mix with a little bit at a time until you get a good consistency .) Apply to your face and massage gently. Leave on your face for 10 minutes, then rinse off.</span></p>
                    <h2>Oatmeal and Almond</h2>
                    <p>Oatmeal is great for acne-prone skin because it absorbs oil from the skin’s surface. This mask makes your skin feel very smooth.</p>
                    <p></p>
                    <p>
                      Ingredients:
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1 tablespoon of almond</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">2 tablespoons oatmeal</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">3-5 tablespoons water</span>
                    </p>
                    <p>Do this: <span>Cook a small portion of instant oatmeal porridge. (No salt added.) Grind the almonds in a blender to a fine meal. Mix together with the porridge. Apply when cool enough and leave on for 10-15 minutes. Rinse off.</span></p>
                  </div>
                </div>
              </div>
              <img src="assets/images/facialmasks_wrapperimg5.png" alt="#" style="width:100%;">
            </div>






          </div>
        </div>
      </div>


      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="eyesheading lyfehairhandhead">
              <h1>Eyes</h1>
            </div>

            <div class="eyes_wrapper lyfehairhandcontent">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <h2>Say yes to a helping hand</h2>
                    <p>It is said that cucumber is great in helping reduce swelling or puffiness
                      around the eyes or getting rid of dark circles under your eyes.</p>
                    <p>
                      Ingredients:
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">1/2 cucumber</span>
                      <span><img src="assets/images/lyfehairhand-bodyrightblockcon1contenttextno4.png" alt="#">Rose water</span>
                    </p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="container eyes_wrapperbtm">
                    <div class="row">

                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 blackteatext">
                        <h2>Black tea</h2>
                        <h1>Black tea bags are great for getting rid of the dark circles under your eyes,
                          try this out!
                        </h1>
                        <p>Do this: <span>Prepare black tea (do not add milk) 
and allow it to cool. Soak cotton 
balls in cold tea and use as eyes pads.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>






          </div>
        </div>
      </div>





    </div>
  </div>
</div>


<div class="clearfix"></div>
<!--
<div class="container-fluid lyfehairhand-bodybottomwrapper">
<div class="row">
<div class="col-lg-6 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomwrappercon">
<img src="assets/images/lyfehairhand-epiclogo.png" alt="#" />
<h1>Join us and build your own Epic Lyfe today!</h1>
</div>
<div class="clearfix"></div>
</div>
</div>    

<div class="container-fluid lyfehairhand-bodybottomcontent">
<div class="row">
<div class="col-lg-4 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomman">
<img src="assets/images/lyfehairhand-bodybottomman.png" alt="#" />
</div>
<div class="col-lg-7 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomtext">
<h1>create your own</h1>
<h2>epic lyfe</h2>
<h3>We are the relationship marketing company<br /> 
for the new millennium.</h3>
<div class="clearfix"></div>
<div class="distribute">

<a href="#">Join as a Distributor Today!</a>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
										

<div class="container lyfehairhand-footerwrapper">
<div class="row">
<div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
<a href="#">Home</a><span>|</span>
<a href="#">Login</a><span>|</span>
<a href="#">Contact Us</a><span>|</span>
<a href="#">Terms & Conditions</a><span>|</span>
<a href="#">Privacy Policy</a>
</div>
<div class="col-lg-3 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
<p>Copyright © Epic Lyfe 2015</p>
</div>
</div>
</div>
-->





<script>
    $(document).ready(function(){


        $('.lyfehairhandhead').click(function(){
            var curhead = $(this);
            if($(this).next('.lyfehairhandcontent').is(':hidden')){
                $('.lyfehairhandcontent').slideUp();
                $(this).next('.lyfehairhandcontent').slideDown('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });

            }else{
                $(this).next('.lyfehairhandcontent').slideUp('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });
            }
        });

    });

</script>					