<!--
<p>
  hairhandsnailsfeet works!
</p>
-->
<div class="container-fluid lyfehairhandbanner-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container lyfehairhand-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/beautiful">--><a [routerLink]="['/beautiful']"><img src="assets/images/lyfehairhand-bodyleftblockimg1.png" alt="#"></a>
      <!--<a href="/hairhandsnailsfeet">--><a [routerLink]="['/hairhandsnailsfeet']"><img src="assets/images/lyfehairhand-bodyleftblockimg2.png" alt="#"></a>
      <!--<a href="/home_beauty_remedies">--><a [routerLink]="['/homebeautyremedies']"><img src="assets/images/lyfehairhand-bodyleftblockimg3.png" alt="#"></a>
      <!--<a href="/newmomsguide">--><a [routerLink]="['/newmomsguide']"><img src="assets/images/lyfehairhand-bodyleftblockimg4.png" alt="#"></a>
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/lyfehairhand-bodyleftblockimg5.png" alt="#"></a>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblock">

      <img src="assets/images/lyfehairhand-bodyrightblockimg1.png" class="lyfehairhand-bodyrightblockimg1" alt="#">
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon1 lyfehairhandhead">
              <h1>Hair care</h1>
            </div>

            <div class="lyfehairhand-bodyrightblockcon1content lyfehairhandcontent">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <h1>Hair Care</h1>
                    <ul>
                      <li><span>Know your type- Make sure you know what type of hair you have oily, dry, or normal and care for it accordingly:    Begin by using the proper shampoos and conditioners for your particular type of hair.</span></li>
                      <li><span>Avoid using blow-dryers or straightening irons on your hair. Save yourself from the damaging effects of continually straightening and curling your hair and your locks will be at their healthiest! If you must, use protecting 
serum to conserve your hair from the damaging effect heat can do to your hair. If you really care for your locks, don’t put the tool on highest heat setting.<span></span></span></li>
                      <li><span>Always use a wide-toothed comb- Avoid using a brush when it’s wet. Also, try not to comb your hair when it is dripping wet.This leads to unwanted breakage since wet hair is quite fragile and brittle.Care for your hair from the inside and outside. Drink at least eight glasses of water a day to keep hydrated. Eat fresh fruits and 
vegetables to improve the health of your hair. Avoid foods that contain too much oil, as these may make your hair oily.</span></li>
                      <li><span>Deep-condition your hair. Indulge in a deep-conditioning 
treatment. If you can afford it, splurge on a salon treatment 
every six weeks.</span></li>
                      <li><span>Protect your hair from the elements. Avoid going out in 
heavy wind or harsh sun and if you can’t avoid it, then be sure 
to cover your hair with a scarf or hat before you step out.
 This will protect your hair and help minimize the damage.</span></li>
                      <li><span>A hot-oil massage will rejuvenate your hair, it will also give it 
a healthy and glossy sheen.</span></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon2 lyfehairhandhead">
              <h1>nails</h1>
            </div>

            <div class="lyfehairhand-bodyrightblockcon2content lyfehairhandcontent">
              <h1>Nails</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <ul>
                      <li><span>Do wear a sunscreen during the day on your hands and cuticles to prevent sun damage, which can hurt your nails. Reapply every time you wash your hands.</span></li>
                      <li><span>Don't use nail products that contain formaldehyde or toluene. They pose health risks for the nail and for your entire body as well.</span></li>
                      <li><span>Do coat the outside of the nails with polish or ridge fillers, this helps protect the nail and prevent breaking and splitting, at least while the manicure lasts.</span></li>
                    </ul>
                    <div>
                      <div class="clearfix"></div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px; overflow:visible; position:relative;">
                        <ul class="lyfehairhand-bodyrightblockcon1contentlistitem">
                          <li><span>Do moisturize your cuticles to prevent cracking and peeling</span></li>
                          <li><span>Do wear gloves while doing housework, while gardening, 
and washing dishes.</span></li>
                          <li><span>Don't use fingernails as tools to pry things open.</span></li>
                          <li><span>Don't use your fingers as letter openers. 
That destroys the cuticles, which destroys the 
nail matrix and affects nail growth and strength.</span></li>
                          <li><span>Don't soak nails for long periods, and never 
use any kind of soap or detergent when 
soaking. Nails and cuticles that become 
engorged with water weaken, and the longer 
soap or detergent is in contact with skin and nails 
(despite the advertisements for Palmolive 
dish detergent) the greater the potential for 
damaging the nail and cuticle structure.</span></li>
                          <li><span>Don't overuse any kind of nail-polish remover. 
Use a minimal amount on the nail and avoid 
getting too much on the cuticle and skin.</span></li>
                          <li><span>Don't push the cuticle back too far. Leave the cuticle 
alone as much as possible. Trim only the part of the cuticle that has started to lift away from the nail.</span></li>

                        </ul>


                        <div class="clearfix"></div>
                      </div>
                      <ul>
                        <li><span>Don't allow any manicurist to touch your hands with utensils that have not been properly sterilized. The importance of this step cannot be stressed enough. Risking your health and well-being for a manicure is just not worth it, and that is a definite possibility with 
bacteria-laden nail instruments!</span></li>
                        <li><span>Don't pull or tear at hangnails. Always gently cut them away, leaving the cuticle intact and as untampered with as possible.
Don't ignore nail or cuticle inflammation. Disinfect the skin as soon as you can with an antibacterial or antifungal agent. Any change to the nail's appearance needs to be checked out by a dermatologist.</span></li>
                        <li><span>Do apply hand cream frequently, especially after you're done washing your hands, and pay attention to the cuticle area.</span></li>
                        <li><span>Do be cautious when doing office work. Nails and cuticles take a beating filing, opening letters (use a letter opener), typing,(use the flat of your finger pads on the keyboard instead of the tips of your nails) and handling papers.
</span></li></ul>

                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>


      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon3 lyfehairhandhead">
              <h1>Hands</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon3content lyfehairhandcontent">
              <h1>Hands</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <h2>Maintain Healthy Hands</h2>
                    <ul>
                      <li><span class="bodyrightblockcon3text">Moisturizing: </span><p>Apply hand cream throughout the day and make sure it's thick, advises spa owner and skin expert. You don't want a lotion. Use a cream," she says, and adds, "A number of great creams come in small packages. Look for hyaluronic acid on the package; it holds 400 times its weight in water." Barielle Intensive Hand Treatment Cream is a richly emollient moisture treatment that helps heal rough, dried and chapped hands. It contains oat beta glucan, which is reputed to act as a natural anti-irritant, safe for even the most sensitive skin. The product also promises to prevent redness and drying. For the best results, microwave the cotton gloves (included in the box) for 10 to 15 seconds. After applying the cream, put on the gloves and allow the cream to
                        penetrate overnight.</p></li>
                      <li><span class="bodyrightblockcon3text">Exfoliate: </span><p>Skin that looks old or sallow can often easily be
                        rejuvenated by removing patches of dead skin cells from the skin's surface. Alpha-hydroxy acids, or AHAs, work by dissolving the "glue" that holds dead skin cells to your skin. Unlessotherwise stated, it may be best to use these products at night because they can actually make your skin more sensitive to sun exposure. Look for glycolic acid on the label in products.<br><br>

                        Just as you exfoliate the skin on your face, you need to remove the top layer of skin on your hands to reveal the fresh skin
                        underneath. At home, you can use microdermabrasion crystals or even 1 teaspoon of sugar combined with coconut oil. While these treatments will not remove brown spots, they will leave your skin looking smoother and softer. The key is to exfoliate on a regular basis.<br>
                        An at-home alternative is to apply fresh lemon juice to your hands for as long as you can tolerate and rinse off. The citric acid in lemon juice is a mild exfoliator.</p></li>

                      <li><span class="bodyrightblockcon3text">Pamper: </span><p>Wear gloves whenever you do the dishes or otherwise expose your hands to a lot of water. Use a thick cream like Aquaphor or any oil, such as olive and coconut, under your gloves for a moisture treatment. Also If you use antioxidant serums on your face, you can use those on your hands as well. Apply these serums at night before moisturizer and during the day before your SPF</p></li>
                    </ul>


                    <div>

                    </div>


                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon4 lyfehairhandhead">
              <h1>Feets</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon4content lyfehairhandcontent">
              <h1>Feets</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <h2>Maintain Healthy Feet</h2>
                    <ul>
                      <li><span>Inspect your feet regularly and pay attention to changes in color and texture.</span></li>
                      <li><span>Maintain good foot hygiene, including washing and drying between the toes is important.</span></li>
                      <li><span>Hydrate the skin. It is helpful to replace the moisture content by using lotions or creams on a regular basis.</span></li>
                      <li><span>Cut toenails straight across. Never cut into the corners - this could cause an ingrown toenail. Gently file away sharp corners or rough edges with an emery board.</span></li>
                      <li><span>Exercise. Walking is a great way to keep weight under control and is an excellent conditioner for the feet. Be sure to wear appropriate athletic shoes when 
exercising.</span></li>
                      <li><span>Alternate your shoes each day. Since the feet have sweat glands, your shoes will absorb moisture from your feet, so it is important to allow your shoes to dry out completely.</span></li>
                      <li><span>Avoid walking barefoot to help protect your feet from injury and infection.</span></li>
                      <li><span>Hydrate the skin. It is helpful to replace the moisture content by using lotions or creams on a regular basis.</span></li>


                    </ul>
                    <p>Your feet have sweat glands galore - 250,000 in each foot! Perspiration creates the perfect environment for bacteria to set up shop. Wearing socks that keep feet dry will help your feet stay healthy.. Also avoid wearing excessively tight pantyhose, which trap moisture.<br><br>
                      Do not try hiding ugly toe nails with Nail Polish. A discolored, thick, cracked, or
                      crumbling nail could signal a nail fungus. Applying nail polish to an infected nail could make the problem worse.</p>
                    <img src="assets/images/lyfehairhand-bodyrightblockcon4contentbtmimg.png" class="lyfehairhand-bodyrightblockcon4contentbtmimg" alt="#">
                    <div>
                      <div class="clearfix"></div>
                    </div>


                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="container lyfehairhand-bodyrightblock2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon">

            <div class="lyfehairhand-bodyrightblockcon5 lyfehairhandhead">
              <h1>Chemicals to avoid</h1>
            </div>
            <div class="lyfehairhand-bodyrightblockcon5content lyfehairhandcontent">
              <h1>Chemicals to Avoid</h1>
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Fragrance and Dyes:</span><p>which can lead to allergies,
                        cancer and problems of the nervous system</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Methylchloroisothiazolinone and 
Methylisothiazolinone:</span><p>which <br><br>
                        can cause allergies and problems of the nervous system</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Parabens or “-Parben”:</span><p>which can lead to hormone disruption</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Triethanolamine (TEA): </span><p>which can cause allergies and contain
                        toxic contaminants</p></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="lyfehairhand-bodyrightblockcon5content2">
                      <li><span>Triclosan:</span><p>Synthetic Antibacterial ingredients. EPA registers it as pesticide. Posing risk to human health and environment. Classified as a chlorophenol, chemical suspected in causing cancer to humans.
                        Sodium Lauryl Sulfate (SLS) Sodium Laureth Sulfate (SLES): Used in car washes, garage floor cleaner, engine degreasers and 90% of personal- care products that foam. Eye damage, depression, labored breathing, diarrhea, skin irritation and death.</p></li>
                    </ul>
                    <div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon5contentimg1con">
                    <img src="assets/images/lyfehairhand-bodyrightblockcon5contentimg1.png" alt="#">
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Phthalates:</span><p>Found in many products, not always listed on the labels. Health effects include damage to the kidney, live, birth effects, decreased sperm counts and early breast development in not only girls but boys as well.</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Benzoyl Peroxide:</span><p>used in acne products, the MSDS states: possible tumor promoter. May act as a mutagen: produces DNA damage in humans and mammalian cells. Also, toxic by inhalation. Eye, skin, and respiratory irritant.</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">DEA (Diethanolamine):</span><p>MEA ( Monoethanolamine), TEA (Triethanolamine): This foam booster is a skin/ eye irritant and causes dermatitis. Easily absorb thru the skin to accumulate in body organs and brain.</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Dioxin:</span><p>won't appear in ingredients. Often in antibacterial ingredients like triclosan, emulsifiers, PEGS, and ethoxylated cleansers like sodium laureth sulfate. Dioxin causes cancer, reduces immunity, nervous system disorders, miscarriages, and birth defects</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Propylene Glycol (PG) & Butylene Glycol:</span><p>Petroleum plastics, EPA considers PG so toxic, it requires gloves, clothing, goggles, and disposal by burying. EPA warns against skin contact to prevent brain, liver and kidney abnormalities.</p></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="lyfehairhand-bodyrightblockcon5content2">
                      <li><span>Sunscreen Chemicals:</span><p>Avobenzone, benzophenone, methoxycinnamate, PABA are commonly used ingredients that are known free radical generators and are believed to damage DNA or lead to cancer.</p></li>
                      <li><span>PEG (Polyethylene Glycol):</span><p>Made by ethoxylating Propylene Glycol. Dangerous level of dioxin have been found as a by-product of the ethoxylation process. PEGs are in everything including personal, baby care and sunscreens.</p></li>
                      <li><span>DMDM hydantoin & Urea (Imidazolidinyl):</span><p>2 preservatives that release formaldehyde which may cause joint pain, cancer, skin reaction, allergies, depression, headaches, chest pains, ear infections, chronic fatigue, insomnia, and dizziness.</p></li>
                      <li><span>FD&C Color and Pigments:</span><p>Synthetic colors from tar coal contain heavy metal salts that deposits toxins in the skin, causing skin sensitivity. Absorption can cause depletion of oxygen and lead to death. Animal studies show almost all are carcinogenic</p></li>
                      <li><span>Parabens:</span><p>(Methyl, Butyl, Ethyl, Propyl): Used as a preservative. Not always labeled. Used in deodorant and other skin care products, have been found in breast cancer tumors. May contribute to sterility in men, hormone imbalance in females and early puberty.</p></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container lyfehairhand-bodyrightblockcon5content4">
                <div class="row">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Petrolatum:</span><p>Also known as petroleum jelly, this is a mineral oil derivative that can clog your pores. This in turn disrupts your body's natural ability to moisturize its own skin, leading to dryness and chapping. Manufacturers use it because it's really inexpensive.</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">Synthetic Fragrances:</span><p>Labeled simply as "fragrance," there's no way to tell what chemicals are actually in the product. People can get headaches, dizziness, rashes, and respiratory problems from them. People may also experience hyper-pigmentation, which means this chemical may cause brown spots to form on your skin.</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">PVP/VA Copolymer:</span><p>A petroleum-derived chemical that's used in hair styling products and some cosmetics. Considered toxic since if inhaled, it can damage the lungs.</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">BENZAL :</span><p>(in: perfume, cologne, hair spray, laundry bleach, deodorants, detergent, vaseline lotion, shaving cream, shampoo, bar soap, dishwasher detergent)<br>
                        Narcotic. Sensitizer. "Local anesthetic, CNS depressant"... "irritation to the mouth, throat, eyes, skin, lungs, and GI tract, causing nausea and abdominal pain." "May cause kidney damage." "Do not use with contact lenses."</p></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="lyfehairhand-bodyrightblockcon5content2">
                      <li><span>CAMPHOR:</span><p>(in: perfume, shaving cream, nail enamel, fabric softener, dishwasher detergent, nail color, stickup air freshener) "local irritant and CNS stimulant" ..."readily absorbed through body tissues" ..."irritation of eyes, nose and throat" ..."dizziness, confusion, nausea, twitching muscles and convulsions" "Avoid inhalation of vapors."</p></li>
                      <li><span>ETHANOL:</span><p>(in: perfume, hairspray, shampoo, fabric softener, dishwashing liquid and detergent, laundry detergent, shaving cream, soap, vaseline lotion, air fresheners, nail color and remover, paint and varnish remover) On EPA Hazardous Waste list; symptoms: "...fatigue; irritating to eyes and upper respiratory tract even in low concentrations..." "Inhalation of ethanol vapors can have effects similar to those characteristic of ingestion. These include an initial stimulatory effect followed by drowsiness, impaired vision, ataxia, stupor..." Causes CNS disorder.</p></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyrightblockcon5contentimg1con">
                    <img src="assets/images/lyfehairhand-bodyrightblockcon5contentimg2.png" alt="#">
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">ETHYL ACETATE:</span><p>(in: after shave, cologne, perfume, shampoo, nail color, nail enamel remover, fabric softener, dishwashing liquid) Narcotic. On EPA Hazardous Waste list; "...irritating to the eyes and respiratory tract" ..."may cause headache and narcosis (stupor)" ..."defatting effect on skin and may cause drying and cracking"
                        ..."may cause anemia with leukocytosis and damage to liver and kidneys" "Wash thoroughly after handling."</p></li>
                      <li><span class="lyfehairhand-bodyrightblockcon5contentext">STEARALKONIUM CHLORIDE:</span><p>A chemical used in hair
                        conditioners and creams. Causes allergic reactions. Stearalkonium chloride was developed by the fabric industry as a fabric softener, and is a lot cheaper and easier to use in hair conditioning formulas than proteins or herbals, which do help hair health.</p></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="clearfix"></div>
<!--
<div class="container-fluid lyfehairhand-bodybottomwrapper">
<div class="row">
<div class="col-lg-6 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomwrappercon">
<img src="assets/images/lyfehairhand-epiclogo.png" alt="#" />
<h1>Join us and build your own Epic Lyfe today!</h1>
</div>
<div class="clearfix"></div>
</div>
</div>    

<div class="container-fluid lyfehairhand-bodybottomcontent">
<div class="row">
<div class="col-lg-4 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomman">
<img src="assets/images/lyfehairhand-bodybottomman.png" alt="#" />
</div>
<div class="col-lg-7 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 lyfehairhand-bodybottomtext">
<h1>create your own</h1>
<h2>epic lyfe</h2>
<h3>We are the relationship marketing company<br /> 
for the new millennium.</h3>
<div class="clearfix"></div>
<div class="distribute">
<a href="#">Join as a Distributor Today!</a>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
										

<div class="container lyfehairhand-footerwrapper">
<div class="row">
<div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
<a href="#">Home</a><span>|</span>
<a href="#">Login</a><span>|</span>
<a href="#">Contact Us</a><span>|</span>
<a href="#">Terms & Conditions</a><span>|</span>
<a href="#">Privacy Policy</a>
</div>
<div class="col-lg-3 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
<p>Copyright © Epic Lyfe 2015</p>
</div>
</div>
</div>
-->





<script>
    $(document).ready(function(){

      /*$( "#lyfehairhand-bodyrightblockcon1" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon1content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon2" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon2content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon3" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon3content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon4" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon4content" ).toggle( ).delay( 3000 );
       });

       $( "#lyfehairhand-bodyrightblockcon5" ).click(function() {
       $( "#lyfehairhand-bodyrightblockcon5content" ).toggle( ).delay( 3000 );
       });*/

        $('.lyfehairhandhead').click(function(){
            var curhead = $(this);
            if($(this).next('.lyfehairhandcontent').is(':hidden')){
                $('.lyfehairhandcontent').slideUp();
                $(this).next('.lyfehairhandcontent').slideDown('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });

            }else{
                $(this).next('.lyfehairhandcontent').slideUp('slow',function(){
                    $('html,body').animate({scrollTop:curhead.offset().top},'slow');
                });
            }
        });

    });

</script>					