<!--
<p>
  fitness works!
</p>
-->
<div class="fitness-bannerwrapper" style="width:100%;">
  <img src="assets/images/Fitness-bannerbg.png" style="width:100%;" alt="#">
</div>
<!--<div class="fitness-bodywrapper" style="width:1200px; margin:0 auto;">
	<img src="assets/images/Fitness-bodyimg.png" style="width:100%;" alt="#" />
</div>-->

<div class="fitness-bodywrapper">
  <div class="mainwrapper">



    <div class="fitness-bodywrappercon">
      <div class="fitness-bodywrapperconleft">
        <div class="fitness-bodywrapperconleftimg">
          <img src="assets/images/fittness-bodywrap-img1.png" alt="#">
        </div>
        <div class="fitness-bodywrapperconleftimg">
          <img src="assets/images/fittness-bodywrap-img2.png" alt="#">
        </div>
      </div>
      <div class="fitness-bodywrapperconright">
        <div class="fitness-bodywrapperconrightimg">
          <img src="assets/images/fittness-bodywrap-img3.png" alt="#">
        </div>
      </div>
      <div class="clear"></div>
      <div class="fitness-bodywrapperconleft">
        <img src="assets/images/fittness-bodywrap-img4.png" alt="#">
      </div>
      <div class="fitness-bodywrapperconright">
        <div class="fitness-bodywrapperconrighttext">

          <h1><a class="" href="javascript:void(0)" (click)="openpopup1()">PREVIOUS
            CHALLENGES</a></h1>


          <div id="popup1" class="overlay">
            <div class="popup">

              <a class="close" href="/fitness-new">×</a>
              <img src="assets/images/TeamSadie5kBeginners.jpg" alt="#">
            </div>
          </div>
        </div>
        <div class="fitness-bodywrapperconrighttextbtmimg">
          <img src="assets/images/fittness-bodywrap-img5.png" alt="#">
        </div>
      </div>
      <div class="clear"></div>

      <div class="fitness-bodywrapperconleft">
        <div class="fitness-bodywrapperconleftimg">
          <img src="assets/images/fittness-bodywrap-img6.png" alt="#">
        </div>
        <div class="fitness-bodywrapperconlefttext">
          <h1><a class="selected_obj" href="javascript:void(0)" (click)="openpopup2()" style="">CURRENT CHALLENGE</a></h1>
          <!--<div class="modal fade">
          <div id="popup2" class="overlay">
            <div class="popup">
              <a class="close" href="/fitness-new">×</a>
              <img src="assets/images/sadie abs.png" alt="#">
            </div>
          </div>
        </div>-->
        </div>
      </div>
      <div class="fitness-bodywrapperconright">
        <div class="fitness-bodywrapperconrightimg">
          <img src="assets/images/fittness-bodywrap-img7.png" alt="#">
        </div>
      </div>
      <div class="clear"></div>

    </div>






  </div>
</div>


<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header hide">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <img src="assets/images/TeamSadie5kBeginners.jpg" alt="#">
      </div>
      <div class="modal-footer hide">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" role="dialog">    <!--fetching id from fitness_component_ts-->
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header hide">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <img src="assets/images/sadieabs.png" alt="#">
      </div>
      <div class="modal-footer hide">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

