<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 table-responsive">
      <h4>Admin List</h4>

      <div style=" padding-bottom: 10px; width: 100%;">

        <div class="adminserchdiv">
          <label>Search :</label> <input type="text" #listFilter (keyup)="0">
        </div>

       <!-- <a [routerLink]="['/viewreviewofemployee',item._id]">View Login Details</a>-->
        <a [routerLink]="['/addadmin']" class="adadminlink">Add Admin</a>

        <div class="clearfix"></div>
      </div>
     <div class="clearfix"></div>

      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>#</th>
            <th>Name <b [ngClass]="getSortClass('firstname')" (click)="manageSorting('firstname')" ></b></th>
            <th>Email<b [ngClass]="getSortClass('email')" (click)="manageSorting('email')" ></b></th>
            <th>Phone<b [ngClass]="getSortClass('phone')" (click)="manageSorting('phone')" ></b></th>
            <th>Added On <b [ngClass]="getSortClass('added_time')" (click)="manageSorting('added_time')" ></b></th>
            <th>Status<b [ngClass]="getSortClass('status')" (click)="manageSorting('status')" ></b></th>
            <th>Action</th>
            <!--<th>id</th>-->
          </tr>

          <tr *ngFor="let item of datalist | orderBy:orderbyquery:orderbytype |usersearch:listFilter.value; let i = index">
            <!--*ngFor= "let item of datalist | filter:query | orderBy:orderbyquery:orderbytype|paginate: { itemsPerPage: 10, currentPage: p };trackBy:item?._id">-->
            <td>{{i+1}}</td>
            <td>{{item.firstname}} {{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>

            <td>{{ item.added_time*1000 | date:'MMM d, yyyy'}}</td>
            <td><a href="javascript:void(0);" (click)="statuscng(item)">{{(item.status==1)?'Active':'Inactive'}}</a></td>
            <td>
              <a [routerLink]="['/editadmin',item._id]">Edit</a>
              <!--<a [routerLink]="['/editadmin',item._id]" *ngIf="superAdmin == 1 || item.supradmin==0">Edit</a>-->
              <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="delConfirm(item._id)">Delete</a>
              <!--<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="delConfirm(item._id)" *ngIf="superAdmin == 1 || item.supradmin==0">Delete</a>-->
            </td>
           <!-- <td>{{item._id}}</td>-->
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog"  id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this admin?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="admindel()">Yes</button>
      </div>
    </div>
  </div>
</div>
