<!--
<p>
  advance-abs works!
</p>
-->
<div class="container-fluid advance_abs-wrapper">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 lyfehairhandbannertopcon">
          <h1>Life<span>Performance</span></h1>
          <h2>beautiful<span>life</span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <p class="pull-right lyfehairhandbannertopconright">look at me</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container advance_abs-bodywrapper">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 lyfehairhand-bodyleftblock">
      <!--<a href="/bridal_home">--><a [routerLink]="['/bridalhome']"><img src="assets/images/bridal_left1.png" alt="#"></a>
      <!--<a href="/bridal_massage">--><a [routerLink]="['/bridalmassage']"><img src="assets/images/bridal_left2.png" alt="#"></a>
      <!--<a href="/bridal_yoga">--><a [routerLink]="['/bridalyoga']"><img src="assets/images/bridal_left3.png" alt="#"></a>
      <!--<a href="/advance_abs">--><a [routerLink]="['/advanceabs']"><img src="assets/images/bridal_left4.png" alt="#"></a>
      <!--<a href="/stress_management">--><a [routerLink]="['/stressmanagement']"><img src="assets/images/bridal_left5.png" alt="#"></a>
      <!--<a href="/perfect_posture">--><a [routerLink]="['/perfectposture']"><img src="assets/images/bridal_left6.png" alt="#"></a>
      <!--<a href="/scents_relaxation">--><a [routerLink]="['/scentsrelaxation']"><img src="assets/images/bridal_left7.png" alt="#"></a>

    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 advance_abs-bodyright">
      <div class="advance_abs-bodyrightcontent">
        <img src="assets/images/advance-img1.png" alt="#" class="advance-img1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="content-head">
                <h1>Advanced Abs for Brides</h1>
              </div>
              <div class="bride-block">

                <h2><span>Research confirms what everyone in the gym knew; that ab muscles are the most important physical indicator of everyday fitness.  Whether it a shirtless male or a female in a bikini, everyone's eyes goes to the abs first.  The better the abs; the more attractive the body is judged.  It may not be fair, but it's a reality.  To look great in your wedding dress and in that swimsuit on the honeymoon, well defined abdominals are especially important.</span>

                  <span>The "Abs" are really a combination of a number of different muscles located at the midsection of your body.
Practically speaking, there are three main groups: the rectus abdominus, the obliques and the intercostals. </span>
                  <span>The largest most apparent abdominal muscle group is the rectus abdominis. The rectus abdominis is a huge, flat muscle covering almost the entire front of your "stomach" area between the lower ribcage and your hips.
</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container advance_abs-bodyrightblock2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 advance_abs-bodyrightblock2con">
              <h2><span>A second main set of muscles which comprise the "abs" are located at the sides of your waist. These muscles are referred to as the external obliques however they really consist of three separate muscle groups: the internal obliques, transverse obliques and the external obliques.</span>

                <span>A final set of muscles which compose the "abs" are the intercostals. The intercostals run diagonally down the sides of the upper end of your 
midsection right below the ribcage.  These are normally the last muscles to appear to the naked eye, only visible in people who have taken the time to develop them properly. </span></h2>
              <h3><img src="assets/images/advance-img3.png" alt="#" class="advance-img3"><span>Aside from the very important 
appearance factor, having well developed abs is important for freedom from lower back pain and injury. You may not be aware of it but many lower back problems come from poor abdominal development rather than from weak spinal erectors (lower back muscles).  Great abs are also important for sport performance and for anyone who spends a lot of uninterrupted time either sitting still or on their feet.</span></h3>
              <h4><span>When it comes to training your abs there is a lot of conflicting information 
as to what the better exercises are to perform, the number of exercises, 
sets and repetitions that comprise the best ab workout and how many times 
a week the abs should be worked.  All of this can be cleared up easily but let’s first start with the basics.</span>

                <span>The most important thing to understand is that achieving great ab muscles is not simply about working on those muscles. Great abs come as much from diet as they do exercise.  If your abs develop underneath a layer of abdominal fat; then you will actually appear heavier than you did without the new ab muscles.  The reality is that in order to achieve that six pack look you must have low body fat percentages.</span>

                <span>Assuming you are committed to the proper diet and that your body fat is low , developing the abs is just a matter of investing a lot of energy into the correct training program over a short time period.  When exercised properly, the abs will define relatively fast.

</span></h4>
            </div>
          </div>
        </div>
        <div class="container advance_abs-bodyright3">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 advance_abs-bodyright3con">
              <h2><span>&nbsp; &nbsp; &nbsp; &nbsp; The amount of abdominal training you need to do is dictated by what your specific goals are.  If you are looking to flatten your tummy a little then you might be able to achieve that with 8-10 minutes of work 2 times weekly.  If you are looking for that awesome, lean, six pack look then you had better be prepared to blast train your abs three times a week for 20 minute ab sessions.  If you think that you can achieve magazine type results with some "TV gizmo" or "
infomercial whatchamacallit" you will be sadly disappointed. Great, rock hard abs can only be attained through hard, often strenuous abdominal workouts.</span>

                <span>Let's focus on the ideal method for obtaining that 6 pack look.  For the purposes of this discussion we are going to focus specifically on the abs but in reality it is very important for you to train all your core muscles including the abs.  Knowing that and assuming that you have a decent core training program in place, we can drill down on the abs.</span>

                <span>Research shows that there is no one best answer for everyone but in general the most correct way of training the abs for most people most of the time would incorporate the following guidelines: </span></h2>
              <div class="advance_abs-bodyright3conlist">
                <ul>
                  <li>Each abdominal workout should last about 20 minutes in length.</li>
                  <li>Each session should incorporate 2-3 different movements or exercises.</li>
                  <li>You should avoid weight bearing exercises at the start.</li>
                  <li>Each exercise should have 2, sometimes 3 sets depending on fatigue.</li>
                  <li>Each set should contain a minimum of 20 reps and a maximum of 50 reps.</li>
                  <li>You should work on your abs 2-3 sessions per week, alternating exercises</li>
                  <li>so that you never do the same exercises two workouts in a row.</li>
                  <li>You should work your abs to exhaustion.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container advance_abs-bodyright4">
          <div class="row">
            <div class="col-lg-12 col-md-132 col-sm-12 col-xs-12 advance_abs-bodyright4con">
              <h2><span>There you have it; the guidelines to the best abdominal workout.  Simple to understand, right?  You will know you are on target if you feel a deep satisfying "burn" in each muscle group during every set.  Further, after each abs session your muscles should look and feel pumped similar to other muscle groups.</span>

                <span>Moving on to the actual exercises, yes, some exercises are better than others; however, we believe that everyone should experiment with different exercises to see which ones work best for them. The key is mental concentration.  Research has demonstrated that muscle fiber recruitment is dictated most specifically by what area of the abs you are thinking about during ab training.  For example, a set of crunches will recruit more upper ab fibers if you think about upper abs while the same set will recruit more lower ab fibers if you concentrate mentally on your lower abs.  A favorite "trick" during each individual rep is to hold and squeeze the contraction phase for a count of 2 or 3.  Doing that forces you to think of the specific area being worked.</span>

                <span>Choosing exercises that balance your upper and lower abs each day is important.  A balanced approach to training will help you to avoid injury and will actually improve other aspects such as your posture.  An unbalanced approach between the "upper" and "lower" abs, on the other hand could actually worsen your posture. For example, if your "upper" abs develop compared to your lower abs, the pull of the hip flexors will increase and cause your belly to stick further out. Or worse, pelvic instability could result which could cause you to appear as if your back was arched.</span>

                <span>We mentioned earlier that there are some ab exercises that are better than others.  The best exercises are always the ones that you enjoy doing so you should experiment a bit with various exercises to see which work best for you.  Some of the better general abs exercises are the Bicycle, Captain's Chair or Vertical Knee Raise, Hanging Knee Raise, Basic Crunch, Ball Crunch, Double Crunch, Reverse Crunch, and Ab Curl.  We have provided video for the better ab exercises that you can do at home.  One sample workout might be to do the Bicycle and Ball Crunch one day and the Double Crunch and Ab Curl a second day.  Whatever your specific exercise choice; remember to always vary the routines for best results. </span></h2>
            </div>
          </div>
        </div>
      </div>
      <!--<img src="assets/images/advance_abs-img.png" alt="#" style="width:100%;" />-->
      <img src="assets/images/advance_abs-bottomimg.png" alt="#" class="advance_abs-bottomimg">

    </div>


    <div class="clearfix"></div>
  </div>
</div>					